<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{accountController.populateBusiness}"/>
            </f:metadata>

            <ui:define name="title">
                Account Home
            </ui:define>

            <ui:define name="page-title">
                Account Home
            </ui:define>

            <ui:define name="content">
                <h:form id="accountHome">
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <h:panelGroup class="col-sm-11">
                            <h:panelGrid style="padding-right: 15px;" columns="3">
                                <h:panelGrid style="margin-right: 5px;">
                                    <label>Choose a Business</label>
                                </h:panelGrid>
                                <h:panelGrid style="margin-right: 5px;">
                                    <h:selectOneMenu value="#{accountController.business}" converter="omnifaces.SelectItemsConverter" class="form-control">
                                        <f:selectItem noSelectionOption="true" itemLabel="" />
                                        <f:selectItems value="#{accountController.businesses}" var="business" itemLabel="#{business.name}"/>
                                        <f:ajax render="proceed" listener="#{accountController.showProceedButton}"/>
                                    </h:selectOneMenu>
                                </h:panelGrid>
                                <h:panelGrid style="margin-right: 5px;">
                                    <h:link id="proceed" outcome="sales" disabled="#{accountController.showAccountProceedButton == false}" includeViewParams="true" value="Proceed" class="btn btn-primary">
                                        <f:param name="iquery" value="#{accountController.business.id}"/>
                                    </h:link>
                                </h:panelGrid>
                            </h:panelGrid>
                        </h:panelGroup>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
