<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{accountController.iquery}"/>
                <f:event type="preRenderView" listener="#{accountController.loadBusiness()}"/>
                <f:event type="preRenderView" listener="#{accountController.loadKiosk()}"/>
                <f:event type="preRenderView" listener="#{accountController.filterCouponTable()}"/>
            </f:metadata>

            <ui:define name="title">
                Payment
            </ui:define>

            <ui:define name="page-title">
                Payment
            </ui:define>

            <ui:define name="content">
                <h:form id="account">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="accountHome" includeViewParams="true" value="Home" class="btn btn-sm btn-default">
                                <f:param name="iquery" value=""/>
                            </h:link>
                            <h:link outcome="sales" includeViewParams="true" value="Sales" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                            <h:link outcome="settlement" includeViewParams="true" value="Settlements" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                            <h:link outcome="payment" includeViewParams="true" value="Payments" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                        </div>
                    </div>
                    <h1>#{accountController.business.name}</h1>
                    <br></br>
                    <ui:include src="snippet/dashboard.xhtml"/>
                    <h:panelGrid style="text-align:center;" columns="2">
                        <h:panelGrid style="margin-right: 50px">
                            <h1>#{accountController.usedCouponCount()}</h1>
                            <h4>Used Coupon Count</h4>
                        </h:panelGrid>

                        <h:panelGrid style="margin-right: 50px">
                            <h1>&#8358;#{accountController.usedCouponAmount()}</h1>
                            <h4>Used Coupon Amount</h4>
                        </h:panelGrid>
                    </h:panelGrid>
                    <br></br>
                    <br></br>
                    <div class="col-lg-9 col-md-5 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <h:panelGrid columns="3">
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <p:outputLabel for="dateUsed" value="Date Used" />
                                            <p:calendar id="dateUsed" value="#{accountController.tranxDate1}"/>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <label>Kiosk</label>
                                            <h:selectOneMenu value="#{accountController.kiosk}" class="form-control" converter="omnifaces.SelectItemsConverter">
                                                <f:selectItem noSelectionOption="true" itemLabel="" />
                                                <f:selectItems value="#{accountController.kiosks}" var="kiosk" itemLabel="#{kiosk.name}"/>
                                            </h:selectOneMenu>
                                        </h:panelGrid>
                                        <h:panelGrid columns="1">
                                            <h:commandButton action="#{accountController.filterCouponTable()}" value="Filter" class="btn btn-primary" />
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <div class="clearfix" style="margin-bottom: 15px;">
                            <div class="form-group-sm btn-group">
                                <h:commandButton value="Print" class="btn btn-sm">
                                    <p:printer target="tranxGroup" />
                                </h:commandButton>
                                <h:commandButton value="Export PDF" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="pdf" target="Payment" fileName="#{accountController.generateFileName('CouponOrders')}" pageOnly="false" preProcessor="#{accountController.preProcessCouponOrderPDF}" />
                                </h:commandButton>
                                <h:commandButton value="Export Excel" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="xls" target="Payment" fileName="#{accountController.generateFileName('CouponOrders')}" pageOnly="false" postProcessor="#{accountController.postProcessXLS}"  />
                                </h:commandButton>
                            </div>
                        </div>
                        <h:panelGroup id="tranxGroup"  class="col-sm-11">
                            <p:dataTable id="Payment" var="s" value="#{accountController.tranx}" rows="10" rowIndexVar="index"
                                         paginator="true" currentPageReportTemplate="Total Records: {totalRecords}"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,30">
                                <p:column width="5%" style="text-align: left" headerText="S/No">
                                    <h:outputText value="#{index + 1}" />
                                </p:column>

                                <p:column style="text-align: left" headerText="Paid Date">
                                    <h:outputText value="#{s.tranxDate}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy" />
                                    </h:outputText>
                                </p:column>

                                <p:column style="text-align: right" headerText="Discount (&#8358;)">
                                    <h:outputText value="#{s.orderItem.promotionDiscount}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>

                                <p:column style="text-align: right" headerText="Amount Paid (&#8358;)">
                                    <h:outputText value="#{s.amount}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>
                                
                                <p:column style="text-align: right" headerText="Order ID">
                                    <h:outputText value="#{s.orderItem.batchId}"/>
                                </p:column>
                                
                                <p:column style="text-align: right" headerText="Kiosk">
                                    <h:outputText value="#{s.orderItem.kiosk.name}"/>
                                </p:column>
                                
                                <p:column style="text-align: right" headerText="Coupon Code">
                                    <h:outputText value="#{s.orderItem.promoCode}"/>
                                </p:column>
                                
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
