<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{accountController.iquery}"/>
                <f:event type="preRenderView" listener="#{accountController.loadBusiness()}"/>
                <f:event type="preRenderView" listener="#{accountController.filterSales()}"/>
            </f:metadata>

            <ui:define name="title">
                Sales
            </ui:define>

            <ui:define name="page-title">
                Sales
            </ui:define>

            <ui:define name="content">
                <h:form id="account">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="accountHome" includeViewParams="true" value="Home" class="btn btn-sm btn-default">
                                <f:param name="iquery" value=""/>
                            </h:link>
                            <h:link outcome="settlement" includeViewParams="true" value="Settlements" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                            <h:link outcome="payment" includeViewParams="true" value="Payments" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                            <h:link outcome="promotion" includeViewParams="true" value="Promotion" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                        </div>
                    </div>
                    <h1>#{accountController.business.name}</h1>
                    <br></br>
                    <ui:include src="snippet/dashboard.xhtml"/>
                    <div class="col-lg-10 col-md-5 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Apply Search Data to View Sales Transaction...</div>
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <h:panelGrid columns="4">
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <h:outputLabel for="tranxDate1" value="From" />
                                            <p:calendar id="tranxDate1" value="#{accountController.tranxDate1}"/>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <h:outputLabel for="tranxDate2" value="To" />
                                            <p:calendar id="tranxDate2" value="#{accountController.tranxDate2}"/>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <h:outputLabel for="tranxRef" value="Transaction ID" />
                                            <h:inputText id="tranxRef" value="#{accountController.transactionRef}"/>
                                        </h:panelGrid>
                                        <h:panelGrid columns="1">
                                            <h:commandButton action="#{accountController.filterSales()}" value="Filter" class="btn btn-primary" />
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <div class="clearfix" style="margin-bottom: 15px;">
                            <div class="form-group-sm btn-group">
                                <h:commandButton value="Print" class="btn btn-sm">
                                    <p:printer target="tranxGroup" />
                                </h:commandButton>
                                <h:commandButton value="Export PDF" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="pdf" target="Sales" fileName="#{accountController.generateFileName('Sales')}" pageOnly="false" preProcessor="#{accountController.preProcessSalesPDF}" />
                                </h:commandButton>
                                <h:commandButton value="Export Excel" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="xls" target="Sales" fileName="#{accountController.generateFileName('Sales')}" pageOnly="false" postProcessor="#{accountController.postProcessXLS}"  />
                                </h:commandButton>
                            </div>
                        </div>
                        <h:panelGroup id="tranxGroup"  class="col-sm-11">
                            <p:dataTable id="Sales" var="s" value="#{accountController.tranx}" rows="10" rowIndexVar="index"
                                         paginator="true" currentPageReportTemplate="Total Records: {totalRecords}"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,30">
                                <p:column width="5%" style="text-align: left" headerText="S/No">
                                    <h:outputText value="#{index + 1}" />
                                </p:column>

                                <p:column style="text-align: left" headerText="Transaction ID">
                                    <h:outputText value="#{s.transactionRef}" />
                                </p:column>

                                <p:column style="text-align: left" headerText="Order ID">
                                    <h:outputText value="#{s.orderItem.batchId}" />
                                </p:column>

                                <p:column style="text-align: left" headerText="Date">
                                    <h:outputText value="#{s.tranxDate}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                    </h:outputText>
                                </p:column>

                                <p:column style="text-align: left" headerText="Payment Mode">
                                    <h:outputText value="#{s.orderItem.paymentMethod}" />
                                </p:column>

                                <p:column style="text-align: right" headerText="Amount (&#8358;)">
                                    <h:outputText value="#{s.amountBeforeCharge}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>

                                <p:column style="text-align: right" headerText="Payment Charge (&#8358;)">
                                    <h:outputText value="#{s.paymentPlatformCharge}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>

                                <p:column style="text-align: right" headerText="Balance (&#8358;)">
                                    <h:outputText value="#{s.amount}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
