<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{accountController.iquery}"/>
                <f:event type="preRenderView" listener="#{accountController.loadBusiness()}"/>
                <f:event type="preRenderView" listener="#{accountController.filterPaidTable('Pending')}"/>
            </f:metadata>

            <ui:define name="title">
                Settlement
            </ui:define>

            <ui:define name="page-title">
                Settlement
            </ui:define>

            <ui:define name="content">
                <h:form id="account">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="accountHome" includeViewParams="true" value="Home" class="btn btn-sm btn-default">
                                <f:param name="iquery" value=""/>
                            </h:link>
                            <h:link outcome="sales" includeViewParams="true" value="Sales" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                            <h:link outcome="payment" includeViewParams="true" value="Payments" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                            <h:link outcome="promotion" includeViewParams="true" value="Promotion" class="btn btn-sm btn-default" style="margin-left: 15px;">
                                <f:param name="iquery" value="#{accountController.business.id}"/>
                            </h:link>
                        </div>
                    </div>
                    <h1>#{accountController.business.name}</h1>
                    <br></br>
                    <ui:include src="snippet/dashboard.xhtml"/>
                    <div class="col-lg-7 col-md-5 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Select Settlement Date Range to View Settlements...</div>
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <h:panelGrid columns="3">
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <p:outputLabel for="tranxDate1" value="From" />
                                            <p:calendar id="tranxDate1" value="#{accountController.tranxDate1}"/>
                                        </h:panelGrid>
                                        <h:panelGrid columns="2" style="margin-right: 20px;">
                                            <p:outputLabel for="tranxDate2" value="To" />
                                            <p:calendar id="tranxDate2" value="#{accountController.tranxDate2}"/>
                                        </h:panelGrid>
                                        <h:panelGrid columns="1">
                                            <h:commandButton action="#{accountController.filterPaidTable('Pending')}" value="Filter" class="btn btn-primary" />
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <div class="clearfix" style="margin-bottom: 15px;">
                            <div class="form-group-sm btn-group">
                                <h:commandButton value="Print" class="btn btn-sm">
                                    <p:printer target="tranxGroup" />
                                </h:commandButton>
                                <h:commandButton value="Export PDF" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="pdf" target="Settlement" fileName="#{accountController.generateFileName('Settlement')}" pageOnly="false" preProcessor="#{accountController.preProcessSettlementPDF}" />
                                </h:commandButton>
                                <h:commandButton value="Export Excel" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="xls" target="Settlement" fileName="#{accountController.generateFileName('Settlement')}" pageOnly="false" postProcessor="#{accountController.postProcessXLS}"  />
                                </h:commandButton>
                            </div>
                        </div>
                        <h:panelGroup id="tranxGroup"  class="col-sm-11">
                            <p:dataTable id="Settlement" var="s" value="#{accountController.settlements}" rows="10" rowIndexVar="index"
                                         paginator="true" currentPageReportTemplate="Total Records: {totalRecords}"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,30">
                                <p:column width="5%" style="text-align: left" headerText="S/No">
                                    <h:outputText value="#{index + 1}" />
                                </p:column>

                                <p:column style="text-align: left" headerText="Settled Date">
                                    <h:outputText value="#{s.settledDate}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                    </h:outputText>
                                </p:column>

                                <p:column style="text-align: right" headerText="Income (&#8358;)">
                                    <h:commandLink action="#{accountController.fetchTransaction(s)}" value="#{accountController.formatCurrency(s.amountBeforeSplit)}">
                                        <p:ajax oncomplete="PF('tranxLogModal').show()" update="account:tranxLogModalPanel"/>
                                    </h:commandLink>
                                </p:column>

                                <p:column style="text-align: right" headerText="Split (&#8358;)">
                                    <h:commandLink action="#{accountController.fetchSplitLog(s)}" value="#{accountController.formatCurrency(s.totalSplitAmount)}">
                                        <p:ajax oncomplete="PF('splitLogModal').show()" update="account:splitLogModalPanel"/>
                                    </h:commandLink>
                                </p:column>

                                <p:column style="text-align: right" headerText="Amount To Pay (&#8358;)">
                                    <h:outputText value="#{s.amountAfterSplit}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>

                        <p:dialog header="Transaction Detail" widgetVar="tranxLogModal" id="tranxLogModalPanel" modal="true" height="500px" width="675px" showEffect="fade" hideEffect="fade" closeOnEscape="true">
                            <div class="modal-body">
                                <p:dataTable id="detailTable" var="oDetail" value="#{accountController.tranx}" rowIndexVar="index">
                                    <p:column width="10%" style="text-align: left" headerText="S/No">
                                        <h:outputText value="#{index + 1}" style="font-weight: bold"/>
                                    </p:column>

                                    <p:column style="text-align: left" headerText="Transaction ID">
                                        <h:outputText value="#{oDetail.transactionRef}" style="font-weight: bold" />
                                    </p:column>

                                    <p:column style="text-align: right" headerText="Amount (&#8358;)">
                                        <h:outputText value="#{oDetail.amount}" style="font-weight: bold">
                                            <f:convertNumber type="currency" currencySymbol=""/>
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </p:dialog>

                        <p:dialog header="Split Log" widgetVar="splitLogModal" id="splitLogModalPanel">
                            <div class="modal-body">
                                <h:panelGrid columns="2">
                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Settlement Date" />
                                    <h:outputText value="#{accountController.settlement.settledDate}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                    </h:outputText>

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount Before Split" />
                                    <h:outputText value="#{accountController.settlement.amountBeforeSplit}" >
                                        <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                    </h:outputText>

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount After Split" />
                                    <h:outputText value="#{accountController.settlement.amountAfterSplit}" >
                                        <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                    </h:outputText>
                                </h:panelGrid>
                                <br></br>
                                <h:panelGrid columns="1">
                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Split Breakdown" />
                                    <ui:repeat var="log" value="#{accountController.splitLogs}">
                                        <h:panelGrid columns="2">
                                            <h:outputText style="font-weight: bold; margin-right: 15px;" value="Name" />
                                            <h:outputText value="#{log.split.name}" />

                                            <h:outputText style="font-weight: bold; margin-right: 15px;" value="Rate" />
                                            <h:outputText value="#{log.split.splitRate}%" />

                                            <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount" />
                                            <h:outputText value="#{log.splitAmount}">
                                                <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                            </h:outputText>
                                        </h:panelGrid>
                                        <br></br>
                                    </ui:repeat>
                                    <h:outputText style="font-weight: bold;" value="Total Split Amount: &#8358;#{accountController.formatCurrency(accountController.settlement.totalSplitAmount)}" />
                                </h:panelGrid>
                            </div>
                        </p:dialog>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
