<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewParam name="bquery" value="#{businessController.bquery}" required="true" />
                <f:event type="preRenderView" listener="#{businessController.loadBusinessDetail()}"/>
            </f:metadata>

            <ui:define name="title">
                Business Detail
            </ui:define>

            <ui:define name="page-title">
                Business Detail
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true" enctype="multipart/form-data" id="businessDetailForm">

                    <div class="clearfix">
                        <h:link outcome="boManageBusiness" class="btn btn-sm btn-default">Business List</h:link>
                        <h:link outcome="boRegisterBusiness" style="margin-left: 15px;" class="btn btn-sm btn-default">Register Business</h:link>
                    </div>
                    <br></br>
                    <h:messages />

                    <div class="col-lg-6 col-md-10">

                        <div class="panel panel-default">
                            <div class="panel-heading"> Business Detail </div>
                            <div class="panel-body">
                                <ui:include src="snippet/business_info.xhtml"/>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading"> Tax Rate </div>
                            <div class="panel-body">
                                <h:panelGroup class="ui segment">
                                    <div class="form-group col-lg-6">
                                        <div class="form-group">
                                            <label>Tax Rate(%)</label>
                                            <h:inputText value="#{businessController.business.taxRate}" class="form-control"/>
                                        </div>
                                        <div class="btn-group-sm">
                                            <h:commandButton class="btn btn-sm btn-primary" value="Update" action="#{businessController.updateTaxRate}" />
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>


<!--                        <div class="modal-footer">
                            <h:commandLink onclick="PF('changeLogModal').show();" value="view log" disabled="#{portalPermissionUtil.canRead()}">
                                <f:ajax onevent="click" render="businessDetailForm:changeLogModalPanel" />
                            </h:commandLink>
                            <p:commandLink value="view log" action="#{businessController.viewLog(businessController.business.id)}"
                                                       id="edit_button" update="businessDetailForm:changeLogModalPanel"
                            oncomplete="PF('changeLogModal').show().enctype = 'multipart/form-data';"/>
                        </div>-->
                    </div>


                    <h:panelGroup class="col-lg-6 col-md-7 col-lg-push-0.5">
                        <div class="col-lg-6 ">
                            <div class="panel panel-default">
                                <div class="panel-heading text-info" style="font-weight: lighter"><i class="fa fa-cogs fa-fw text-info" ></i>Business Logo</div>
                                <div class="panel-body">
                                    <fieldset class="form-group">
                                        <label>Upload Business Logo : </label>
                                        <h:inputFile value="#{businessController.file}" class="form-control btn-file"></h:inputFile>
                                    </fieldset>
                                    <div class="btn-group">
                                        <h:commandButton value="Upload Image" action="#{businessController.uploadBusinesslogo}" class="btn btn-sm btn-primary"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-body clearfix">
                                <div class="row clearfix" >
                                    <o:graphicImage value="#{businessController.business.logo}" rendered="#{businessController.business.logo != null}" style="width: 150px;"  dataURI="true"  class="img-responsive img-thumbnail clearfix" />
                                    <br/> 
                                    <h:commandLink id="remove_item_image_button" class="text-info" value="Remove Logo" onclick="return confirm('Are you sure?');"  rendered="#{businessController.business.logo != null}" action="#{businessController.deleteBusinessLogo()}"></h:commandLink>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>

                    <h:panelGroup rendered="#{not empty kioskController.activeKiosk}" class="col-lg-6 col-md-7 col-lg-push-0.5">
                        <div class="panel panel-info">
                            <div class="panel-heading"> Business Kiosks </div>
                            <div class="panel-body">
                                <h:dataTable value="#{kioskController.activeKiosk}" var="k" class="table table-striped table-hover">
                                    <h:column>
                                        <f:facet name="header">Kiosk Name </f:facet>
    <!--                                        <h:link outcome="boKioskDetail" includeViewParams="true" value="#{k.name}">
                                            <f:param name="bquery" value="#{k.business.id}"/>
                                            <f:param name="kquery" value="#{k.id}" />
                                        </h:link> -->
                                        #{k.name}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">Date Created</f:facet>
                                            #{k.createdDate}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Type</f:facet>
                                            #{k.type}
                                    </h:column>

                                </h:dataTable>
                            </div>
                        </div>

                    </h:panelGroup>



                    <p:dialog header="Business Log" widgetVar="changeLogModal" minHeight="100" id="changeLogModalPanel">
                        <div class="modal-body">
                            <h:dataTable value="#{businessController.businessActivityLogs}" var="b" class="table table-striped">
                                <h:column>
                                    <f:facet name="header">Last Update</f:facet>
                                        #{b.modifiedDate}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Modified By</f:facet>
                                        #{b.modifiedby.firstName}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business</f:facet>
                                        #{b.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Status</f:facet>
                                        #{b.status}
                                </h:column>
                            </h:dataTable>
                        </div>
                    </p:dialog>

                </o:form>

            </ui:define>

        </ui:composition>
    </body>
</html>
