<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Manage Business
            </ui:define>

            <ui:define name="page-title">
                Manage Business
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <div class="col-lg-7 col-md-10 btn-group-sm clearfix">
                        <h:link outcome="boRegisterBusiness" value="Register Business" class="btn btn-sm btn-default"></h:link>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-lg-8 col-md-10">
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Active Business">
                                <h:dataTable value="#{businessController.activeBusinesses}" var="biz" class="table table-striped table-hover table-bordered">
                                    <h:column>
                                        <f:facet name="header">Business Name </f:facet>
                                        <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{biz.name}" disabled="#{portalPermissionUtil.canRead()}">
                                            <f:param name="bquery" value="#{biz.id}"/>
                                        </h:link> 
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Date Created</f:facet>
                                            #{biz.createdDate}
                                    </h:column>

                                    <!--                                    <h:column>
                                                                            <f:facet name="header">
                                                                                View Kiosk
                                                                            </f:facet>
                                    
                                                                            <h:link outcome="boManageKiosk" includeViewParams="true" value="View">
                                                                                <f:param name="bquery" value="#{biz.id}"/>
                                                                            </h:link> 
                                    
                                                                        </h:column>-->

                                    <h:column>
                                        <f:facet name="header">Active</f:facet>
                                            #{biz.status}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"></f:facet>
                                        <h:link outcome="boBusinessDetail" includeViewParams="true" value="Detail" disabled="#{portalPermissionUtil.canRead()}">
                                            <f:param name="bquery" value="#{biz.id}"/>
                                        </h:link>
                                    </h:column>
                                </h:dataTable>
                            </p:tab>
                            <p:tab title="Inactive Business">
                                <h:dataTable value="#{businessController.disabledBusinesses}" var="biz" class="table table-striped table-hover table-bordered">
                                    <h:column>
                                        <f:facet name="header">Business Name </f:facet>
                                        <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{biz.name}" disabled="#{portalPermissionUtil.canRead()}">
                                            <f:param name="bquery" value="#{biz.id}"/>
                                        </h:link> 
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Date Created</f:facet>
                                            #{biz.createdDate}
                                    </h:column>
                                    <!--                                    <h:column>
                                                                            <f:facet name="header">
                                                                                View Kiosk
                                                                            </f:facet>
                                                                            <h:link outcome="boKioskDetail" includeViewParams="true" value="View">
                                                                                <f:param name="bquery" value="#{biz.id}"/>
                                                                            </h:link> 
                                    
                                                                        </h:column>-->
                                    <h:column>
                                        <f:facet name="header">Active</f:facet>
                                            #{biz.status}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"></f:facet>
                                        <h:link outcome="boBusinessDetail" includeViewParams="true" value="Detail" disabled="#{portalPermissionUtil.canRead()}">
                                            <f:param name="bquery" value="#{biz.id}"/>
                                        </h:link>
                                    </h:column>
                                </h:dataTable>
                            </p:tab>
                        </p:tabView>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
