<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{businessController.resetBusiness()}"/>
            </f:metadata>
            
            <ui:define name="title">
                Register Business
            </ui:define>

            <ui:define name="page-title">
                Register Business
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data" id="registerBusinessForm">
                    <div class="col-md-8 col-sm-10 col-lg-6">
                        <div class="clearfix">
                            <h:link outcome="boManageBusiness" class="btn btn-sm btn-default">Business List</h:link>
                        </div>
                        <br></br>
                        <h:messages />
                        <div class="panel panel-default">
                            <div class="panel-heading">Register Business</div>
                            <div class="panel-body">
                                <ui:include src="snippet/business_info.xhtml" />
                            </div>
                        </div>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
