<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{transactionController.loadOrderCounts()}"/>
    </f:metadata>

    <div class="clearfix" style="margin-bottom: 10px; margin-left: 15px;">
        <div class="form-group-sm btn-group">
            <c:choose>
                <c:when test="#{view.viewId eq '/transaction/orderPending.xhtml'}">
                    <h:commandButton id="pOrder" action="boOrderPending" title="Your have #{transactionController.pendingOrderCount} pending orders" value="Pending [#{transactionController.pendingOrderCount}]"  style="margin-left: 5px;" class="btn btn-sm btn-success"/>
                </c:when>
                <c:otherwise>
                    <h:commandButton id="pOrder" action="boOrderPending" title="Your have #{transactionController.pendingOrderCount} pending orders" value="Pending [#{transactionController.pendingOrderCount}]"  style="margin-left: 5px;" class="btn btn-sm"/>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/transaction/orderReceived.xhtml'}">
                    <h:commandButton id="rOrder" action="boOrderReceived" title="Your have #{transactionController.receivedOrderCount} received orders" value="Received [#{transactionController.receivedOrderCount}]" style="margin-left: 5px;" class="btn btn-sm btn-success"/>    
                </c:when>
                <c:otherwise>
                    <h:commandButton id="rOrder" action="boOrderReceived" title="Your have #{transactionController.receivedOrderCount} received orders" value="Received [#{transactionController.receivedOrderCount}]" style="margin-left: 5px;" class="btn btn-sm"/>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/transaction/orderProcessed.xhtml'}">
                    <h:commandButton id="prOrder" action="boOrderProcessed" title="Your have #{transactionController.processedOrderCount} processing orders" value="Processing [#{transactionController.processedOrderCount}]" style="margin-left: 5px;" class="btn btn-sm btn-success"/>
                </c:when>
                <c:otherwise>
                    <h:commandButton id="prOrder" action="boOrderProcessed" title="Your have #{transactionController.processedOrderCount} processing orders" value="Processing [#{transactionController.processedOrderCount}]" style="margin-left: 5px;" class="btn btn-sm"/>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/transaction/orderShipped.xhtml'}">
                    <h:commandButton id="sOrder" action="boOrderShipped" title="Your have #{transactionController.shippedOrderCount} shipped orders" value="Ready [#{transactionController.shippedOrderCount}]" style="margin-left: 5px;" class="btn btn-sm btn-success"/>
                </c:when>
                <c:otherwise>
                    <h:commandButton id="sOrder" action="boOrderShipped" title="Your have #{transactionController.shippedOrderCount} shipped orders" value="Ready [#{transactionController.shippedOrderCount}]" style="margin-left: 5px;" class="btn btn-sm"/>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/transaction/orderDelivered.xhtml'}">
                    <h:commandButton action="boOrderDelivered" title="Delivered Orders" value="Delivered" style="margin-left: 5px;" class="btn btn-sm btn-success"/>
                </c:when>
                <c:otherwise>
                    <h:commandButton action="boOrderDelivered" title="Delivered Orders" value="Delivered" style="margin-left: 5px;" class="btn btn-sm"/>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/transaction/orderCancelled.xhtml'}">
                    <h:commandButton action="boOrderCancelled" title="Cancelled Orders" value="Cancelled" style="margin-left: 5px;" class="btn btn-sm btn-success"/>
                </c:when>
                <c:otherwise>
                    <h:commandButton action="boOrderCancelled" title="Cancelled Orders" value="Cancelled" style="margin-left: 5px;" class="btn btn-sm"/>
                </c:otherwise>
            </c:choose>
        </div>
    </div>
    <p:poll interval="#{transactionController.reloadTime}" listener="#{transactionController.loadOrderCounts()}" update="pOrder rOrder prOrder sOrder" />
</ui:composition>

