<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:dialog header="Order Log" widgetVar="orderLogDialog" modal="true" height="400px" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <h:commandButton style="margin-bottom: 10px;" value="Print" class="btn btn-sm">
            <p:printer target="orderLog" />
        </h:commandButton>

        <p:outputPanel id="orderLog">
            <h:outputText  style="font-weight: bold" value="Order Log" />
            <h:dataTable value="#{transactionController.populateOrderLog()}" var="log" class="table table-hover table-bordered">
                <h:column>
                    <f:facet name="header">Action </f:facet>
                        #{log.orderStatus.status}
                </h:column>
                <h:column>
                    <f:facet name="header">Actor </f:facet>
                        #{log.updatedby.firstName} #{log.updatedby.surname}
                </h:column>
                <h:column>
                    <f:facet name="header">Date </f:facet>
                        #{log.lastModifiedDate}
                </h:column>
            </h:dataTable>
        </p:outputPanel>
    </p:dialog>
</ui:composition>