<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <p:dialog header="Update Order Status" modal="true" widgetVar="orderStatusModal" minHeight="100" id="orderStatusModalPanel" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <div class="modal-body">
            <div class="form-group">
                <div class="modal-header">
                    <p>Order ID: #{transactionController.orderedItem.batchId}</p>
                </div>
                <label>Order Status</label>
                <h:selectOneMenu value="#{transactionController.status}" converter="omnifaces.SelectItemsConverter" class="form-control ui dropdown">
                    <f:selectItems value="#{transactionController.orderStatus}" var="option" itemLabel="#{option.status}"/>
                </h:selectOneMenu>
            </div>
        </div>
        <h:panelGroup layout="block" styleClass="modal-footer">
            <h:commandButton class="btn-block btn btn-sm btn-default" value="Update Status" onclick="return confirm('Are you sure?');" action="#{transactionController.saveOrderStatusUpdate()}"/>
        </h:panelGroup>
    </p:dialog>
</ui:composition>