/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 10:09:55 AM
    Author     : Tobi-Morph-PC
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css";

@import url("#{resource['semantic-ui/css/reset.css']}");

html{
    font-family: 'Open Sans', sans-serif;
}
.error_top{
    display: block;
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.error_top .error_top_logout{
    display: block;
    position: relative;
    line-height: 40px;
    height: 40px;
    background-color: #00827c;
    color: #009c95;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: white;
}

.error_top_logout a{
    
}

.error_center_content{
    margin: 100px auto;
    display: block;
    position: relative;
    vertical-align: middle;
    text-align: center;
}


.error-404 {
    text-align: center;
    margin-top: 100px;
}
.error-404 i {
    font-size: 180px;
    color: #80969c;
}
.error-404 h1 {
    color: #1abc9c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 46px;
}
.error-404 h4 {
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 20px;
}
.error-404 p {
    font-size: 14px;
    color: #80969c;
    font-weight: bold;
}
.error-404 a {
    color: #0384ce;
    font-weight: bold;
}
