<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css" id="bootstrapcss" />
        <h:outputStylesheet library="semantic-ui" name="css/semantic-ui-custom.css"  id="semanticcss"/>
        <h:outputStylesheet library="kiosk-ui" name="css/portaluser.css" />
        <h:outputStylesheet library="kiosk-ui" name="css/radio.css" />
        <title><ui:insert name="title"></ui:insert></title>
    </h:head>


    <h:body>
        <div id="layout">
            <!-- Mobile Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link"><span></span></a>

            <div id="menu">
                <!--                <a class="ox-heading" href="#"> <i class="fa fa-lemon-o fa-fw"></i>Business Portal</a>-->
                <o:graphicImage value="#{businessController.businessLogo}" rendered="#{businessController.businessLogo != null}" style="width: 250px;"  dataURI="true"  class="img-responsive img-thumbnail clearfix" />
                <a class="ox-heading" href="#">#{businessController.businessName}</a>
                <div id="vertical-menu">
                    <ul>
                        <!--                        <li>
                                                    <h:outputLink class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/"><i style="color: #00B5AD" class="fa fa-bookmark fa-fw"></i>Home</h:outputLink>
                                                </li>-->
                        <li>
                            <h:link outcome="boDashboard" class="item-header #{fn:startsWith(view.viewId, 'das') ? 'activeSpan' : ''}"><i class="fa fa-tachometer fa-fw"></i>Dashboard</h:link>
                        </li>

                        <ui:repeat value="#{portalPermissionUtil.pages}" var="menu">
                            <li> <h:link outcome="#{menu.pageOutcome}" class="item-header #{view.viewId eq menu.pageName ? 'activeSpan' : ''}"><i class="#{menu.pageCssIcon}"></i>#{menu.pageDisplayName}</h:link> </li>
                        </ui:repeat>

                        <li>
                            <span class="item-header"><i class="fa fa-credit-card"></i>Item<b class="pull-right"></b></span>
                            <ul>
                                <li><h:link value="Main Item" outcome="boManageItem"></h:link></li>
                                <li><h:link value="SubItem" outcome="boManageSubItem"></h:link></li>
                                <li><h:link value="SubItem Group" outcome="boManageSubItemGroup"></h:link></li>

                            </ul>
                        </li>

                        <li>
                            <h:link outcome="accountHome" class="item-header"><i class="fa fa-credit-card fa-fw"></i>Account</h:link>
                        </li>

                        <li>
                            <h:link outcome="mainPromotion" class="item-header"><i class="fa fa-credit-card fa-fw"></i>Promotion</h:link>
                        </li>

                        <ui:remove>
                            <li>
                                <h:link outcome="boUsers" class="item-header #{fn:startsWith(view.viewId, '/user/') ? 'activeSpan' : ''}"><i class="fa fa-tachometer fa-fw"></i>Staff</h:link>
                            </li>

                            <li>
                                <h:outputLink class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/admin/"><i style="color: #DC4A38" class="fa fa-cog fa-fw"></i>Administrator</h:outputLink>
                            </li>
                        </ui:remove> 


                    </ul>
                </div>

            </div>
            <div id="main">
                <div class="ui menu">
                    <div class="header item page-title">
                        <ui:insert name="page-title"/>
                    </div>

                    <div class="right menu right-submenu">
                        <div class="item">
                            <h:form>
                                <h:commandLink rendered="#{businessController.user.id != null}" style="margin-right: 35px;" action="passwordChange">Change Password</h:commandLink>
                                <h:commandLink rendered="#{businessController.user.id != null}" action="#{userController.logout()}"><span class="fa fa-sign-out"></span> Logout</h:commandLink>
                                <h:outputLink class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/" rendered="#{userController.user.id == null}">
                                    <span class="fa fa-sign-in"></span>Login</h:outputLink>
                            </h:form> 
                        </div>
                        <a class="item">Help</a>
                    </div>
                </div>


                <!--                <div class="content">
                                    <ui:insert name="content"></ui:insert>
                                    <div class="clearfix"></div>
                                    <h:form>
                                        <br/>
                                        <div class="col-md-3">
                                            <h:commandLink onclick="history.go(-1);
                                                    return false;" class="back-button"><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Back</h:commandLink>
                                        </div>
                                    </h:form>
                                </div>-->
                <div class="content">
                    <ui:insert name="content"></ui:insert>
                    <div class="clearfix"></div>
                    <h:form>
                        <br/>
                        <div class="col-md-3">
                            <h:commandLink onclick="history.go(-1);
                                    return false;" class="back-button"></h:commandLink>
                        </div>
                    </h:form>
                </div>
            </div>


        </div>

        <h:outputScript library="javax.faces" name="jsf.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
        <h:outputScript library="bootstrap" name="js/bootstrap.js" target="head" />
        <h:outputScript library="semantic-ui" name="js/dropdown.js" target="head" />
        <h:outputScript library="kiosk-ui" name="js/ui.js"/>
        <script>
            /*jQuery time*/
            jQuery(document).ready(function () {
                jQuery("#vertical-menu span").click(function () {
                    //slide up all the link lists
                    jQuery("#vertical-menu ul ul").removeClass("activeSpan").slideUp();
                    //slide down the link list below the h3 clicked - only if its closed
                    if (!jQuery(this).next().is(":visible")) {
                        jQuery(this).next().addClass("activeSpan").slideDown();
                    }
                });
            });
        </script>

    </h:body>

</html>
