<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                Business Requests
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true">
                    <div class="col-md-5">
                        <h:messages />
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-th-list fa-fw"></i> 
                                <h:outputLabel rendered="#{portalKioskController.kiosk.id == null}">Register Kiosk</h:outputLabel>
                                <h:outputLabel rendered="#{portalKioskController.kiosk.id != null}">Update Kiosk</h:outputLabel>
                            </div>
                            <div class="panel-body">
                                <ui:include src="snippet/kiosk_info.xhtml" />
                            </div>
                        </div>

                        <div class="btn-group-sm">
                            <h:link outcome="sysKiosks" value="Kiosk List" class="btn btn-info btn-xs" />
                        </div>

                    </div>

                </o:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
