<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{portalKioskController.reset()}"/>
            </f:metadata>

            <ui:define name="title">
                Portal Kiosks
            </ui:define>

            <ui:define name="page-title">
                Portal Kiosks
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <div class="col-lg-9 col-md-12">
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Active Kiosks">
                                <h:dataTable value="#{portalKioskController.activeKiosk}" var="biz" class="table table-hover table-bordered table-responsive">
                                    <h:column>
                                        <f:facet name="header"> Kiosk </f:facet>
                                        <h:commandLink action="#{portalKioskController.viewDetail(biz)}" value="#{biz.name}" class="text-info"></h:commandLink> 
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Business </f:facet>
<!--                                        <h:link outcome="sysBusinessDetail" includeViewParams="true" value="#{biz.business.name}">
                                            <f:param name="bquery" value="#{biz.business.id}"/>
                                        </h:link> -->
                                        #{biz.business.name}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Date</f:facet>
                                            #{biz.createdDate}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">Owner</f:facet>
                                            #{biz.owner.firstName}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">Kitchen</f:facet>
                                            #{biz.type}
                                    </h:column>
                                </h:dataTable>
                            </p:tab>
                            <p:tab title="Disabled Kiosk">
                                <h:dataTable value="#{portalKioskController.disabledKiosk}" var="biz" class="table table-hover table-bordered table-responsive">
                                    <h:column>
                                        <f:facet name="header"> Kiosk </f:facet>
                                        <h:commandLink action="#{portalKioskController.viewDetail(biz)}" value="#{biz.name}" class="text-info"></h:commandLink> 
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Business </f:facet>
                                        <h:link outcome="sysBusinessDetail" includeViewParams="true" value="#{biz.business.name}">
                                            <f:param name="bquery" value="#{biz.business.id}"/>
                                        </h:link> 
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Date</f:facet>
                                            #{biz.createdDate}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Active</f:facet>
                                            #{biz.status}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Owner</f:facet>
                                            #{biz.owner.firstName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Kitchen</f:facet>
                                            #{biz.type}
                                    </h:column>
                                </h:dataTable>
                            </p:tab>

                        </p:tabView>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
