<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                User Business Request
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h:panelGroup class="col-md-5 col-sm-10 clearfix ">
                        <div class="panel panel-default">
                            <div class="panel-heading">Pending Request</div>
                            <div class="panel-body">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        User Email : #{portalRequestController.request.user.emailAddress}
                                    </div>
                                    <div class="form-group">
                                        Comment : #{portalRequestController.request.comment}
                                    </div>
                                    <div class="form-group">
                                        Request Date : #{portalRequestController.request.createdDate}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="btn-group-xs">
                                    <h:commandLink action="#{portalRequestController.viewList()}" value="Back to List" class="btn btn-secondary btn-sm" />
                                </div>
                            </div>
                        </div>
                        <br/>

                    </h:panelGroup>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
