<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                Business Requests
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data" id="portalUsersForm">
                    <div class="col-lg-9 col-md-12">
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Approved Request">
                                <p:dataTable rendered="#{not empty portalRequestController.activeRequests}" id="activeDT" var="o" value="#{portalRequestController.activeRequests}" selection="#{portalRequestController.selectedRequests}" rowKey="#{o}" class="table table-responsive">

                                    <p:column selectionMode="multiple" style="width:36px; text-align:center"/>
                                    <p:column headerText="Email Address">
                                        <h:outputText value="#{o.user.emailAddress}" />
                                    </p:column>
                                    <p:column headerText="Request Type">
                                        <h:outputText value="#{o.requestType.name}" />
                                    </p:column>
                                    <p:column headerText="Request Date">
                                        <h:outputText value="#{o.createdDate}" />
                                    </p:column>
                                    <p:column headerText="Request Status">
                                        <h:outputText value="#{o.status}" />
                                    </p:column>

                                    <p:column headerText="Request Status">
                                        <h:commandLink value="View Detail" action="#{portalRequestController.view(o.id)}" class="text-info"/>
                                    </p:column>

                                    <f:facet name="footer">
                                        <p:commandButton process="activeDT" update="portalUsersForm" actionListener="#{portalRequestController.revokeSelectedRequest}"  value="Revoke Request"/>
                                    </f:facet>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="Pending Request">
                                <p:dataTable rendered="#{not empty portalRequestController.pendingRequests}" id="pendingDT" var="o" value="#{portalRequestController.pendingRequests}" selection="#{portalRequestController.selectedRequests}" rowKey="#{o}" class="table table-responsive">
                                    <p:column selectionMode="multiple" style="width:36px; text-align:center"/>
                                    <p:column headerText="Email Address">
                                        <h:outputText value="#{o.user.emailAddress}" />
                                    </p:column>
                                    <p:column headerText="Request Type">
                                        <h:outputText value="#{o.requestType.name}" />
                                    </p:column>
                                    <p:column headerText="Request Date">
                                        <h:outputText value="#{o.createdDate}" />
                                    </p:column>
                                    <p:column headerText="Request Status">
                                        <h:outputText value="#{o.status}" />
                                    </p:column>

                                    <p:column headerText="Request Detail">
                                        <h:commandLink value="View Detail" action="#{portalRequestController.view(o.id)}" class="text-info"/>
                                    </p:column>

                                    <f:facet name="footer">
                                        <p:commandButton process="pendingDT" update="portalUsersForm" actionListener="#{portalRequestController.activateSelectedRequest}"   value="Approved Request" />
                                    </f:facet>
                                </p:dataTable>
                            </p:tab>

                            <p:tab title="Under Process">
                                <p:dataTable rendered="#{not empty portalRequestController.processingRequests}" id="processDT" var="o" value="#{portalRequestController.processingRequests}" selection="#{portalRequestController.selectedRequests}" rowKey="#{o}" class="table table-responsive">
                                    <p:column selectionMode="multiple" style="width:36px; text-align:center"/>
                                    <p:column headerText="Email Address">
                                        <h:outputText value="#{o.user.emailAddress}" />
                                    </p:column>
                                    <p:column headerText="Request Type">
                                        <h:outputText value="#{o.requestType.name}" />
                                    </p:column>
                                    <p:column headerText="Request Date">
                                        <h:outputText value="#{o.createdDate}" />
                                    </p:column>
                                    <p:column headerText="Request Status">
                                        <h:outputText value="#{o.status}" />
                                    </p:column>

                                    <p:column headerText="Request Detail">
                                        <h:commandLink value="View Detail" action="#{portalRequestController.view(o.id)}" class="text-info"/>
                                    </p:column>

                                    <f:facet name="footer">
                                        <p:commandButton process="processDT" update="portalUsersForm" actionListener="#{portalRequestController.activateSelectedRequest}"  value="Approved Request" />
                                    </f:facet>
                                </p:dataTable>
                            </p:tab>

                            <p:tab title="Revoked">
                                <p:dataTable id="revokeDT" rendered="#{not empty portalRequestController.revokeRequests}" var="o" value="#{portalRequestController.revokeRequests}" selection="#{portalRequestController.selectedRequests}" rowKey="#{o}" class="table table-responsive">

                                    <p:column selectionMode="multiple" style="width:36px; text-align:center"/>
                                    <p:column headerText="Email Address">
                                        <h:outputText value="#{o.user.emailAddress}" />
                                    </p:column>
                                    <p:column headerText="Request Type">
                                        <h:outputText value="#{o.requestType.name}" />
                                    </p:column>
                                    <p:column headerText="Request Date">
                                        <h:outputText value="#{o.createdDate}" />
                                    </p:column>
                                    <p:column headerText="Request Status">
                                        <h:outputText value="#{o.status}" />
                                    </p:column>

                                    <p:column headerText="Request Detail">
                                        <h:commandLink value="View Detail" action="#{portalRequestController.view(o.id)}" class="text-info"/>
                                    </p:column>

                                    <f:facet name="footer">
                                        <p:commandButton process="revokeDT" update="portalUsersForm" actionListener="#{portalRequestController.activateSelectedRequest}"  value="Revoke Request" class="btn btn-sm"/>
                                    </f:facet>
                                </p:dataTable>
                            </p:tab>
                        </p:tabView>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
