<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{portalBusinessController.reset()}"/>
            </f:metadata>
            
            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                Business Requests
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <div class="col-lg-9 col-md-12">
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Active Businesses">
                                <h:dataTable value="#{portalBusinessController.activeBusinesses}" var="biz" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header">Business Name </f:facet>
                                        <h:commandLink action="#{portalBusinessController.viewDetail(biz)}" value="#{biz.name}" class="text-info"></h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Date Created </f:facet>
                                            #{biz.createdDate}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Active</f:facet>
                                            #{biz.status}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Business Owner</f:facet>
                                            #{biz.owner.firstName}
                                    </h:column>

                                </h:dataTable>
                            </p:tab>
                            <p:tab title="Disabled Businesses">
                                <h:dataTable value="#{portalBusinessController.disabledBusinesses}" var="biz" class="table table-hover table-bordered">
                                    <h:column>
                                        <f:facet name="header">Business Name </f:facet>
                                        <h:commandLink action="#{portalBusinessController.viewDetail(biz)}" value="#{biz.name}" class="text-info"></h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Date Created</f:facet>
                                            #{biz.createdDate}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Active Status</f:facet>
                                            #{biz.status}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Business Owner</f:facet>
                                            #{biz.owner.firstName}
                                    </h:column>
                                </h:dataTable>
                            </p:tab>

                        </p:tabView>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
