<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                Business Requests
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true">

                    <div class="col-md-5">
                        <h:messages />
                        <div class="panel panel-default">
                            <div class="panel-heading"> Business </div>
                            <div class="panel-body">

                                <ui:include src="snippet/business_info.xhtml" />

                            </div>
                            <div class="panel-footer">
                                <div class="btn-group-xs">
                                    <h:commandLink action="sysBusinesses" value="Back to List" class="btn btn-secondary btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </o:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
