<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewParam name="bquery" value="#{kioskController.bquery}" />
                <f:viewParam name="kquery" value="#{kioskController.kquery}" required="true" />
                <f:event type="preRenderView" listener="#{kioskController.loadKioskDetail()}"/>
            </f:metadata>


            <ui:define name="title">
                Kiosks
            </ui:define>

            <ui:define name="page-title">
                Kiosks
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true" id="addItemForm">
                    <div class="col-md-4 col-lg-5">
                        <h:messages class="ui message"/>
                        <label>Selected Items</label>
                        <h:dataTable id="selectItemDT" rendered="#{not empty kioskController.kioskItems}" var="item" value="#{kioskController.kioskItems}" class="table table-responsive table-bordered">
                            <h:column>
                                <f:facet name="header">
                                    <h:commandLink action="#{kioskController.removeItem()}" value="Remove Selected" rendered="#{kioskController.showSelectItemDT == true}"/>
                                </f:facet>
                                <h:selectBooleanCheckbox value="#{kioskController.selectItems[item.id]}">
                                    <f:ajax render="addItemForm:selectItemDT" listener="#{kioskController.selectedItemTable}"/>
                                </h:selectBooleanCheckbox>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Item Name </f:facet>
                                <h:link outcome="boItemDetail" includeViewParams="true" value="#{item.name}">
                                    <f:param name="iquery" value="#{item.id}"/>
                                </h:link>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Item Description</f:facet>
                                <h:outputText value="#{item.description}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:commandLink action="#{kioskController.removeSingleItem(item.id)}" value="Remove"/>
                            </h:column>
                        </h:dataTable>

                        <label>Available Items</label>
                        <h:dataTable id="kioskItemDT" value="#{kioskController.items}" var="sdi" class="table table-responsive table-bordered">
                            <h:column>
                                <f:facet name="header">
                                    <h:commandLink action="#{kioskController.addItem()}" value="Add Selected" rendered="#{kioskController.showKioskItemDT == true}"/>
                                </f:facet>
                                <h:selectBooleanCheckbox value="#{kioskController.availableItems[sdi.id]}">
                                    <f:ajax render="addItemForm:kioskItemDT" listener="#{kioskController.selectedItemTable}"/>
                                </h:selectBooleanCheckbox>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Item Name </f:facet>
                                <h:link outcome="boItemDetail" includeViewParams="true" value="#{sdi.name}">
                                    <f:param name="iquery" value="#{sdi.id}"/>
                                </h:link>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Item Description</f:facet>
                                <h:outputText value="#{sdi.description}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:commandLink action="#{kioskController.addSingleItem(sdi)}" value="Add"/>
                            </h:column>
                        </h:dataTable>
                    </div>
                </o:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
