<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <f:view>
            <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

                <f:metadata>
                    <f:viewParam name="bquery" value="#{kioskController.bquery}" />
                    <f:viewParam name="kquery" value="#{kioskController.kquery}" required="true" />
                    <f:event type="preRenderView" listener="#{kioskController.loadKioskDetail()}"/>
                </f:metadata>


                <ui:define name="title">
                    Kiosk Detail
                </ui:define>

                <ui:define name="page-title">
                    Kiosk Detail
                </ui:define>

                <ui:define name="content">
                    <o:form includeRequestParams="true" includeViewParams="true" id="kioskDetailPageForm">
                        <div class="clearfix">
                            <h:link outcome="boManageKiosk" value="Kiosk List" class="btn btn-sm btn-default"></h:link>
                            <h:link outcome="boRegisterKiosk" style="margin-left: 15px;" class="btn btn-sm btn-default">Register Kiosk</h:link>

                            <h:commandButton value="Kiosk Detail" style="margin-left: 75px;" class="btn btn-sm">
                                <f:ajax render="my_form:kioskDetailView" listener="#{kioskController.showDetailTab}"/>
                            </h:commandButton>
                            <h:commandButton value="Delivery Option" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="my_form:kioskDetailView" listener="#{kioskController.showDeliveryTab}"/>
                            </h:commandButton>
                            <h:commandButton value="Payment Option" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="my_form:kioskDetailView" listener="#{kioskController.showPaymentTab}"/>
                            </h:commandButton>
                            <h:commandButton value="Kiosk Item" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="my_form:kioskDetailView" listener="#{kioskController.showKioskItemTab}"/>
                            </h:commandButton>
                        </div>
                        <br></br>
                        <h:messages class="ui message" />
                        <div class="col-md-4 col-lg-5">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i> 
                                    <h:outputLabel rendered="#{kioskController.kiosk.id == null}">Register Kiosk</h:outputLabel>
                                    <h:outputLabel rendered="#{kioskController.kiosk.id != null}">Kiosk Detail</h:outputLabel>
                                </div>
                                <div class="panel-body">
                                    <ui:include src="snippet/kiosk_info.xhtml" />
                                </div>

                                <!--                                <div class="modal-footer">
                                                                    <p:commandLink value="view log"  action="#{kioskController.viewLog(kioskController.kiosk.id)}"
                                                                                   id="view_log" update="kioskDetailPageForm:changeLogModalPanel" oncomplete="PF('changeLogModal').show()"/>
                                                                </div>-->

                                <!--                                <div class="panel-footer">
                                                                    <div class="btn-group-sm">
                                                                        <h:link outcome="boAddKioskItem" value="Add Item" class="text-success btn btn-sm btn-default" includeViewParams="true">
                                                                            <f:param name="bquery" value="#{kioskController.bquery}" />
                                                                            <f:param name="kquery" value="#{kioskController.kquery}"/>
                                                                        </h:link>
                                                                        <h:link outcome="boManageKiosk" value="Kiosk List" class="btn btn-sm btn-default"></h:link>
                                
                                                                        <h:commandLink class="btn btn-sm btn-default pull-right" onclick="PF('changeLogModal').show();" value="view log" action="#{kioskController.viewLog(kioskController.kiosk.id)}">
                                                                            <f:ajax onevent="click" render="kioskDetailPageForm:changeLogModalPanel" />
                                                                        </h:commandLink> 
                                                                    </div>
                                                                </div>-->
                            </div>
                        </div>

                        <p:dialog header="Kiosk Activity Log" widgetVar="changeLogModal" minHeight="100" id="changeLogModalPanel">
                            <div class="modal-body">
                                <h:dataTable value="#{kioskController.kioskActivityLog}" var="b" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header">Last Update</f:facet>
                                            #{b.modifiedDate}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Modified By</f:facet>
                                            #{b.modifieredBy.firstName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Kiosk</f:facet>
                                            #{b.name}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Status</f:facet>
                                            #{b.status}
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </p:dialog>

                    </o:form>


                    <o:form id="my_form" includeRequestParams="true" includeViewParams="true">
                        <h:panelGroup class="col-md-8 col-lg-6 col-lg-push-1" id="kioskDetailView">
                            <h:panelGroup rendered="#{kioskController.showDeliveryDiv == true}">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Delivery Options</div>
                                    <h:dataTable var="do" value="#{kioskController.deliveryOptions}" class="table table-hover table-bordered" id="deliveryOption">
                                        <h:column>
                                            <f:facet name="header"> Name </f:facet>
                                            <p:commandLink value="#{do.deliveryOption.option}" action="#{kioskController.loadDistanceCost(do)}" update=":my_form:distanceCost"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> Delivery Cost </f:facet>
                                            <p:commandLink value="#{do.deliveryCost}"  action="#{kioskController.editDeliveryOption(do)}"
                                                           id="editCost_button" update=":my_form:deliveryOptionModalPanel" oncomplete="PF('deliveryOptionModal').show()"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink value="Activate" action="#{kioskController.activateDeliveryOption(do)}"  onclick="return confirm('Are you sure want to activate?');" rendered="#{not do.active}" />
                                            <h:commandLink value="Deactivate" action="#{kioskController.deactivateDeliveryOption(do)}" onclick="return confirm('Are you sure want to de-activate?');" rendered="#{do.active}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink value="Activate Varied Cost" action="#{kioskController.activateDeliveryOptionVariedCost(do)}"  onclick="return confirm('Are you sure want to activate varied cost?');" rendered="#{not do.hasVariedCost and do.deliveryOption.option == 'Home Delivery'}" />
                                            <h:commandLink value="De-activate Varied Cost" action="#{kioskController.deactivateDeliveryOptionVariedCost(do)}" onclick="return confirm('Are you sure want to de-activate varied cost?');" rendered="#{do.hasVariedCost and do.deliveryOption.option == 'Home Delivery'}" />
                                        </h:column>
                                    </h:dataTable>
                                </div>
                                <h:panelGroup id="distanceCost">
                                    <h:panelGroup rendered="#{kioskController.showDistanceCostDiv}">
                                        <br></br>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Distance Cost</div>
                                            <h:panelGroup class="col-sm-11">
                                                <div class="form-group">
                                                    <label>Distance(km)</label>
                                                    <h:inputText value="#{kioskController.dist}" required="true" requiredMessage="Please Input a Distance" class="form-control" converterMessage="Please Input a Number as Distance">
                                                        <f:convertNumber integerOnly="true" type="number"/>
                                                    </h:inputText>
                                                </div>
                                                <div class="form-group">
                                                    <label>Delivery Cost(&#8358;)</label>
                                                    <h:inputText value="#{kioskController.distCost}" required="true" requiredMessage="Please Input a Cost" class="form-control" converterMessage="Please Input a Number as Cost">
                                                        <f:convertNumber integerOnly="true" type="number"/>
                                                    </h:inputText>
                                                </div>
                                                <div class="form-group btn-group">
                                                    <h:commandButton class="btn btn-primary" value="Create Distance Cost" action="#{kioskController.createDistanceCost}"/>
                                                </div>
                                            </h:panelGroup>
                                            <br></br>
                                            
                                            <h:dataTable var="do" value="#{kioskController.distanceCosts}" class="table table-hover table-bordered" id="disCost">
                                                <h:column>
                                                    <f:facet name="header"> Distance (km)</f:facet>
                                                    <h:outputText value="#{do.distance}">
                                                        <f:convertNumber type="number" maxFractionDigits="1"/>
                                                    </h:outputText>
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header"> Delivery Cost(&#8358;)</f:facet>
                                                    <h:outputText value="#{do.cost}">
                                                        <f:convertNumber type="currency" currencySymbol=""/>
                                                    </h:outputText>
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header"></f:facet>
                                                    <p:commandLink value="Edit"  action="#{kioskController.setDistanceCost(do)}" update=":my_form:distanceCostModalPanel" oncomplete="PF('distanceCostModal').show()"/>
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header"></f:facet>
                                                    <h:commandLink value="Delete" action="#{kioskController.deleteDistanceCost(do)}" onclick="return confirm('Are you sure want to delete?')"/>
                                                </h:column>
                                            </h:dataTable>
                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{kioskController.showPaymentDiv == true}">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Payment Options</div>

                                    <h:dataTable var="po" value="#{kioskController.kioskPaymentOptions}" class="table table-hover table-bordered" id="paymentOption">

                                        <h:column>
                                            <f:facet name="header"> Name </f:facet>
                                                #{po.paymentOption.option}
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header"> Status </f:facet>
                                                #{po.active}
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header"> </f:facet>
                                            <h:commandLink value="Activate" action="#{kioskController.activateKioskPaymentOption(po)}" rendered="#{not po.active}" />
                                            <h:commandLink value="Deactivate" action="#{kioskController.deactivateKioskPaymentOption(po)}" onclick="return confirm('Are you sure want to de-activate?');" rendered="#{po.active}" />
                                        </h:column>

                                    </h:dataTable>
                                </div>
                            </h:panelGroup>

                            <!--                            <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                Kiosk Items
                                                            </div>
                            
                                                            <h:dataTable rendered="#{not empty kioskController.kioskItems}" var="item" value="#{kioskController.kioskItems}" class="table table-hover table-bordered">
                                                                <h:column>
                                                                    <f:facet name="header">Item Name </f:facet>
                                                                    <h:link outcome="boItemDetail" includeViewParams="true" value="#{item.name}">
                                                                        <f:param name="iquery" value="#{item.id}"/>
                                                                    </h:link> 
                            #{item.id}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Item Description</f:facet>
                            <h:outputText value="#{item.description}" />
                        </h:column>
                    </h:dataTable>
                </div>-->
                            <h:panelGroup rendered="#{kioskController.showKioskItemDiv == true}">
                                <div class="panel panel-default" rendered="#{not empty kioskController.kioskItems}">
                                    <div class="panel-heading">Selected Items</div>
                                    <h:dataTable id="selectItemDT"  var="item" value="#{kioskController.kioskItems}" class="table table-hover table-bordered">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:commandLink action="#{kioskController.removeItem()}" value="Remove Selected" onclick="return confirm('Are you sure?');" rendered="#{kioskController.showSelectItemDT == true}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox value="#{kioskController.selectItems[item.id]}">
                                                <f:ajax render="my_form:selectItemDT" listener="#{kioskController.selectedItemTable}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Item Name </f:facet>
    <!--                                            <h:link outcome="boItemDetail" includeViewParams="true" value="#{item.name}">
                                                <f:param name="iquery" value="#{item.id}"/>
                                            </h:link>-->
                                            #{item.name}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Item Description</f:facet>
                                            <h:outputText value="#{item.description}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink action="#{kioskController.disableKioskItem(item.id)}" rendered="#{kioskController.isKioskItemEnabled(item.id) == true}" onclick="return confirm('Are you sure?');" value="Disable"/>
                                            <h:commandLink action="#{kioskController.enableKioskItem(item.id)}" rendered="#{kioskController.isKioskItemEnabled(item.id) == false}" onclick="return confirm('Are you sure?');" value="Enable"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink action="#{kioskController.removeSingleItem(item.id)}" onclick="return confirm('Are you sure?');" value="Remove"/>
                                        </h:column>
                                    </h:dataTable>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Items</div>
                                    <h:dataTable id="kioskItemDT" value="#{kioskController.items}" var="sdi" class="table table-responsive table-bordered">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:commandLink action="#{kioskController.addItem()}" value="Add Selected" onclick="return confirm('Are you sure?');" rendered="#{kioskController.showKioskItemDT == true}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox value="#{kioskController.availableItems[sdi.id]}">
                                                <f:ajax render="my_form:kioskItemDT" listener="#{kioskController.selectedItemTable}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Item Name </f:facet>
    <!--                                            <h:link outcome="boItemDetail" includeViewParams="true" value="#{sdi.name}">
                                                <f:param name="iquery" value="#{sdi.id}"/>
                                            </h:link>-->
                                            #{sdi.name}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Item Description</f:facet>
                                            <h:outputText value="#{sdi.description}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink action="#{kioskController.addSingleItem(sdi)}" onclick="return confirm('Are you sure?');" value="Add"/>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>


                        <p:dialog header="Update Cost" widgetVar="deliveryOptionModal" minHeight="100" id="deliveryOptionModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Delivery Cost  </label>
                                    <h:inputText value="#{kioskController.kioskDeliveryOption.deliveryCost}" class="form-control"/>
                                </div>
                            </div>
                            <h:panelGroup layout="block" styleClass="modal-footer">
                                <h:commandButton class="btn-block btn btn-sm btn-default" value="Update" action="#{kioskController.saveDeliveryOptionUpdate}"/>
                            </h:panelGroup>
                        </p:dialog>

                        <p:dialog header="Update Distance Cost" widgetVar="distanceCostModal" minHeight="100" id="distanceCostModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Distance (km)</label>
                                    <h:inputText value="#{kioskController.distanceCost.distance}" class="form-control"/>
                                </div>
                                
                                <div class="form-group">
                                    <label>Delivery Cost (&#8358;)</label>
                                    <h:inputText value="#{kioskController.distanceCost.cost}" class="form-control"/>
                                </div>
                                                            </div>
                            <h:panelGroup layout="block" styleClass="modal-footer">
                                <h:commandButton class="btn-block btn btn-sm btn-default" value="Update" action="#{kioskController.saveDistanceCostUpdate}"/>
                            </h:panelGroup>
                        </p:dialog>
                    </o:form>
                </ui:define>
            </ui:composition>
        </f:view>
    </body>
</html>
