<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewParam name="bquery" value="#{kioskController.bquery}" />
            </f:metadata>

            <ui:define name="title">
                Manage Kiosk
            </ui:define>

            <ui:define name="page-title">
                Manage Kiosk
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true">

                    <div class="col-lg-7 col-md-10 btn-group-sm clearfix">
                        <h:link outcome="boRegisterKiosk" value="Register Kiosk" class="btn btn-sm btn-default"></h:link>
                    </div>
                    <br/>
                    <br/>

                    <div class="col-lg-7 col-md-10 clearfix">
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Active Kiosk">
                                <h:panelGroup rendered="#{not empty kioskController.activeKiosk}">
                                    <h:dataTable value="#{kioskController.activeKiosk}" var="k" class="table table-striped table-hover table-bordered">
                                        <h:column>
                                            <f:facet name="header">Kiosk Name </f:facet>
                                            <h:link outcome="boKioskDetail" includeViewParams="true" value="#{k.name}">
                                                <f:param name="bquery" value="#{k.business.id}"/>
                                                <f:param name="kquery" value="#{k.id}" />
                                            </h:link> 
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Business </f:facet>
<!--                                            <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{k.business.name}">
                                                <f:param name="bquery" value="#{k.business.id}"/>
                                            </h:link> -->
                                            #{k.business.name}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Date Created</f:facet>
                                                #{k.createdDate}
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header">Kiosk Type</f:facet>
                                                #{k.type}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:link outcome="boKioskDetail" includeViewParams="true" value="Detail">
                                                <f:param name="bquery" value="#{k.business.id}"/>
                                                <f:param name="kquery" value="#{k.id}" />
                                            </h:link>   
                                        </h:column>

                                    </h:dataTable>
                                </h:panelGroup>
                            </p:tab>
                            <p:tab title="Inactive Kiosk">
                                <h:panelGroup rendered="#{not empty kioskController.disabledKiosk}">
                                    <h:dataTable value="#{kioskController.disabledKiosk}" var="k" class="table table-striped table-hover table-bordered">
                                        <h:column>
                                            <f:facet name="header">Kiosk Name </f:facet>
                                            <h:link outcome="boKioskDetail" includeViewParams="true" value="#{k.name}">
                                                <f:param name="bquery" value="#{k.business.id}"/>
                                                <f:param name="kquery" value="#{k.id}" />
                                            </h:link> 
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Business </f:facet>
<!--                                            <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{k.business.name}">
                                                <f:param name="bquery" value="#{k.business.id}"/>
                                            </h:link> -->
                                            #{k.business.name}

                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Date Created</f:facet>
                                                #{k.createdDate}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Kitchen Type</f:facet>
                                                #{k.type.type}
                                        </h:column>
                                        <h:column>
                                            <h:link outcome="boKioskDetail" includeViewParams="true" value="Detail">
                                                <f:param name="bquery" value="#{k.business.id}"/>
                                                <f:param name="kquery" value="#{k.id}" />
                                            </h:link> 
                                        </h:column>

                                    </h:dataTable>
                                </h:panelGroup>
                            </p:tab>

                        </p:tabView>
                    </div>
                </o:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
