<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewParam name="bquery" value="#{kioskController.bquery}" />
                <f:viewAction action="#{kioskController.reset()}" />
            </f:metadata>

            <ui:define name="title">
                Register Kiosks
            </ui:define>

            <ui:define name="page-title">
                Register Kiosks
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true" id="registerKioskForm">
                    <div class="col-lg-4 col-md-5">
                        <div class="col-lg-7 col-md-10 btn-group-sm clearfix">
                            <h:link outcome="boManageKiosk" class="btn btn-sm btn-default">Kiosk List</h:link>
                        </div>
                        <br></br>
                        <div class="modal-dialog panel panel-default">
                            <h:messages class="ui message" />
                            <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>Register Kiosk</div>
                            <div class="panel-body">
                                <ui:include src="snippet/kiosk_info.xhtml" />
                            </div>

                        </div>
                    </div>
                </o:form>

                <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;key=AIzaSyBBPFRD9W0ohojPZzSk-1fUiN3UvXaQTyQ"></script>
                <script type="text/javascript">
                    google.maps.event.addDomListener(window, 'load', function () {
                        var places = new google.maps.places.Autocomplete(document.getElementById('registerKioskForm:geoLocation'));

                        google.maps.event.addListener(places, 'place_changed', function () {
                            var place = places.getPlace();
                            var address = place.formatted_address;
                            var latitude = place.geometry.location.lat();
                            var longitude = place.geometry.location.lng();
                            updateForm(latitude, longitude);
                        });
                    });

                    function updateForm(latitude, longitude) {
                        document.getElementById('registerKioskForm:txtLatitude').value = latitude;
                        document.getElementById('registerKioskForm:txtLongitude').value = longitude;
                    }
                    ;

                </script>



            </ui:define>

        </ui:composition>

    </body>
</html>
