<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{promotionController.populateBusiness}"/>
                <f:event type="preRenderView" listener="#{promotionController.loadCouponBatches}"/>
            </f:metadata>
            <ui:define name="title">
                Promotion
            </ui:define>

            <ui:define name="page-title">
                Promotion
            </ui:define>

            <ui:define name="content">
                <h:form id="registerCodeForm">
                    <h:messages />
                    <div class="col-lg-6 col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">Generate Coupon Code</div>
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <div class="form-group">
                                        <label>Number of Codes to Generate</label>
                                        <h:inputText value="#{promotionController.codeGenerationCount}" class="form-control" required="true" converterMessage="Please Input a Number" requiredMessage="Please Input the Number of Code to Generate">
                                            <f:convertNumber integerOnly="true" type="number"/>
                                        </h:inputText>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <h:inputTextarea cols="45" value="#{promotionController.couponBatch.description}" class="form-control"/>
                                    </div>

                                    <h:panelGroup id="business">
                                        <h:panelGroup class="form-group">
                                            <label>Business</label>
                                            <h:selectOneMenu value="#{promotionController.couponBatch.business}" class="form-control" required="true" converter="omnifaces.SelectItemsConverter" requiredMessage="Please Select a Business">
                                                <f:selectItem noSelectionOption="true" itemLabel="" />
                                                <f:selectItems value="#{promotionController.businesses}" var="business" itemLabel="#{business.name}"/>
                                            </h:selectOneMenu>
                                        </h:panelGroup>
                                    </h:panelGroup>


                                    <div class="form-group">
                                        <label>Minimum Amount</label>
                                        <h:inputText value="#{promotionController.couponBatch.minAmount}" class="form-control" converterMessage="Please Input a Number as Minimum Amount">
                                            <f:convertNumber integerOnly="true" type="number"/>
                                        </h:inputText>
                                    </div>
                                    <div class="form-group">
                                        <label>Maximum Amount</label>
                                        <h:inputText value="#{promotionController.couponBatch.maxAmount}" class="form-control" converterMessage="Please Input a Number as Maximum Amount">
                                            <f:convertNumber integerOnly="true" type="number"/>
                                        </h:inputText>
                                    </div>
                                    <div class="form-group">
                                        <label>Code Type</label>
                                        <h:selectOneMenu value="#{promotionController.codeType}" class="form-control" required="true" converter="omnifaces.SelectItemsConverter" requiredMessage="Please Select a Code Type">
                                            <f:selectItem noSelectionOption="true" itemLabel="" />
                                            <f:selectItem itemValue="Percentage" itemLabel="Percentage" />
                                            <f:selectItem itemValue="FixedAmount" itemLabel="Fixed Amount" />
                                            <f:ajax render="type" event="change" listener="#{promotionController.showCodeType}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <h:panelGroup id="type">
                                        <h:panelGroup id="percentage" rendered="#{promotionController.isPercentage}" class="form-group">
                                            <label>Percentage Value</label>
                                            <h:inputText value="#{promotionController.couponBatch.percentage}" required="true" requiredMessage="Please Input a Percentage" converterMessage="Please Input a Number as Percentage" class="form-control">
                                                <f:convertNumber integerOnly="true" type="number"/>
                                            </h:inputText>
                                        </h:panelGroup>
                                        <h:panelGroup id="fixed" rendered="#{promotionController.isFixedAmount}" class="form-group">
                                            <label>Fixed Value</label>
                                            <h:inputText value="#{promotionController.couponBatch.couponAmount}" required="true" requiredMessage="Please Input a Fixed Amount" converterMessage="Please Input a Number as Amount" class="form-control">
                                                <f:convertNumber integerOnly="true" type="number"/>
                                            </h:inputText>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                    <div class="form-group" style="margin-top: 25px;">
                                        <label>Expiration Date</label>
                                        <p:calendar id="expDate" value="#{promotionController.couponBatch.dateExpired}"/>
                                    </div>
                                    <div class="form-group">
                                        Active? <h:selectBooleanCheckbox style="margin-right: 10px;" value="#{promotionController.couponBatch.active}"/>
                                        Multiple Users? <h:selectBooleanCheckbox value="#{promotionController.couponBatch.multipleUser}">
                                            <f:ajax render="usageLimit" event="change" listener="#{promotionController.showUsageLimit}"/>
                                        </h:selectBooleanCheckbox>
                                    </div>

                                    <h:panelGroup id="usageLimit">
                                        <h:panelGroup rendered="#{promotionController.multiUser}" class="form-group">
                                            <label>Usage Limit</label>
                                            <h:inputText value="#{promotionController.couponBatch.usageLimit}" class="form-control" required="true" converterMessage="Please Input a Number" requiredMessage="Please Input the Number of Code to Generate">
                                                <f:convertNumber integerOnly="true" type="number"/>
                                            </h:inputText>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <br/>
                                    <div class="form-group btn-group">
                                        <h:commandButton action="#{promotionController.createPromoCode()}" value="Create Code" class="btn btn-primary"/>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </h:form>

                <h:form id="couponList">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h:dataTable  value="#{promotionController.couponBatchs}" var="coupon" class="table table-responsive table-bordered">
                                    <h:column class="thead-inverse">
                                        <f:facet name="header">Batch Code</f:facet>
                                            #{coupon.id}
                                    </h:column>
                                    <h:column class="thead-inverse">
                                        <f:facet name="header">Description</f:facet>
                                            #{coupon.description}
                                    </h:column>
                                    <h:column class="thead-inverse">
                                        <f:facet name="header">Active</f:facet>
                                            #{coupon.active}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"></f:facet>
                                        <h:commandLink action="#{promotionController.loadCoupons(coupon)}" value="Codes" class="btn btn-secondary">
                                            <p:ajax oncomplete="PF('couponLogModal').show()" update="couponList:couponLogModalPanel"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"></f:facet>
                                        <h:commandLink action="#{promotionController.setEditCouponBatch(coupon)}" value="Edit" class="btn btn-secondary">
                                            <p:ajax oncomplete="PF('promotionLogModal').show()" update="couponList:promotionLogModalPanel"/>
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </div>
                    </div>
                    <p:dialog header="Coupons" widgetVar="couponLogModal" id="couponLogModalPanel">
                        <div class="modal-body">
                            <h:dataTable  value="#{promotionController.coupons}" var="c" class="table table-responsive table-bordered">
                                <h:column class="thead-inverse">
                                    <f:facet name="header">Code</f:facet>
                                        #{c.code}
                                </h:column>
                                <h:column class="thead-inverse">
                                    <f:facet name="header">Active</f:facet>
                                        #{c.active}
                                </h:column>
                                <h:column class="thead-inverse">
                                    <f:facet name="header">Used</f:facet>
                                        #{c.used}
                                </h:column>
                                <h:column class="thead-inverse">
                                    <f:facet name="header">Date Used</f:facet>
                                    <h:outputText value="#{c.dateUsed}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                    </h:outputText>
                                </h:column>
                            </h:dataTable>
                        </div>
                    </p:dialog>

                    <p:dialog header="Coupon Update" widgetVar="promotionLogModal" id="promotionLogModalPanel">
                        <div class="modal-body">
                            <h:panelGroup class="col-sm-11">
                                <div class="form-group">
                                    <label>Description</label>
                                    <h:inputTextarea cols="45" value="#{promotionController.editCouponBatch.description}" class="form-control"/>
                                </div>

                                <div class="form-group">
                                    <label>Minimum Amount</label>
                                    <h:inputText value="#{promotionController.editCouponBatch.minAmount}" class="form-control" converterMessage="Please Input a Number as Minimum Amount">
                                        <f:convertNumber integerOnly="true" type="number"/>
                                    </h:inputText>
                                </div>
                                <div class="form-group">
                                    <label>Maximum Amount</label>
                                    <h:inputText value="#{promotionController.editCouponBatch.maxAmount}" class="form-control" converterMessage="Please Input a Number as Maximum Amount">
                                        <f:convertNumber integerOnly="true" type="number"/>
                                    </h:inputText>
                                </div>
                                <h:panelGroup rendered="#{promotionController.editCouponBatch.percentage != 0.0}" class="form-group">
                                    <label>Percentage Value</label>
                                    <h:inputText value="#{promotionController.editCouponBatch.percentage}" required="true" requiredMessage="Please Input a Percentage" converterMessage="Please Input a Number as Percentage" class="form-control">
                                        <f:convertNumber integerOnly="true" type="number"/>
                                    </h:inputText>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{promotionController.editCouponBatch.couponAmount != 0.0}" class="form-group">
                                    <label>Fixed Value</label>
                                    <h:inputText value="#{promotionController.editCouponBatch.couponAmount}" required="true" requiredMessage="Please Input a Fixed Amount" converterMessage="Please Input a Number as Amount" class="form-control">
                                        <f:convertNumber integerOnly="true" type="number"/>
                                    </h:inputText>
                                </h:panelGroup>
                                <div class="form-group" style="margin-top: 25px;">
                                    <label>Expiration Date</label>
                                    <p:calendar id="expDate" value="#{promotionController.editCouponBatch.dateExpired}"/>
                                </div>
                                <div class="form-group">
                                    Active? <h:selectBooleanCheckbox style="margin-right: 10px;" value="#{promotionController.editCouponBatch.active}"/>
                                </div>
                                <h:panelGroup rendered="#{promotionController.editCouponBatch.multipleUser}" class="form-group">
                                    <label>Usage Limit</label>
                                    <h:inputText value="#{promotionController.editCouponBatch.usageLimit}" class="form-control" required="true" converterMessage="Please Input a Number" requiredMessage="Please Input the Number of Code to Generate">
                                        <f:convertNumber integerOnly="true" type="number"/>
                                    </h:inputText>
                                </h:panelGroup>
                                <br/>
                                <div class="form-group btn-group">
                                    <h:commandButton action="#{promotionController.updatePromoCode()}" value="Update Code" class="btn btn-primary"/>
                                </div>
                            </h:panelGroup>
                        </div>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
