<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css" id="bootstrapcss" />
        <h:outputStylesheet library="semantic-ui" name="css/semantic-ui-custom.css"  id="semanticcss"/>
        <h:outputStylesheet library="kiosk-ui" name="css/appuser.css" />
        <title><ui:insert name="title"></ui:insert></title>
    </h:head>

    <f:metadata>
        <f:event type="preRenderView" listener="#{browserHistoryController.addPageUrl()}"/>
        <f:event type="preRenderView" listener="#{userController.getBusinessIdentity()}"/>
    </f:metadata>

    <h:body>
        <div id="layout">
            <!-- Mobile Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link"><span></span></a>

            <div id="menu">
                <!--                <a class="ox-heading" href="#"><i class="fa fa-lemon-o fa-fw"></i>Tent Portal</a>-->
                <o:graphicImage value="#{userController.businessLogo}" rendered="#{userController.businessLogo != null}" style="width: 250px;"  dataURI="true"  class="img-responsive img-thumbnail clearfix" />
                <a class="ox-heading" href="#">#{userController.businessName}</a>
                <div id="vertical-menu">
                    <h:form>
                        <ul>

                            <li>
                                <h:link class="item-header #{fn:startsWith(view.viewId, '/user/userReq') ? 'activeSpan' : ''}" outcome="userRequest"><i class="fa fa-user fa-fw"></i>Business Account Setup</h:link>

                            </li>
                            <!--                            <li>
                                                            <span class="item-header"><i class="fa fa-credit-card"></i>Purchase History <b class="pull-right"></b></span>
                                                            <ul>
                                                                <li><a href="#">Current Month</a></li>
                                                                <li><a href="#">Current Week</a></li>
                                                                <li><a href="#">Previous Month</a></li>
                            
                                                            </ul>
                                                        </li>-->

                            <li>
                                <h:outputLink rendered="#{userController.portalUser.id != null}" class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/business/"><i style="color: #DC4A38" class="fa fa-briefcase fa-fw"></i>Business Portal</h:outputLink>
                            </li>

                            <li>
                                <h:outputLink rendered="#{userController.user.designation == 'STAFF'}" class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/manager/"><i style="color: #3affff" class="fa fa-briefcase fa-fw"></i>Order Portal</h:outputLink>
                            </li>
                            <li>
                                <h:outputLink rendered="#{userController.user.designation == 'ADMINISTRATOR'}" class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/admin/"><i style="color: #DC4A38" class="fa fa-cog fa-fw"></i>Administrator</h:outputLink>
                            </li>
                        </ul>
                    </h:form>
                </div>

            </div>



            <div id="main">
                <div class="ui menu">
                    <div class="header item page-title">
                        <ui:insert name="page-title"/>
                    </div>

                    <div class="right menu right-submenu">
                        <div class="item">
                            <h:form>
                                <h:commandLink rendered="#{userController.user.id != null}" style="margin-right: 35px;" action="passwordChange">Change Password</h:commandLink>
                                <h:commandLink rendered="#{userController.user.id != null}" action="#{userController.logout()}"><span class="fa fa-sign-out"></span> Logout</h:commandLink>
                                <h:link outcome="signin" rendered="#{userController.user.id == null}"><span class="fa fa-sign-in"></span> Login</h:link>
                            </h:form> 
                        </div>
                        <a class="item">Help</a>
                    </div>
                </div>


                <!--                <div class="content">
                                    <ui:insert name="content"></ui:insert>
                                    <h:form>
                                        <ui:remove>
                                            <h:commandLink onclick="history.go(-1);
                                                return false;" class="back-button col-sm-12"><i class="fa fa-chevron-circle-left"></i>Back</h:commandLink></ui:remove>
                                        <h:commandLink action="#{browserHistoryController.back}" class="back-button col-sm-12" rendered="#{browserHistoryController.hasPageBack()}"
                                                       ><i class="fa fa-chevron-circle-left"></i>Back</h:commandLink>
                                    </h:form>
                                </div>-->
                <div class="content">
                    <ui:insert name="content"></ui:insert>
                    <h:form>
                        <ui:remove>
                            <h:commandLink onclick="history.go(-1);
                                    return false;" class="back-button col-sm-12"></h:commandLink></ui:remove>
                        <h:commandLink action="#{browserHistoryController.back}" class="back-button col-sm-12" rendered="#{browserHistoryController.hasPageBack()}"
                                       ></h:commandLink>
                    </h:form>
                </div>
            </div>


        </div>


        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
        <h:outputScript library="bootstrap" name="js/bootstrap.js" target="head" />
        <h:outputScript library="kiosk-ui" name="js/ui.js"/>
        <script>
            /*jQuery time*/
            $(document).ready(function () {
                $("#vertical-menu span").click(function () {
                    //slide up all the link lists
                    $("#vertical-menu ul ul").removeClass("activeSpan").slideUp();
                    //slide down the link list below the h3 clicked - only if its closed
                    if (!$(this).next().is(":visible")) {
                        $(this).next().addClass("activeSpan").slideDown();
                    }
                });
            });
        </script>

    </h:body>

</html>
