<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css" id="bootstrapcss" />
        <h:outputStylesheet library="semantic-ui" name="css/semantic-ui-custom.css"  id="semanticcss"/>
        <h:outputStylesheet library="kiosk-ui" name="css/error.css" />
        <title><ui:insert name="title"></ui:insert></title>
    </h:head>

    <h:body>

        <div id="top" class="error_top">
            <h:form>
                <h:commandLink action="#{userController.logout()}" rendered="#{userController.user.id != null}" class="text-info error_top_logout"><span class="fa fa-sign-out"></span> Logout</h:commandLink>
                <h:link outcome="signin"  rendered="#{userController.user.id == null}" class="text-info error_top_logout"><span class="fa fa-sign-out"></span> Login</h:link>
            </h:form>
        </div>

        <div id="content" class="error_center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
