<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" id="namespace">

    <h:head id="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css" id="bootstrapcss" />
        <h:outputStylesheet library="semantic-ui" name="css/semantic-ui-custom.css"  id="semanticcss"/>
        <h:outputStylesheet library="kiosk-ui" name="css/signin.css" id="tempcss"/>
        <title id="title"><ui:insert name="title" id="inserttitle"></ui:insert></title>
    </h:head>

    <h:body class="ui center aligned middle aligned grid" id="body">
        <ui:insert name="content" id="insertcontent"></ui:insert>
    </h:body>

    <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
    <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
    <h:outputScript library="bootstrap" name="js/bootstrap.js" target="head" />
</html>
