<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:panelGrid style="text-align:center;" columns="6">
        <h:panelGrid style="margin-right: 50px">
            <h1>&#8358;#{accountController.todayIncome()}</h1>
            <h4>Daily Sales</h4>
        </h:panelGrid>

        <h:panelGrid style="margin-right: 50px">
            <h1>#{accountController.todaySettlement()}</h1>
            <h4>Today's Settlement Count</h4>
        </h:panelGrid>
        
        <h:panelGrid style="margin-right: 50px">
            <h1>&#8358;#{accountController.todaySettlementAmount()}</h1>
            <h4>Today's Settlement Amount</h4>
        </h:panelGrid>

        <h:panelGrid style="margin-right: 50px">
            <h1>#{accountController.pendingSettlement()}</h1>
            <h4>Pending Payment Count</h4>
        </h:panelGrid>

        <h:panelGrid style="margin-right: 50px">
            <h1>&#8358;#{accountController.pendingPayment()}</h1>
            <h4>Pending Payment Amount</h4>
        </h:panelGrid>

        <h:panelGrid>
            <h1>&#8358;#{accountController.paidToday()}</h1>
            <h4>Paid Out Today</h4>
        </h:panelGrid>
    </h:panelGrid>
    <br></br>
    <br></br>
</ui:composition>