<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <div class="clearfix col-md-12">

        <div class="form-group col-md-3">
            <label>Kiosk</label>
            <h:selectOneMenu id="kioskSelect" value="#{transactionController.kiosk}" converter="omnifaces.SelectItemsConverter" class="form-control">
                <f:selectItem noSelectionOption="true" itemLabel="All" />
                <f:selectItems value="#{transactionController.kiosks}" var="kiosk" itemLabel="#{kiosk.name}"/>
            </h:selectOneMenu>
        </div>
        <div class="form-group col-md-3">
            <label>Payment Option</label>
            <h:selectOneMenu id="paymentMode" value="#{transactionController.paymentMode}" converter="omnifaces.SelectItemsConverter" class="form-control">
                <f:selectItem noSelectionOption="true" itemLabel="All" />
                <f:selectItems value="#{transactionController.paymentModes}" var="mode" itemLabel="#{mode.option}"/>
            </h:selectOneMenu>
        </div>
        <div class="form-group col-md-3">
            <label>Delivery Option</label>
            <h:selectOneMenu id="deliveryOption" value="#{transactionController.deliveryOption}" converter="omnifaces.SelectItemsConverter" class="form-control">
                <f:selectItem noSelectionOption="true" itemLabel="All" />
                <f:selectItems value="#{transactionController.deliveryOptions}" var="option" itemLabel="#{option.option}"/>
            </h:selectOneMenu>
        </div>
        <div class="form-group  col-md-3">
            <label>Order ID</label>
            <h:inputText value="#{transactionController.orderId}" class="form-control"/>
        </div>
    </div>
    
</ui:composition>