<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:dialog header="Order Detail" widgetVar="orderDialog" modal="true" height="500px" width="675px" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <h:commandButton style="margin-bottom: 10px;" value="Print" class="btn btn-sm">
            <p:printer target="orderDetail" />
        </h:commandButton>

        <p:outputPanel id="orderDetail">
            <div class="modal-header">
                <h:panelGrid columns="2">
                    <h:panelGrid columns="1" style="margin-right: 90px; text-align:left;">
                        <h1>#{transactionController.orderedItem.kiosk.name}</h1>
                    </h:panelGrid>
                    <h:panelGrid columns="1" style="text-align:right;">
                        <a href="order_detail.xhtml"></a>
                        <h1>Order ##{transactionController.orderedItem.batchId} - #{transactionController.orderedItem.orderStatus.status}</h1>
                        <h3><h:outputText value="#{transactionController.orderedItem.checkedOutDate}">
                                <f:convertDateTime pattern="MMMM dd, yyyy" />
                            </h:outputText></h3>
                    </h:panelGrid>
                </h:panelGrid>
            </div>
            <div class="modal-body">
                <p>Ordered By <strong>#{transactionController.orderedItem.orderedBy.firstName} #{transactionController.orderedItem.orderedBy.surname}</strong></p>

                <h:panelGrid columns="2" style="margin-bottom: 30px;">
                    <h:panelGrid columns="1" style="margin-right: 100px;">
                        <h:outputText style="font-weight: bold;" value="Delivery Address" />

                        <h:outputText value="#{transactionController.orderedItem.deliveryAddress.person}" />

                        <h:outputText value="#{transactionController.orderedItem.deliveryAddress.description}"/>

                        <h:outputText value="#{transactionController.orderedItem.deliveryAddress.emailAddress}" />

                        <h:outputText value="#{transactionController.orderedItem.deliveryAddress.phoneNo}" />
                    </h:panelGrid>    
                    <h:panelGrid columns="2">
                        <h:outputText style="font-weight: bold;" value="Delivery Method:" />
                        <h:outputText value="#{transactionController.orderedItem.deliveryOption.deliveryOption}"/>

                        <h:outputText style="font-weight: bold;" value="Payment Method: " />
                        <h:outputText value="#{transactionController.orderedItem.paymentMethod.option}"/>

                        <h:outputText style="font-weight: bold;" value="Delivery Time: " />
                        <h:outputText value="#{transactionController.orderedItem.scheduledTime > 0 ? transactionController.orderedItem.scheduledTime:''}">
                            <f:convertDateTime pattern="MMMM dd, yyyy HH:mm zz " />
                        </h:outputText>
                    </h:panelGrid>
                </h:panelGrid>
            </div>

            <h3>Items Ordered</h3>
            <p:dataTable id="detailTable" var="oDetail" value="#{transactionController.getCarts()}" rowIndexVar="index">
                <p:column width="10%" style="text-align: left" headerText="S/No">
                    <h:outputText value="#{index + 1}" style="font-weight: bold"/>
                </p:column>

                <p:column style="text-align: left" headerText="Item">
                    <h:outputText rendered="#{oDetail.item != null}" value="#{oDetail.item.name}" style="font-weight: bold" />
                    <h:outputText rendered="#{oDetail.itemVariation != null}" style="font-weight: bold" value="#{oDetail.itemVariation.item.name} (#{oDetail.itemVariation.description})" />
                </p:column>

                <p:column width="13%" style="text-align: left" headerText="Quantity">
                    <h:outputText value="#{oDetail.quantity}" style="font-weight: bold"/>
                </p:column>

                <p:column style="text-align: right" headerText="Unit Price (&#8358;)">
                    <h:outputText value="#{oDetail.amount/oDetail.quantity}" style="font-weight: bold">
                        <f:convertNumber type="currency" currencySymbol=""/>
                    </h:outputText>
                </p:column>

                <p:column style="text-align: right" headerText="Subtotal (&#8358;)">
                    <h:outputText value="#{oDetail.amount}" style="font-weight: bold">
                        <f:convertNumber type="currency" currencySymbol=""/>
                    </h:outputText>
                </p:column>

                <p:column style="border: none !important; display: none;" rendered="#{not empty transactionController.populateSubItemCart(oDetail)}">
                    <p:subTable var="subCat" value="#{transactionController.populateSubItemCart(oDetail)}">
                        <p:column />
                        <p:column style="text-align: left">
                            <h:outputText value="#{subCat.subItem.name}" />
                        </p:column>
                        <p:column/>
                        <p:column style="text-align: right">
                            <h:outputText value="#{subCat.price}">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                        <p:column style="text-align: right">
                            <h:outputText value="#{subCat.price * oDetail.quantity}">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </p:column>
                    </p:subTable>
                </p:column>

                <p:columnGroup type="footer">
                    <p:row>
                        <p:column colspan="4" footerText="Promo" style="text-align:right; border: none" />
                        <p:column footerText="#{transactionController.formatCurrency(transactionController.orderedItem.promotionDiscount)}" style="text-align:right"/>
                    </p:row>
                    <p:row>
                        <p:column colspan="4" footerText="Subtotal" style="text-align:right; border: none" />
                        <p:column footerText="#{transactionController.formatCurrency(transactionController.orderedItem.totalAmount - (transactionController.orderedItem.deliveryFee + transactionController.orderedItem.tax))}" style="text-align:right"/>
                    </p:row>
                    <p:row>
                        <p:column colspan="4" footerText="Shipping and Handling" style="text-align:right; border: none" />
                        <p:column footerText="#{transactionController.formatCurrency(transactionController.orderedItem.deliveryFee)}" style="text-align:right"/>
                    </p:row>
                    <p:row>
                        <p:column colspan="4" footerText="Tax" style="text-align:right ; border: none" />
                        <p:column footerText="#{transactionController.formatCurrency(transactionController.orderedItem.tax)}" style="text-align:right"/>
                    </p:row>
                    <p:row>
                        <p:column colspan="4" footerText="Grand Total" style="text-align:right ; border: none;font-weight: bold;"/>
                        <p:column footerText="#{transactionController.formatCurrency(transactionController.orderedItem.totalAmount)}" style="text-align:right; font-weight: bold"/>
                    </p:row>
                </p:columnGroup>
            </p:dataTable>
        </p:outputPanel>
    </p:dialog>
</ui:composition>