<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" 
    xmlns:p="http://primefaces.org/ui">

    <div class="panel panel-default">
        <div class="panel-heading">Selected SubItem Group</div>
        <h:dataTable id="selectedSubItemGroupTable" value="#{itemController.itemSubItemGroups}" var="sdga" class="table table-responsive table-bordered">
            <h:column>
                <f:facet name="header">
                    <h:commandLink action="#{itemController.removeSubItemGroup()}" value="Remove Selected" onclick="return confirm('Are you sure?');" rendered="#{itemController.removeSubItemGroupTable == true}"/>
                </f:facet>
                <h:selectBooleanCheckbox value="#{itemController.selectedSubItemGroups[sdga.id]}">
                    <f:ajax render="detailForm:selectedSubItemGroupTable" listener="#{itemController.selectedSubItemGroupTable}"/>
                </h:selectBooleanCheckbox>
            </h:column>
            <h:column>
                <f:facet name="header">Group Name</f:facet>
                <h:commandLink action="#{itemController.fetchSubItems(sdga)}" value="#{sdga.name}">
                    <p:ajax oncomplete="PF('subItemGroupModal').show()" update="detailForm:subItemGroupModalPanel"/>
                </h:commandLink>
            </h:column>
            <h:column>
                <f:facet name="header"></f:facet>
                <h:commandLink action="#{itemController.removeSingleSubItemGroup(sdga.id)}" onclick="return confirm('Are you sure?');" value="Remove"/>
            </h:column>
        </h:dataTable>
    </div>
    <p:dialog header="SubItems" widgetVar="subItemGroupModal" minHeight="100" id="subItemGroupModalPanel">
        <div class="modal-body">
            <h:dataTable value="#{itemController.subItemsFromGroup}" var="siig" class="table table-hover table-bordered">
                <h:column>
                    <f:facet name="header">Name</f:facet>
                        #{siig.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Price</f:facet>
                        #{siig.price}
                </h:column>
            </h:dataTable>
        </div>
    </p:dialog>

    <div class="panel panel-default">
        <div class="panel-heading">Available SubItem Group</div>
        <h:dataTable id="addSubItemGroupTable" value="#{itemController.subItemGroups}" var="sdgi" class="table table-responsive table-bordered" >
            <h:column>
                <f:facet name="header">
                    <h:commandLink action="#{itemController.addSubItemGroup()}" value="Add Selected" rendered="#{itemController.addSubItemGroupTable == true}"/>
                </f:facet>
                <h:selectBooleanCheckbox value="#{itemController.availableSubItemGroups[sdgi.id]}">
                    <f:ajax render="detailForm:addSubItemGroupTable" listener="#{itemController.selectedSubItemGroupTable}"/>
                </h:selectBooleanCheckbox>
            </h:column>
            <h:column>
                <f:facet name="header">Group Name</f:facet>
                <h:commandLink action="#{itemController.fetchSubItems(sdgi)}" value="#{sdgi.name}">
                    <p:ajax oncomplete="PF('subItemGroupModalAdd').show()" update="detailForm:subItemGroupModalAddPanel"/>
                </h:commandLink>
            </h:column>
            <h:column>
                <f:facet name="header"></f:facet>
                <h:commandLink action="#{itemController.addSingleSubItemGroup(sdgi)}" value="Add"/>
            </h:column>
        </h:dataTable>
    </div>
    <p:dialog header="SubItems" widgetVar="subItemGroupModalAdd" minHeight="100" id="subItemGroupModalAddPanel">
        <div class="modal-body">
            <h:dataTable value="#{itemController.subItemsFromGroup}" var="siiag" class="table table-hover table-bordered">
                <h:column>
                    <f:facet name="header">Name</f:facet>
                        #{siiag.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Price</f:facet>
                        #{siiag.price}
                </h:column>
            </h:dataTable>
        </div>
    </p:dialog>
</ui:composition>

