<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" 
    xmlns:p="http://primefaces.org/ui">

    <div class="panel panel-default">
        <div class="panel-heading">Selected Sub-Item</div>
        <h:dataTable id="selectedSubItemTable" value="#{itemController.itemSubItems}" var="sda" class="table table-hover table-bordered">
            <h:column>
                <f:facet name="header">
                    <h:commandLink action="#{itemController.removeSubItem()}" value="Remove Selected" onclick="return confirm('Are you sure?');" rendered="#{itemController.removeSubItemTable == true}"/>
                </f:facet>
                <h:selectBooleanCheckbox value="#{itemController.selectedSubItems[sda.id]}">
                    <f:ajax render="detailForm:selectedSubItemTable" listener="#{itemController.selectedSubItemTable}"/>
                </h:selectBooleanCheckbox>
            </h:column>
            <h:column>
                <f:facet name="header">Name </f:facet>
                    #{sda.name}
            </h:column>
            <h:column>
                <f:facet name="header">Price </f:facet>
                    #{sda.price}
            </h:column>
            <h:column>
                <f:facet name="header"></f:facet>
                <h:commandLink action="#{itemController.removeSingleSubItem(sda)}" onclick="return confirm('Are you sure?');" value="Remove"/>
            </h:column>
        </h:dataTable>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Available Sub-Items</div>
        <h:dataTable id="addselectedSubItemTable" value="#{itemController.subItems}" var="sdi" class="table table-hover table-bordered">
            <h:column>
                <f:facet name="header">
                    <h:commandLink action="#{itemController.addSubItem()}" value="Add Selected" rendered="#{itemController.addSubItemTable == true}"/>
                </f:facet>
                <h:selectBooleanCheckbox value="#{itemController.availableSubItems[sdi.id]}">
                    <f:ajax render="detailForm:addselectedSubItemTable" listener="#{itemController.selectedSubItemTable}"/>
                </h:selectBooleanCheckbox>
            </h:column>
            <h:column>
                <f:facet name="header">Name </f:facet>
                    #{sdi.name}
            </h:column>
            <h:column>
                <f:facet name="header">Price </f:facet>
                    #{sdi.price}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:commandLink action="#{itemController.testing()}" value="Create Group" rendered="#{itemController.addSubItemTable == true}">
                        <p:ajax oncomplete="PF('groupNameModal').show()" update="detailForm:groupNameModalPanel"/>
                    </h:commandLink>
                </f:facet>
                <h:commandLink action="#{itemController.addSingleSubItem(sdi)}" value="Add"/>
            </h:column>
        </h:dataTable>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Item SubItem Group</div>
        <h:dataTable id="itemSubItemGroupTable" value="#{itemController.uniqueItemSubItemGroups}" var="usig" class="table table-hover table-bordered">
            <h:column>
                <f:facet name="header">Name </f:facet>
                <h:commandLink action="#{itemController.fetchSubItems(usig)}" value="#{usig.name}">
                    <p:ajax oncomplete="PF('groupDetailModal').show()" update="detailForm:groupDetailModalPanel"/>
                </h:commandLink>
            </h:column>
            <h:column>
                <f:facet name="header"></f:facet>
                <h:commandLink action="#{itemController.deleteSubItemGroup(usig)}" value="Remove" onclick="return confirm('Are you sure?');"/>
            </h:column>
        </h:dataTable>
    </div>

    <div class="clearfix col-md-12">
        <p:dialog header="Group Name" widgetVar="groupNameModal" minHeight="100" id="groupNameModalPanel">
            <div class="modal-body">
                <div class="form-group  col-md-6">
                    <label>SubItem Group Name</label>
                    <h:inputText id="subItemGroupName" value="#{itemController.subItemGroup.name}" class="form-control"/>
                </div>
                <div class="form-group  col-md-7">
                    <label style="margin-right: 5px;">Multi Select</label>
                    <h:selectBooleanCheckbox value="#{itemController.subItemGroup.multiSelect}" />
                </div>
                <div class="form-group  col-md-7">
                    <h:commandButton action="#{itemController.registerSubItemGroup()}" onclick="checkSubItemGroupName()" value="Register Group" class="btn btn-primary" />
                </div>
            </div>
        </p:dialog>
    </div>


    <div class="clearfix col-md-12">
        <p:dialog header="Group Detail" widgetVar="groupDetailModal" minHeight="100" id="groupDetailModalPanel">
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Selected Sub-Item</div>
                    <h:dataTable id="selectedGroupSubItemTable" value="#{itemController.subItemsFromGroup}" var="sda2" class="table table-hover table-bordered">
                        <h:column>
                            <f:facet name="header">
                                <h:commandLink action="#{itemController.removeSubItemUniqueItem()}" value="Remove Selected" onclick="return confirm('Are you sure?');" rendered="#{itemController.removeSubItemTable == true}"/>
                            </f:facet>
                            <h:selectBooleanCheckbox value="#{itemController.selectedSubItems[sda2.id]}">
                                <f:ajax render="detailForm:selectedGroupSubItemTable" listener="#{itemController.selectedSubItemTable}"/>
                            </h:selectBooleanCheckbox>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Name </f:facet>
                                #{sda2.name}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Price </f:facet>
                                #{sda2.price}
                        </h:column>
                    </h:dataTable>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Available Sub-Items</div>
                    <h:dataTable id="addGroupselectedSubItemTable" value="#{itemController.subItems}" var="sdi2" class="table table-hover table-bordered">
                        <h:column>
                            <f:facet name="header">
                                <h:commandLink action="#{itemController.addSubItemToSubItemGroup()}" value="Add Selected" rendered="#{itemController.addSubItemTable == true}"/>
                            </f:facet>
                            <h:selectBooleanCheckbox value="#{itemController.availableSubItems2[sdi2.id]}">
                                <f:ajax render="detailForm:addGroupselectedSubItemTable" listener="#{itemController.selectedSubItemTable}"/>
                            </h:selectBooleanCheckbox>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Name </f:facet>
                                #{sdi2.name}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Price </f:facet>
                                #{sdi2.price}
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
        </p:dialog>
    </div>
    <script>
        function checkSubItemGroupName() {
            var name = document.getElementById('detailForm:subItemGroupName').value;

            if (name === "") {
                alert("Please Input a SubItem Group Name");
                
            }
        }
    </script>

</ui:composition>

