<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="form-group  col-xs-12">
        <label>Item Display Name</label>
        <h:inputText value="#{itemController.itemPrice.displayName}" class="form-control "/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        <label>Quantity</label>
        <h:inputText value="#{itemController.itemPrice.quantity}" class="form-control"/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        <label>Item Price</label>
        <h:inputText value="#{itemController.itemPrice.price}" class="form-control"/>
    </div>
    <div class="form-group col-xs-12">
        <label>Item Description</label>
        <h:inputTextarea  cols="15" value="#{itemController.itemPrice.description}" class="form-control"/>
    </div>

    
    <div class="btn-group form-group col-xs-12" >
        <h:commandButton action="#{itemController.addItemPrice()}" value="Set Price" class="btn btn-default" 
                         rendered="#{itemController.itemPrice.id == null}"/>
        <h:commandButton action="#{itemController.updateItemPrice()}" value="Update Price" class="btn btn-simple" 
                         rendered="#{itemController.itemPrice.id != null}"/>
        <h:commandButton action="#{itemController.deleteItemPrice()}" value="Delete Entry" class="btn btn-danger" 
                         rendered="#{itemController.itemPrice.id != null}"/>
        
    </div>

</ui:composition>