<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="form-group  col-md-6">
        <label>Item Name</label>
        <h:inputText value="#{itemController.item.name}" class="form-control" required="true" requiredMessage="Please Provide an Item Name"/>
    </div>

    <div class="form-group  col-md-6">
        <label>Item Price</label>
        <h:inputText value="#{itemController.item.price}" class="form-control"/>
    </div>

    <div class="form-group col-md-7">
        <label>Business Name</label>
        <h:selectOneMenu value="#{itemController.business}" converter="omnifaces.SelectItemsConverter" class="form-control" required="true" requiredMessage="Please Select a Business">
            <f:selectItem noSelectionOption="true" itemLabel="-------" />
            <f:selectItems value="#{businessController.activeBusinesses}" var="business" itemLabel="#{business.name}"/>
        </h:selectOneMenu>
    </div>

    <div class="form-group  col-md-8">
        <label>Item Description</label>
        <h:inputTextarea cols="25" value="#{itemController.item.description}" validatorMessage="Maximum length of characters for Item Description is 200" class="form-control">
            <f:validateLength maximum="200"/>
        </h:inputTextarea>
    </div>

    <div class="clearfix col-md-12">
        <div class="form-group btn-group">

            <h:commandButton action="#{itemController.registerItem()}" value="Create Item" class="btn btn-primary" 
                             rendered="#{itemController.item.id == null}"/>
        </div>
        <div class="form-group btn-group">
            <h:panelGroup rendered="#{itemController.item.id != null}">
                <h:commandButton action="#{itemController.updateItem()}" value="Update Item" class="btn btn-primary" />
                <h:commandButton action="#{itemController.disableItem()}" value="Disable Item" class="btn btn-danger pull-right" onclick="return confirm('Are you sure?');"
                                 rendered="#{itemController.item.status == true}"/>
                <h:commandButton action="#{itemController.enableItem()}" value="Enable Item" class="btn btn-secondary pull-right" onclick="return confirm('Are you sure?');"
                                 rendered="#{itemController.item.status != true}"/>
            </h:panelGroup>
        </div>
    </div>
</ui:composition>
