<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <h:panelGroup rendered="#{itemController.itemVariation.id == null}">
        <div class="form-group  col-xs-12">
            <label>Variation Name</label>
            <h:inputText value="#{itemController.itemVariation.description}" class="form-control "/>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label>Price</label>
            <h:inputText value="#{itemController.itemVariation.price}" class="form-control"/>
        </div>

        <div class="btn-group form-group col-xs-12" >
            <h:commandButton action="#{itemController.addItemVariation()}" value="Create Variation" class="btn btn-primary"/>
        </div>
    </h:panelGroup>

    <h:panelGroup rendered="#{itemController.itemVariation.id != null}">
        <div class="form-group  col-xs-12">
            <label>Variation Name</label>
            <h:inputText value="#{itemController.itemVariation.description}"  class="form-control "/>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label>Price</label>
            <h:inputText value="#{itemController.itemVariation.price}" class="form-control"/>
        </div>

        <div class="btn-group form-group col-xs-12" >
            <h:commandButton action="#{itemController.updateItemVariation()}" value="Update Variation" class="btn btn-primary"/>
        </div>

        <h:dataTable id="variationSubItems" value="#{itemController.subItemCosts}" var="sdi2" class="table table-hover table-bordered">
            <h:column>
                <f:facet name="header">SubItem</f:facet>
                    #{sdi2.subItem.name}
            </h:column>
            <h:column>
                <f:facet name="header">Parent Price </f:facet>
                    #{sdi2.subItem.price}
            </h:column>
            <h:column>
                <f:facet name="header">Variation Price </f:facet>
                    #{sdi2.price}
            </h:column>
            <h:column>
                <f:facet name="header">Active </f:facet>
                    #{sdi2.active}
            </h:column>
            <h:column>
                <f:facet name="header">       
                </f:facet>
                <h:commandLink action="#{itemController.setVariationSubItemCost(sdi2)}" value="Edit">
                    <p:ajax oncomplete="PF('subItemVarModal').show()" update="detailForm:subItemVarModalPanel"/>
                </h:commandLink>
            </h:column>
        </h:dataTable>


        <div class="clearfix col-md-12">
            <p:dialog header="SubItem Cost Edit" widgetVar="subItemVarModal" minHeight="100" id="subItemVarModalPanel">
                <div class="modal-body">
                    <div class="form-group  col-md-6">
                        <label>Variation Price</label>
                        <h:inputText value="#{itemController.variationSubItemCost.price}" class="form-control"/>
                    </div>
                    <div class="form-group  col-md-6">
                        Active? <h:selectBooleanCheckbox value="#{itemController.variationSubItemCost.active}" />
                    </div>
                    <div class="form-group  col-md-7">
                        <h:commandButton action="#{itemController.updateVariationSubItemCost()}" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </p:dialog>
        </div>
    </h:panelGroup>

</ui:composition>