<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <div class="form-group  col-md-6">
        <label>SubItem Name</label>
        <h:inputText value="#{itemController.subItem.name}" class="form-control" required="true" requiredMessage="Please Fill in a SubItem">
<!--            <f:validateLength minimum="3" />-->
        </h:inputText>
    </div>

    <div class="form-group  col-md-8">
        <label>SubItem Price</label>
        <h:inputText value="#{itemController.subItem.price}" class="form-control"/>
    </div>

    <div class="form-group col-md-7">
        <label>Business Name</label>
        <h:selectOneMenu value="#{itemController.business}" converter="omnifaces.SelectItemsConverter" class="form-control" required="true" requiredMessage="Please Select a Business Name">
            <f:selectItem noSelectionOption="true" itemLabel="-------" />
            <f:selectItems value="#{businessController.activeBusinesses}" var="business" itemLabel="#{business.name}"/>
        </h:selectOneMenu>
    </div>

    <div class="clearfix col-md-12">
        <div class="form-group btn-group">
            <h:commandButton action="#{itemController.registerSubItem()}" value="Create SubItem" class="btn btn-primary" 
                             rendered="#{itemController.subItem.id == null}"/>
        </div>
        <div class="form-group btn-group">

            <h:panelGroup rendered="#{itemController.subItem.id != null}">

                <h:commandButton action="#{itemController.updateSubItem()}" value="Update SubItem" class="btn btn-primary" />

                <h:commandButton action="#{itemController.disableSubItem()}" value="Disable SubItem" class="btn btn-danger pull-right" onclick="return confirm('Are you sure?');"
                                 rendered="#{itemController.subItem.active == true}"/>

                <h:commandButton action="#{itemController.enableSubItem()}" value="Enable SubItem" class="btn btn-secondary pull-right" onclick="return confirm('Are you sure?');"
                                 rendered="#{itemController.subItem.active != true}"/>
            </h:panelGroup>
        </div>
    </div>
</ui:composition>
