<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="form-group">
        <label>Business Name</label>
        <h:inputText value="#{portalBusinessController.business.name}" class="form-control" required="true"/>
    </div>
    <div class="form-group">
        <label>Business Description</label>
        <h:inputTextarea cols="25" value="#{portalBusinessController.business.description}" class="form-control"/>
    </div>
    <br/>
    <br/>
    <div class="form-group btn-group">
        <ui:remove>
            <h:commandButton action="#{ownerBusinessController.registerBusiness()}" value="Register Business" class="btn btn-primary" 
                                   rendered="#{portalBusinessController.business.id == null}"/> 
        </ui:remove>

        <h:panelGroup rendered="#{portalBusinessController.business.id != null}">
            <h:commandButton action="#{portalBusinessController.updateBusiness()}" value="Update Business" class="btn btn-default" />

            <h:commandButton action="#{portalBusinessController.disableBusiness()}" value="Disable Business" class="btn btn-danger pull-right" onclick="return confirm('Are you sure?');"
                             rendered="#{portalBusinessController.business.status == true}"/>

            <h:commandButton action="#{portalBusinessController.enableBusiness()}" value="Enable Business" class="btn btn-secondary pull-right" 
                             rendered="#{portalBusinessController.business.status != true}"/>


        </h:panelGroup>


    </div>
</ui:composition>
