<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:o="http://omnifaces.org/ui">

    <div class="panel-body">
        <div class="form-group col-sm-12">
            <label>First Name</label>
<!--            <h:inputText id="firstname" value="#{userController.user.firstName}" class="form-control" 
                         required="true" requiredMessage="#{msg.labelFirstname} cannot be null" validatorMessage="First name length is less than allowable minimum of '3'">-->
            <h:inputText id="firstname" value="#{userController.user.firstName}" class="form-control" 
                         required="true" requiredMessage="First Name is Required">
                <f:passThroughAttribute name="placeholder" value="First Name"/>
                <!--                <f:validateLength minimum="3" />-->
            </h:inputText>
        </div>

        <div class="form-group col-sm-12">
            <label>Surname</label>
<!--            <h:inputText value="#{userController.user.surname}" class="form-control" id="surname" 
                         required="true" requiredMessage="#{msg.labelSurname} value is required." validatorMessage="Surname length is less than allowable minimum of '3'">-->
            <h:inputText value="#{userController.user.surname}" class="form-control" id="surname" 
                         required="true" requiredMessage="Surname is Required">
                <f:passThroughAttribute name="placeholder" value="Surname"/>
                <!--                <f:validateLength minimum="3"/>-->
            </h:inputText>
        </div>
        <div class="form-group col-sm-12">
            <label class="text-left">Email Address</label>
            <h:inputText value="#{userController.user.emailAddress}" class="form-control" required="true" requiredMessage="Email Address is required." id="emailaddress" validatorMessage="Email Address is not valid.">
                <f:passThroughAttribute name="placeholder" value="Email Address"/>
                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
<!--                <ui:remove><f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></ui:remove>-->
            </h:inputText>
        </div>


        <h:panelGroup class="form-group col-sm-6" rendered="#{userController.user.id == null}" >
            <label>Password</label>
            <h:inputSecret value="#{userController.user.password}" class="form-control" id="password" 
                           required="true" requiredMessage="Password is Required">
                <f:passThroughAttribute name="placeholder" value="Password"/>
            </h:inputSecret>
        </h:panelGroup>
        <h:panelGroup class="form-group col-sm-6" rendered="#{userController.user.id == null}" >
            <label>Confirm</label>
            <h:inputSecret class="form-control" id="confirm" required="true" requiredMessage="Please confirm your password.">
                <f:passThroughAttribute name="placeholder" value="Confirm"/>
            </h:inputSecret>
        </h:panelGroup>
        <o:validateEqual id="equal" components="password confirm" message="Your password does not match"  />

        <div class="form-group col-sm-12">
            <label>Phone Number</label>
            <h:inputText value="#{userController.user.phoneNumber}" class="form-control" id="phonenumber" required="true" requiredMessage="Phone number is required" validatorMessage="Phone Number is not valid. It requires a number">
                <f:passThroughAttribute name="placeholder" value="Phone Number"/>
                <f:validateRegex pattern="(^\+[0-9]{2}|^\+[0-9]{2}\(0\)|^\(\+[0-9]{2}\)\(0\)|^00[0-9]{2}|^0)([0-9]{9}$|[0-9\-\s]{10}$)"/>
<!--                <f:convertNumber integerOnly="true" type="number" minIntegerDigits="8"/>-->
            </h:inputText>
        </div>

        <div class="form-group col-sm-12">
            <label>Mailing Address</label>
<!--            <h:inputTextarea value="#{userController.user.mailingAddress}" class="form-control" cols="35" id="mailingaddress" validatorMessage="Mailling address Length is less than allowable minimum of '10'">-->
            <h:inputTextarea value="#{userController.user.mailingAddress}" class="form-control" cols="35" id="mailingaddress">
                <f:passThroughAttribute name="placeholder" value="Mailing Address"/>
                <!--                <f:validateLength minimum="10" />-->
            </h:inputTextarea>
        </div>
        <div class="form-group btn-group col-sm-12">
            <h:commandButton action="#{userController.signup()}" value="Sign Up" class="ui primary button" rendered="#{userController.user.id == null}"/>
            <h:commandButton action="#{userController.updateKioskUser()}" value="Update Account" class="ui primary button" rendered="#{userController.user.id != null}"/>
        </div>
    </div>
</ui:composition>