<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{itemController.iquery}"/>
                <f:event type="preRenderView" listener="#{itemController.loadItemDetail()}"/>
            </f:metadata>


            <ui:define name="title">
                Item Detail
            </ui:define>

            <ui:define name="page-title">
                Item Detail
            </ui:define>

            <ui:define name="content">
                <o:form id="detailForm" includeRequestParams="true" includeViewParams="true" enctype="multipart/form-data">

                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="boRegisterItem" class="btn btn-sm btn-default">Register Item</h:link>
                            <h:link outcome="boManageItem" style="margin-left: 15px;" class="btn btn-sm btn-default">Item List</h:link>

                            <h:commandButton value="Item Detail" style="margin-left: 75px;" class="btn btn-sm">
                                <f:ajax render="itemDetailView" listener="#{itemController.showDetailDiv}"/>
                            </h:commandButton>
                            <h:commandButton value="Image" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="itemDetailView" listener="#{itemController.showImageDiv}"/>
                            </h:commandButton>
                            <h:commandButton value="Variation" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="itemDetailView" listener="#{itemController.showVariationDiv}"/>
                            </h:commandButton>
                            <h:commandButton value="SubItem" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="itemDetailView" listener="#{itemController.showSubItemDiv}"/>
                            </h:commandButton>
                            <h:commandButton value="SubItem Group" style="margin-left: 5px;" class="btn btn-sm">
                                <f:ajax render="itemDetailView" listener="#{itemController.showSubItemGroupDiv}"/>
                            </h:commandButton>
                        </div>
                    </div>
                    <br></br>
                    <h:messages class="ui message" />
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>
                                Item Detail
                            </div>
                            <div class="panel-body">
                                <ui:include src="snippet/item_info.xhtml" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-lg-push-1">
                        <h:panelGroup id="itemDetailView">
                            <h:panelGroup rendered="#{itemController.showImageTab == true}">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-info" style="font-weight: lighter"><i class="fa fa-cogs fa-fw text-info" ></i>Upload Item Image</div>
                                        <div class="panel-body">
                                            <fieldset class="form-group">
                                                <label>Select Image</label>
                                                <h:inputFile id="fileUpload" value="#{itemController.file}" class="form-control btn-file" ></h:inputFile>
                                            </fieldset>
                                            <div class="btn-group">
                                                <h:commandButton onclick="checkFile()" value="Upload Image" action="#{itemController.uploadFiletoDB()}" class="btn btn-sm btn-primary"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-info">
                                    <div class="panel-body clearfix">
                                        <div class="row clearfix">
                                            <o:graphicImage value="#{itemController.itemImage.image}" rendered="#{itemController.itemImage.image != null}" dataURI="true" style="width: 200px; " class="img-responsive img-thumbnail" />
                                            <br/> 
                                            <h:commandLink id="remove_item_image_button" rendered="#{itemController.itemImage.image != null}" class="text-info" value="Remove Image" onclick="return confirm('Are you sure?');" action="#{itemController.deleteItemImage()}"></h:commandLink>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{itemController.showVariationTab == true}">
                                <div class="col-lg-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>
                                            <h:outputLabel rendered="#{itemController.itemVariation.id == null}" style="font-weight: lighter">Create Item Variation</h:outputLabel>
                                            <h:outputLabel rendered="#{itemController.itemVariation.id != null}" style="font-weight: lighter">Update Item Variation</h:outputLabel>
                                            <h:commandButton rendered="#{itemController.itemVariation.id != null}" action="#{itemController.cancelVariationUpdate()}" value="Cancel" class="btn btn-danger pull-right"/>
                                        </div>
                                        <div class="panel-body">
                                            <ui:include src="snippet/item-variation-info.xhtml" />
                                        </div>
                                    </div>
                                </div>
                                <h:panelGroup rendered="#{not empty itemController.itemVariations}">
                                    <h:dataTable  value="#{itemController.itemVariations}" var="itemV" class="table table-responsive table-bordered">
                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Name</f:facet>
                                                #{itemV.description}
                                        </h:column>
                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Price</f:facet>
                                                #{itemV.price}
                                        </h:column>
                                        <h:column class="thead-inverse">
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink action="#{itemController.editItemVariation(itemV)}" value="Edit" class="text-temp"/>
                                        </h:column>
                                        <h:column class="thead-inverse">
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink rendered="#{itemV.active}" action="#{itemController.disableItemVariation(itemV)}" onclick="return confirm('Are you sure?');" value="Disable" class="text-temp"/>
                                            <h:commandLink rendered="#{!itemV.active}" action="#{itemController.enableItemVariation(itemV)}" onclick="return confirm('Are you sure?');" value="Enable" class="text-temp"/>
                                        </h:column>
                                    </h:dataTable>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{itemController.showSubItemTab == true}">
                                <ui:include src="snippet/addSubItem.xhtml" />
                            </h:panelGroup>

                            <h:panelGroup rendered="#{itemController.showSubItemGroupTab == true}">
                                <ui:include src="snippet/addSubItemGroup.xhtml" />
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </o:form>
            </ui:define>

        </ui:composition>
        <script>
            function checkFile() {
                alert(Checking file);
                var size = document.getElementById('detailForm:fileUpload')[0].files[0].size;

                alert(size);

            }
        </script>
    </body>
</html>
