<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{itemController.populateActiveSubItems()}"/>
                <f:event type="preRenderView" listener="#{itemController.populateDisabledSubItems()}"/>
            </f:metadata>
            <ui:define name="title">
                Manage SubItem
            </ui:define>

            <ui:define name="page-title">
                Manage SubItem
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true">
                    <div class="col-lg-7 col-md-10 btn-group-sm clearfix">
                        <h:link outcome="boRegisterSubItem" value="Register SubItem" class="btn btn-sm btn-default"></h:link>
                    </div>
                    <br/>
                    <br/>
                    <h:panelGroup class="col-md-12 ox-tab-holder">
                        <input id="activeSubItemTab" type="radio" name="tabs"  checked="checked"/>
                        <label for="activeSubItemTab" class="fa fa-bar-chart-o">Active SubItem</label>
                        <input id="inactiveSubItemTab" type="radio" name="tabs"></input>
                        <label for="inactiveSubItemTab" class="fa fa-bar-chart-o">Inactive SubItem</label>

                        <section id="activeSubItemContent">
                            <h:dataTable value="#{itemController.subItems}" var="is" class="table table-hover table-bordered">
                                <h:column>
                                    <f:facet name="header">SubItem Name</f:facet>
                                    <h:link outcome="boSubItemDetail" includeViewParams="true" value="#{is.name}">
                                        <f:param name="squery" value="#{is.id}"/>
                                    </h:link> 
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business Name</f:facet>
                                        #{is.business.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Date Created</f:facet>
                                        #{is.createdDate}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Price</f:facet>
                                    <h:outputText value="#{is.price}">
                                        <f:convertNumber type="currency" currencySymbol=""/>
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:link outcome="boSubItemDetail" includeViewParams="true" value="Detail">
                                        <f:param name="squery" value="#{is.id}"/>
                                    </h:link>
                                </h:column>

                            </h:dataTable>
                        </section>

                        <section id="inactiveSubItemContent">
                            <h:dataTable value="#{itemController.itemSubItems}" var="ds" class="table table-hover table-bordered">
                                <h:column>
                                    <f:facet name="header">SubItem Name </f:facet>
                                    <h:link outcome="boSubItemDetail" includeViewParams="true" value="#{ds.name}">
                                        <f:param name="squery" value="#{ds.id}"/>
                                    </h:link> 
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business Name </f:facet>
<!--                                    <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{ds.business.name}">
                                        <f:param name="bquery" value="#{ds.business.id}"/>
                                    </h:link> -->
                                    #{ds.business.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Date Created</f:facet>
                                        #{ds.createdDate}
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:link outcome="boSubItemDetail" includeViewParams="true" value="Detail">
                                        <f:param name="squery" value="#{ds.id}"/>
                                    </h:link> 
                                </h:column>

                            </h:dataTable>
                        </section>

                        <!--                        <div class="panel-footer">
                                                    <h:link outcome="boRegisterItem" includeViewParams="true" class="btn btn-sm btn-primary" value="Create Item"/>
                                                    <h:link outcome="boRegisterSubItem" includeViewParams="true" class="btn btn-sm btn-primary" value="Create SubItem"/>
                                                    <h:link outcome="boManageSubItemGroup" includeViewParams="true" class="btn btn-sm btn-primary" value="Manage SubItem Group"/>
                                                    <h:link outcome="boRegisterKiosk"  class="btn btn-sm pull-right">Register Kiosk</h:link>
                                                </div>-->
                    </h:panelGroup>
                </o:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
