<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="bquery" value="#{itemController.bquery}" />
                <f:viewAction action="#{itemController.reset()}" />
                <f:event type="preRenderView" listener="#{itemController.populateSubItemGroups()}"/>
            </f:metadata>

            <ui:define name="title">
                Manage SubItem Groups
            </ui:define>

            <ui:define name="page-title">
                Manage SubItem Groups
            </ui:define>

            <ui:define name="content">
                <h:messages />
                <o:form id="my_form" includeRequestParams="true" includeViewParams="true">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h:panelGroup id="toggleButtonDiv">
                            <h:panelGroup rendered="#{itemController.toggleButtonDiv == true}">
                                <div class="col-md-12" style="margin-bottom:15px;">
                                    <div class="form-group-sm btn-group">
                                        <h:commandButton value="Create SubItem Group" class="btn btn-sm btn-default">
                                            <f:ajax render="create_form:createDiv my_form:toggleButtonDiv my_form:updateDiv" listener="#{itemController.showCreateSubItemGroupDiv}"/>
                                        </h:commandButton>
                                    </div>
                                </div>
                                <br></br>
                            </h:panelGroup>
                        </h:panelGroup>


                        <h:panelGroup class="col-lg-10 col-md-15 col-lg-push-0.1">
                            <h:dataTable value="#{itemController.subItemGroups}" var="sigrps" class="table table-hover table-bordered">
                                <h:column>
                                    <f:facet name="header">Group Name </f:facet>
                                        #{sigrps.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business Name </f:facet>
                                        #{sigrps.business.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandLink value="Manage SubItem">
                                        <f:ajax render="create_form:createDiv my_form:toggleButtonDiv my_form:updateDiv" listener="#{itemController.showUpdateSubItemGroupDiv(sigrps)}"/>
                                    </h:commandLink>
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandLink action="#{itemController.setSubItemGroup(sigrps)}" value="Edit">
                                        <p:ajax oncomplete="PF('subItemGroupDetailModal').show()" update="my_form:subItemGroupDetailModalPanel"/>
                                    </h:commandLink>
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:commandLink action="#{itemController.disableSubItemGroup(sigrps.id)}" onclick="return confirm('Are you sure?');" rendered="#{sigrps.active == true}" value="Disable" />
                                    <h:commandLink action="#{itemController.enableSubItemGroup(sigrps.id)}" onclick="return confirm('Are you sure?');" rendered="#{sigrps.active != true}" value="Enable" />
                                </h:column>
                            </h:dataTable>

                            <p:dialog header="SubItem Group Detail" widgetVar="subItemGroupDetailModal" minHeight="100" id="subItemGroupDetailModalPanel">
                                <div class="modal-body">
                                    <div class="form-group  col-md-6">
                                        <label>SubItem Group Name</label>
                                        <h:inputText value="#{itemController.subItemGroup.name}" class="form-control"/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Business Name</label>
                                        <h:selectOneMenu id="businessDropDownModal" value="#{itemController.business}"  converter="omnifaces.SelectItemsConverter" class="form-control">
                                            <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                            <f:selectItems value="#{businessController.activeBusinesses}"  var="business" itemLabel="#{business.name}"/>
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="form-group  col-md-7">
                                        <label style="margin-right: 5px;">Multi Select</label>
                                        <h:selectBooleanCheckbox value="#{itemController.subItemGroup.multiSelect}" />
                                    </div>
                                    <div class="form-group  col-md-7">
                                        <h:commandButton action="#{itemController.updateSubItemGroup()}" value="Update" class="btn btn-primary" />
                                    </div>
                                </div>
                            </p:dialog>
                        </h:panelGroup>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h:panelGroup id="updateDiv">
                            <h:panelGroup rendered="#{itemController.updateSubItemGroup == true}">
                                <h3>#{itemController.subItemGroup.name}</h3>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Selected Sub-Item</div>
                                    <h:dataTable id="selectedSubItemTable" value="#{itemController.itemSubItems}" var="sda" class="table table-responsive table-bordered">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:commandLink action="#{itemController.removeSubItemFromGroup()}" value="Remove Selected" onclick="return confirm('Are you sure?');" rendered="#{itemController.removeSubItemTable == true}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox value="#{itemController.selectedSubItems[sda.id]}">
                                                <f:ajax render="my_form:selectedSubItemTable" listener="#{itemController.selectedSubItemTable}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">SubItem Name</f:facet>
                                                #{sda.name}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">SubItem Price</f:facet>
                                                #{sda.price}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink action="#{itemController.removeSingleSubItemFromGroup(sda.id)}" onclick="return confirm('Are you sure?');" value="Remove"/>
                                        </h:column>
                                    </h:dataTable>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Sub-Item</div>
                                    <h:dataTable id="addselectedSubItemTable" value="#{itemController.subItems}" var="sdi" class="table table-responsive table-bordered">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:commandLink action="#{itemController.addSubItemToGroup()}" value="Add Selected" rendered="#{itemController.addSubItemTable == true}"/>
                                            </f:facet>
                                            <h:selectBooleanCheckbox value="#{itemController.availableSubItems[sdi.id]}">
                                                <f:ajax render="my_form:addselectedSubItemTable" listener="#{itemController.selectedSubItemTable}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">SubItem Name </f:facet>
                                                #{sdi.name}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">SubItem Price </f:facet>
                                                #{sdi.price}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            <h:commandLink action="#{itemController.addSingleSubItemToGroup(sdi)}" value="Add"/>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </o:form>

                <o:form id="create_form" includeRequestParams="true" includeViewParams="true">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h:panelGroup id="createDiv">
                            <h:panelGroup rendered="#{itemController.showCreateSubItemGroup == true}">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i> 
                                        <h:outputLabel>Create SubItem Groups</h:outputLabel>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group col-md-7">
                                            <label>Business Name</label>
                                            <h:selectOneMenu id="businessDropDown" value="#{itemController.business}"  converter="omnifaces.SelectItemsConverter" class="form-control" required="true" requiredMessage="Please Select a Business">
                                                <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                                <f:selectItems value="#{businessController.activeBusinesses}"  var="business" itemLabel="#{business.name}">
                                                </f:selectItems>
                                                <f:ajax render="create_form:subItemTable" execute="@this" listener="#{itemController.populateSubItemsByBusiness}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group  col-xs-12">
                                            <label>Available SubItems</label>
                                            <h:dataTable id="subItemTable" value="#{itemController.subItems}" var="sig" class="table table-responsive table-bordered">
                                                <h:column>
                                                    <h:selectBooleanCheckbox value="#{itemController.availableSubItems[sig.id]}">
                                                        <p:ajax update="create_form:groupSelectedButtonDiv" listener="#{itemController.checkBooleanCheckBox}"/>
                                                    </h:selectBooleanCheckbox>
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">SubItem Name </f:facet>
                                                        #{sig.name}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">SubItem Price </f:facet>
                                                        #{sig.price}
                                                </h:column>
                                            </h:dataTable>
                                        </div>

                                        <h:panelGroup id="groupSelectedButtonDiv">
                                            <h:panelGroup rendered="#{itemController.showGroupSelectedButtonDiv == true}">
                                                <div class="clearfix col-md-12">
                                                    <div class="form-group btn-group">
                                                        <h:commandButton value="Group Selected SubItem" class="btn btn-primary">
                                                            <p:ajax oncomplete="PF('groupNameModal').show()" update="create_form:groupNameModalPanel"/>
                                                        </h:commandButton>
                                                    </div>
                                                    <p:dialog header="Group Name" widgetVar="groupNameModal" minHeight="100" id="groupNameModalPanel">
                                                        <div class="modal-body">
                                                            <div class="form-group  col-md-6">
                                                                <label>SubItem Group Name</label>
                                                                <h:inputText value="#{itemController.subItemGroup.name}" class="form-control" required="true" requiredMessage="Please Provide a Name"/>
                                                            </div>
                                                            <div class="form-group  col-md-7">
                                                                <label style="margin-right: 5px;">Multi Select</label>
                                                                <h:selectBooleanCheckbox value="#{itemController.subItemGroup.multiSelect}" />
                                                            </div>
                                                            <div class="form-group  col-md-7">
                                                                <h:commandButton action="#{itemController.registerNewSubItemGroup()}" value="Register Group" class="btn btn-primary" />
                                                            </div>
                                                        </div>
                                                    </p:dialog>
                                                </div>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </o:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
