<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Manage Item
            </ui:define>

            <ui:define name="page-title">
                Manage Item
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true">
                    <div class="col-lg-7 col-md-10 btn-group-sm clearfix">
                        <h:link outcome="boRegisterItem" value="Register Item" class="btn btn-sm btn-default"></h:link>
                    </div>
                    <br/>
                    <br/>
                    <h:panelGroup class="col-md-12 ox-tab-holder">

                        <input id="pendingRequestTab" type="radio" name="tabs"  checked="checked" />
                        <label for="pendingRequestTab" class="fa fa-bar-chart-o">Active Items</label>
                        <input id="activeRequestTab" type="radio" name="tabs"></input>
                        <label for="activeRequestTab" class="fa fa-bar-chart-o">Inactive Items</label>
                        <!--                        <input id="activeSubItemTab" type="radio" name="tabs"/>
                                                <label for="activeSubItemTab" class="fa fa-bar-chart-o">Active SubItems</label>
                                                <input id="inactiveSubItemTab" type="radio" name="tabs"></input>
                                                <label for="inactiveSubItemTab" class="fa fa-bar-chart-o">Inactive SubItems</label>-->

                        <section id="pendingRequestContent">
                            <h:dataTable value="#{itemController.activeItems}" var="i" class="table table-hover table-bordered">
                                <h:column>
                                    <f:facet name="header">Item Name </f:facet>
                                    <h:link outcome="boItemDetail" includeViewParams="true" value="#{i.name}">
                                        <f:param name="iquery" value="#{i.id}"/>
                                    </h:link> 
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business Name </f:facet>
<!--                                    <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{i.business.name}">
                                        <f:param name="bquery" value="#{i.business.id}"/>
                                    </h:link> -->
                                    #{i.business.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Date Created</f:facet>
                                        #{i.createdDate}
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:link outcome="boItemDetail" includeViewParams="true" value="Detail">
                                        <f:param name="iquery" value="#{i.id}"/>
                                    </h:link> 
                                </h:column>
                            </h:dataTable>
                        </section>

                        <section id="activeRequestContent">
                            <h:dataTable value="#{itemController.disabledItems}" var="d" class="table table-hover table-bordered">
                                <h:column>
                                    <f:facet name="header">Item Name </f:facet>
                                    <h:link outcome="boItemDetail" includeViewParams="true" value="#{d.name}">
                                        <f:param name="iquery" value="#{d.id}"/>
                                    </h:link> 
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business Name </f:facet>
<!--                                    <h:link outcome="boBusinessDetail" includeViewParams="true" value="#{d.business.name}">
                                        <f:param name="bquery" value="#{d.business.id}"/>
                                    </h:link> -->
                                    #{d.business.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Date Created</f:facet>
                                        #{d.createdDate}
                                </h:column>
                                <h:column>
                                    <f:facet name="header"></f:facet>
                                    <h:link outcome="boItemDetail" includeViewParams="true" value="Detail">
                                        <f:param name="iquery" value="#{d.id}"/>
                                    </h:link> 
                                </h:column>
                            </h:dataTable>
                        </section>

               

                        <!--                        <div class="panel-footer">
                                                    <h:link outcome="boRegisterItem" includeViewParams="true" class="btn btn-sm btn-primary" value="Create Item"/>
                                                    <h:link outcome="boRegisterSubItem" includeViewParams="true" class="btn btn-sm btn-primary" value="Create SubItem"/>
                                                    <h:link outcome="boManageSubItemGroup" includeViewParams="true" class="btn btn-sm btn-primary" value="Manage SubItem Group"/>
                                                    <h:link outcome="boRegisterKiosk"  class="btn btn-sm pull-right">Register Kiosk</h:link>
                                                </div>-->
                    </h:panelGroup>
                </o:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
