<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewParam name="bquery" value="#{itemController.bquery}" />
                <f:viewAction action="#{itemController.reset()}" />
            </f:metadata>


            <ui:define name="title">
                Register Sub-Item
            </ui:define>

            <ui:define name="page-title">
                Register Sub-Item
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true">
                    <div class="col-lg-7 col-md-10 btn-group-sm clearfix">
                        <h:link outcome="boManageSubItem" value="SubItem List" class="btn btn-sm btn-default"></h:link>
                    </div>
                    <br/>
                    <br/>
                    <h:messages />
                    <div class="col-md-7 col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i> 
                                <h:outputLabel rendered="#{itemController.subItem.id == null}">Create Sub-Item</h:outputLabel>
                                <h:outputLabel rendered="#{itemController.subItem.id != null}">Update Sub-Item</h:outputLabel>
                            </div>
                            <div class="panel-body">
                                <ui:include src="snippet/subitem_info.xhtml" />
                            </div>

                            <!--                            <div class="panel-footer">
                                                            <div class="btn-group-sm clearfix">
                                                                <h:link outcome="boManageItem" value="SubItem List" class="btn btn-default pull-right"></h:link>
                                                            </div>
                                                        </div>-->
                        </div>
                    </div>
                </o:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
