<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="squery" value="#{itemController.squery}"/>
                <f:event type="preRenderView" listener="#{itemController.loadSubItemDetail()}"/>
            </f:metadata>


            <ui:define name="title">
                SubItem Detail
            </ui:define>

            <ui:define name="page-title">
                SubItem Detail
            </ui:define>

            <ui:define name="content">
                <o:form includeRequestParams="true" includeViewParams="true" enctype="multipart/form-data">

                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="boRegisterSubItem" class="btn btn-sm btn-default">Add SubItem</h:link>
                            <h:link outcome="boManageSubItem" style="margin-left: 15px;" class="btn btn-sm btn-default">SubItem List</h:link>
                        </div>
                    </div>
                    <br></br>
                    <h:messages class="ui message" />
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>
                                SubItem Detail
                            </div>
                            <div class="panel-body">
                                <ui:include src="snippet/subitem_info.xhtml" />
                            </div>
                        </div>
                        <br/>
                    </div>
                </o:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
