<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/appuser.xhtml" id="dashboadcomposition">
            <f:metadata>
                <f:event type="preRenderView" listener="#{userRequestController.displayAuthResponse()}" />
            </f:metadata>
            
            <ui:define name="title" id="dashboardTitle">
                Dashboard
            </ui:define>


            <ui:define name="page-title">
                Dashboard
            </ui:define>


            <ui:define name="content" id="dashboardContent">
                <h:form id="dashboardForm">
                    <div class="ui message col-lg-8 col-md-10 col-xs-11">
                        <h:messages />
                        Welcome <span style="text-transform: capitalize">#{userController.user.firstName}</span>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
