<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/appuser.xhtml" id="dashboadcomposition">

            <f:metadata>
                <f:event type="preRenderView" listener="#{userRequestController.loadUserRequest()}" />
                <f:event type="preRenderView" listener="#{userRequestController.displayAuthResponse()}" />
<!--                <f:event type="preRenderView" listener="#{userRequestController.requestMessageAlertDisplay()}" />-->
                <f:event type="preRenderView" listener="#{userRequestController.reset()}" />
            </f:metadata>

            <ui:define name="title" id="dashboardTitle">
                Business Account Setup
            </ui:define>


            <ui:define name="page-title">
                Business Account Setup
            </ui:define>


            <ui:define name="content">
                <h:messages class="ui message" />
                <h:form>
                    <h:panelGroup class="col-sm-5" rendered="#{empty userRequestController.userPortalRequests}">
                        <div class="panel panel-default">
                            <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i>Business Account Setup Request</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <span class="btn-group" data-toggle="buttons-radio">
                                        <h:selectOneRadio value="#{userRequestController.request.requestType}" converter="omnifaces.SelectItemsConverter" required="true" requiredMessage="Kindly select the radio button.">
                                            <f:selectItems value="#{userRequestController.requestTypes}" var="o" itemLabel="Business Access Request" />
                                        </h:selectOneRadio>
                                    </span>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label>Any Further Information to Back Your Business Setup Request?</label>
                                    <h:inputTextarea cols="30" value="#{userRequestController.request.comment}" class="form-control"/>
                                </div>


                                <div class="btn-group form-group">
                                    <h:commandButton value="Submit Request" action="#{userRequestController.sendRequest()}" class="btn btn-primary btn-sm" rendered="#{userRequestController.request.id == null}"/>
                                </div>

                            </div>

                        </div>
                    </h:panelGroup>

                    <h:panelGroup class="col-sm-6" rendered="#{not empty userRequestController.userPortalRequests}">
                        <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i>Business Account Requests</div>
                        <h:dataTable value="#{userRequestController.userPortalRequests}" var="o" class="table table-striped table-hover table-bordered" >

                            <h:column>
                                <f:facet name="header"> Request Type</f:facet>
                                    #{o.requestType.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Date Requested</f:facet>
                                    #{o.createdDate}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Status </f:facet>
                                    #{o.status}
                            </h:column>

                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:commandLink rendered="#{o.status.status ne 'Approved'}" action="#{userRequestController.edit(o)}" value="View Detail" />
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
