<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css" id="bootstrapcss" />
        <h:outputStylesheet library="semantic-ui" name="css/semantic-ui-custom.css"  id="semanticcss"/>
        <h:outputStylesheet library="kiosk-ui" name="css/portaluser.css" />
        <title><ui:insert name="title"></ui:insert></title>
    </h:head>


    <h:body>
        <div id="layout">
            <!-- Mobile Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link"><span></span></a>

            <div id="menu">
                <h:form>
                    <a class="ox-heading" href="#"> <i class="fa fa-lemon-o fa-fw"></i>Chef Tent</a>
                    <div id="vertical-menu">
                        <ul>
                            <li>
                                <h:link outcome="sysDashboard" class="item-header #{fn:startsWith(view.viewId, '/das') ? 'activeSpan' : ''}"><i class="fa fa-tachometer fa-fw"></i>Dashboard</h:link>
                            </li>
                            <li>
                                <h:link outcome="sysRequests" class="item-header #{fn:startsWith(view.viewId, '/request/') ? 'activeSpan' : ''}"><i class="fa fa-unlock-alt fa-fw"></i>Requests</h:link>
                            </li>
                            <li>
                                <h:link outcome="sysPortalUsers" class="item-header #{fn:startsWith(view.viewId, '/user/') ? 'activeSpan' : ''}"><i class="fa fa-users fa-fw"></i>Portal Users</h:link>
                            </li>
                            <li>
                                <h:link outcome="sysBusinesses" class="item-header #{fn:startsWith(view.viewId, '/busine') ? 'activeSpan' : ''}"><i class="fa fa-briefcase fa-fw"></i>Businesses</h:link>
                            </li>
                            <li>
                                <h:link outcome="sysKiosks" class="item-header #{fn:startsWith(view.viewId, '/kiosk') ? 'activeSpan' : ''}"><i class="fa fa-building-o fa-fw"></i>Portal Kiosks</h:link>
                            </li>
<!--                            <li>
                                <h:link outcome="sysOrders" class="item-header #{fn:startsWith(view.viewId, '/transac') ? 'activeSpan' : ''}"><i class="fa fa-credit-card fa-fw"></i>Order Transaction</h:link>
                            </li>
                            <li>
                                <h:link outcome="sysTransaction" class="item-header #{fn:startsWith(view.viewId, '/transac') ? 'activeSpan' : ''}"><i class="fa fa-users fa-fw"></i>Transactions</h:link>
                            </li>-->
                            <li>
                                <h:link outcome="sysUserGroups" class="item-header #{fn:startsWith(view.viewId, '/perm') ? 'activeSpan' : ''}"><i class="fa fa-users fa-fw"></i>User Groups</h:link>
                            </li>
                            <li>
                                <h:link outcome="sysAccessGroups" class="item-header #{fn:startsWith(view.viewId, '/transac') ? 'activeSpan' : ''}"><i class="fa fa-unlock-alt fa-fw"></i>Access Groups</h:link>
                            </li>
                            <li>
                                <span class="item-header"><i class="fa fa-credit-card"></i>Payment<b class="pull-right"></b></span>
                                <ul>
                                    <li>
                                        <h:link outcome="accountSummary" class="item-header #{fn:startsWith(view.viewId, '/summary') ? 'activeSpan' : ''}"><i class="fa fa-building-o fa-fw"></i>Account</h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="sysPaymentProvider" class="item-header #{fn:startsWith(view.viewId, '/payment') ? 'activeSpan' : ''}"><i class="fa fa-building-o fa-fw"></i>Payment Provider</h:link>
                                    </li>
                                    <li>
                                        <h:link outcome="splitConfig" class="item-header #{fn:startsWith(view.viewId, '/payment') ? 'activeSpan' : ''}"><i class="fa fa-building-o fa-fw"></i>Split Config</h:link>
                                    </li>
                                </ul>
                            </li>


<!--                            <li>
                                <h:outputLink class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/business/"><i style="color: #00B5AD" class="fa fa-briefcase fa-fw"></i>Business Portal</h:outputLink>
                            </li>-->
<!--                            <li>
                                <h:outputLink class="item-header" value="#{request.scheme}://#{request.serverName}:#{request.serverPort}/"><i style="color: #DC4A38" class="fa fa-briefcase fa-fw"></i>Home</h:outputLink>
                            </li>-->
                        </ul>
                    </div>
                </h:form>

            </div>

            <div id="main">
                <div class="ui menu">
                    <div class="header item page-title">
                        <ui:insert name="page-title"/>
                    </div>

                    <div class="right menu right-submenu">
                        <div class="item">
                            <h:form>
                                <h:commandLink rendered="#{portalUserController.user.id != null}" action="#{portalUserController.logout()}"><span class="fa fa-sign-out"></span> Logout</h:commandLink>
                            </h:form> 
                        </div>
                        <a class="item">Help</a>
                    </div>
                </div>


               <div class="content">
                    <ui:insert name="content"></ui:insert>
                    <div class="clearfix"></div>
<!--                    <h:form>
                        <br/>
                        <div class="col-md-3">
                            <h:commandLink onclick="history.go(-1);
                                    return false;" class="back-button"><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Back</h:commandLink>
                        </div>
                    </h:form>-->
                </div>
            </div>


        </div>


        <!--<h:outputScript library="kiosk-ui" name="js/jquery.min.js" target="head" />-->
        <h:outputScript library="javax.faces" name="jsf.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
        <h:outputScript library="bootstrap" name="js/bootstrap.js" target="head" />
        <h:outputScript library="kiosk-ui" name="js/ui.js"/>
        <script>
            /*jQuery time*/
            jQuery(document).ready(function () {
                jQuery("#vertical-menu span").click(function () {
                    //slide up all the link lists
                    jQuery("#vertical-menu ul ul").removeClass("activeSpan").slideUp();
                    //slide down the link list below the h3 clicked - only if its closed
                    if (!jQuery(this).next().is(":visible")) {
                        jQuery(this).next().addClass("activeSpan").slideDown();
                    }
                });
            });
        </script>

    </h:body>

</html>
