<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewAction action="#{userController.loadUser()}"/>
            </f:metadata>

            <ui:define name="title">
                Business Dashboard
            </ui:define>

            <ui:define name="page-title">
                Business Portal Dashboard
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
<!--                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-green">
                                <div class="panel-left pull-left green">
                                    <i class="fa fa-bar-chart-o fa-5x"></i>

                                </div>
                                <div class="panel-right pull-right">
                                    <h3>8,457</h3>
                                    <strong> Daily Visits</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-blue">
                                <div class="panel-left pull-left blue">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>

                                <div class="panel-right pull-right">
                                    <h3>52,160 </h3>
                                    <strong> Sales</strong>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-red">
                                <div class="panel-left pull-left red">
                                    <i class="fa fa fa-comments fa-5x"></i>

                                </div>
                                <div class="panel-right pull-right">
                                    <h3>15,823 </h3>
                                    <strong> Comments </strong>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-brown">
                                <div class="panel-left pull-left brown">
                                    <i class="fa fa-users fa-5x"></i>

                                </div>
                                <div class="panel-right pull-right">
                                    <h3>36,752 </h3>
                                    <strong>No. of Visits</strong>

                                </div>
                            </div>
                        </div>
                    </div>-->
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
