<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:o="http://omnifaces.org/ui">

    <div class="panel-body">
        <div class="form-group col-sm-12">
            <label>First Name : </label>
            <h:inputText id="firstname" value="#{businessUserController.staff.firstName}" class="form-control" 
                         required="true" requiredMessage="#{msg.labelFirstname} cannot be null" validatorMessage="First name length is less than allowable minimum of '3'">
                <f:passThroughAttribute name="placeholder" value="First Name"/>
                <f:validateLength minimum="3" />
            </h:inputText>
        </div>

        <div class="form-group col-sm-12">
            <label>Surname : </label>
            <h:inputText value="#{businessUserController.staff.surname}" class="form-control" id="surname" 
                         required="true" requiredMessage="#{msg.labelSurname} value is required." validatorMessage="Surname length is less than allowable minimum of '3'">
                <f:passThroughAttribute name="placeholder" value="Surname"/>
                <f:validateLength minimum="3"/>
            </h:inputText>
        </div>
        <div class="form-group col-sm-12">
            <label class="text-left">Email Address : </label>
            <h:inputText value="#{businessUserController.staff.emailAddress}" class="form-control" required="true" requiredMessage="Email value is required." id="emailaddress" validatorMessage="Email address is not valid.">
                <f:passThroughAttribute name="placeholder" value="Email Address"/>
                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.(com|net|org|edu)"/>
                <ui:remove><f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></ui:remove>
            </h:inputText>
        </div>


        <h:panelGroup class="form-group col-sm-6">
            <label>Password : </label>
            <h:inputSecret value="#{businessUserController.staff.password}" class="form-control" id="password" 
                           required="true" requiredMessage="password value is required">
                <f:passThroughAttribute name="placeholder" value="#{msg.labelPassword}"/>
            </h:inputSecret>
        </h:panelGroup>
        <h:panelGroup class="form-group col-sm-6" >
            <label>Confirm #{msg.labelPassword} </label>
            <h:inputSecret class="form-control" id="confirm" required="true" requiredMessage="Confirm password field is required.">
                <f:passThroughAttribute name="placeholder" value="Confirm #{msg.labelPassword}"/>
            </h:inputSecret>
        </h:panelGroup>
        <o:validateEqual id="equal" components="password confirm" message="Passwords are not equal"  />

        <div class="form-group col-sm-12">
            <label>Phone Number : </label>
            <h:inputText value="#{businessUserController.staff.phoneNumber}" class="form-control" id="phonenumber" required="true" requiredMessage="Phone number is required" validatorMessage="Phone Number is not valid. It requires a number">
                <f:passThroughAttribute name="placeholder" value="Phone Number"/>
                <f:convertNumber integerOnly="true" type="number" minIntegerDigits="2"/>
            </h:inputText>
        </div>

        <div class="form-group btn-group col-sm-12">
            <h:commandButton  value="Sign Up" action="#{businessUserController.registerStaff()}" rendered="#{businessUserController.staff.id == null}"/>
            <h:commandButton action="#{businessUserController.updateKioskStaff()}" value="Update Account" rendered="#{businessUserController.staff.id != null}"/>
        </div>
    </div>
</ui:composition>