<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{businessUserController.emptyDetailPageRedirect()}" />
            </f:metadata>

            <ui:define name="title">
                Staff Detail
            </ui:define>

            <ui:define name="page-title">
                Staff Detail
            </ui:define>

            <ui:define name="content">
                <h:form id="businessStaffDetailForm">
                    <div class="clearfix">
                        <h:link outcome="boUsers" class="btn btn-sm btn-default">Staff List</h:link>
                        <h:link outcome="boRegisterUser" style="margin-left: 15px;" class="btn btn-sm btn-default">Register Staff</h:link>
                        <br/><br/>
                    </div>
                    <h:messages />
                    <div class="ui form col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">Business Staff Detail</div>
                            <div class="panel-body">
                                <div class="two fields">
                                    <div class="field">
                                        <h:outputLabel value="FirstName" for="firstName" />
                                        <h:inputText id="firstName" value="#{businessUserController.staff.firstName}" required="true" requiredMessage="Please Input First Name" >
                                            <f:passThroughAttribute name="placeholder" value="First Name"/>
                                        </h:inputText>
                                    </div>
                                    <div class="field">
                                        <h:outputLabel value="Surname" for="surname" />
                                        <h:inputText id="surname" value="#{businessUserController.staff.surname}" required="true" requiredMessage="Please Input Surname">
                                            <f:passThroughAttribute name="placeholder" value="Surname"/>
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="field">
                                    <h:outputLabel value="EmailAddress" for="emailAddress" />
                                    <h:inputText id="emailAddress" value="#{businessUserController.staff.emailAddress}" validatorMessage="Email address is not valid." required="true" requiredMessage="The EmailAddress field is required.">
                                        <f:passThroughAttribute name="placeholder" value="Email Address"/>
                                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
                                    </h:inputText>
                                </div>
<!--                                <div class="field">
                                    <h:outputLabel value="Password" for="password" />
                                    <h:inputText id="password" value="#{businessUserController.staff.password}" required="true" requiredMessage="Confirm password field is required.">
                                        <f:passThroughAttribute name="placeholder" value="Password"/>
                                    </h:inputText>
                                </div>-->
                                <div class="field">
                                    <h:outputLabel value="PhoneNumber" for="phoneNumber" />
                                    <h:inputText id="phoneNumber" value="#{businessUserController.staff.phoneNumber}" required="true" requiredMessage="Phone Number is Required.">
                                        <f:passThroughAttribute name="placeholder" value="Phone Number"/>
<!--                                        <f:validateRegex pattern="(^\+[0-9]{2}|^\+[0-9]{2}\(0\)|^\(\+[0-9]{2}\)\(0\)|^00[0-9]{2}|^0)([0-9]{9}$|[0-9\-\s]{10}$)"/>-->
                                    </h:inputText>
                                </div>
                                <div class="field">
                                    <h:outputLabel value="MailingAddress" for="mailingAddress" />
                                    <h:inputTextarea value="#{businessUserController.staff.mailingAddress}" cols="35" id="mailingAddress">
                                        <f:passThroughAttribute name="placeholder" value="Mailing Address"/>
                                    </h:inputTextarea>
                                </div>
                                <h:commandButton action="#{businessUserController.updateKioskStaff()}" value="Update" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="panel panel-info">
                            <div class="panel-heading">Assign Staff Role</div>
                            <div class="panel-body ui form">
                                <div class="two fields">
                                    <div class="field">
                                        <label>Kiosk Name</label>
                                        <h:selectOneMenu value="#{businessUserController.kiosk}" converter="omnifaces.SelectItemsConverter" class="ui fluid normal dropdown">
                                            <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                            <f:selectItems value="#{businessUserController.kiosks}" var="kiosk" itemValue="#{kiosk}" itemLabel="#{kiosk.name}" class="ui item"/>
                                            <f:ajax listener="#{businessUserController.updateSelectedUserGroup()}" render="business_staff_user_group" />
                                        </h:selectOneMenu>
                                    </div>
                                    <h:panelGroup id="business_staff_user_group" class="field">

                                        <label>Select User Group</label>
                                        <h:selectOneMenu value="#{businessUserController.group}" rendered="#{businessUserController.kiosk.id != null}" 
                                                         converter="omnifaces.SelectItemsConverter" class="ui fluid normal dropdown" required="true" requiredMessage="Kiosk cannot be null">
                                            <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                            <f:selectItems value="#{businessUserController.userGroups}" var="group" 
                                                           itemLabel="#{group.userGroupName}" />
                                        </h:selectOneMenu>

                                    </h:panelGroup>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <h:commandButton action="#{businessUserController.updateBusinessKioskGroup()}" value="Assign" class="btn btn-primary" />
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading"> Staff Roles</div>
                            <div class="panel-body">
                                <h:dataTable rendered="#{not empty businessUserController.staffRoles}" value="#{businessUserController.staffRoles}" var="staff" class="ui celled table">
                                    <h:column>
                                        <f:facet name="header">Business Name </f:facet>
                                            #{staff.kiosk.business.name}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Kiosk Name </f:facet>
                                            #{staff.kiosk.name}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">User Group </f:facet>
                                        <h:commandLink action="#{businessUserController.viewUserGroupPermission(staff.userGroup)}">
                                            #{staff.userGroup.userGroupName}
                                            <p:ajax oncomplete="PF('staffPermissionsModal').show();return false;" update="businessStaffDetailForm:staffPermissionsModalPanel" />
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"></f:facet>
                                        <h:commandLink value="Remove" action="#{businessUserController.removeStaff(staff)}" onclick="return confirm('Are you sure want to remove?');" class="text-danger text-capitalize"/>
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </div>
                    </div>

                    <p:dialog header="Staff Business Permissions" widgetVar="staffPermissionsModal" minHeight="100" id="staffPermissionsModalPanel">
                        <p:dataTable rendered="#{not empty businessUserController.permissions}" 
                                     var="o" value="#{businessUserController.permissions}" class="table table-bordered">
                            <p:column headerText="Permission Name">
                                <h:outputText value="#{o.permissionName}" />
                            </p:column>
                            <p:column headerText="Permission Description">
                                <h:outputText value="#{o.permissionName}" />
                            </p:column>
                        </p:dataTable>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
