<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui">

    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <ui:define name="title" id="dashboardTitle">
                Change Password
            </ui:define>

            <ui:define name="page-title">
                Change Password
            </ui:define>
            <ui:define name="content">
                <h:form class="col-lg-3 col-md-5 col-sm-7 col-xs-10 signin-container">
                    <h:messages class="ui message" id="messages"></h:messages>
                    <h:panelGroup class="form-group col-sm-15">
                        <label>Current Password</label>
                        <h:inputSecret value="#{userController.currentPassword}" style="margin-bottom: 10px;" class="form-control" id="password" 
                                       required="true" requiredMessage="Current Password is Required"/>
                    </h:panelGroup>
                    <h:panelGroup class="form-group col-sm-15">
                        <label>New Password</label>
                        <h:inputSecret value="#{userController.user.password}" style="margin-bottom: 10px;" class="form-control" id="password2" 
                                       required="true" requiredMessage="New Password is Required"/>
                    </h:panelGroup>
                    <h:panelGroup class="form-group col-sm-15">
                        <label>Confirm Password</label>
                        <h:inputSecret class="form-control" id="confirm" style="margin-bottom: 10px;" required="true" requiredMessage="Please confirm your password."/>
                    </h:panelGroup>
                    <o:validateEqual id="equal" components="password2 confirm" message="Your password does not match"  />
                    <div>
                        <h:commandButton action="#{userController.passwordChange()}" value="Change Password" class="ui primary button"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
