<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{businessUserController.reset()}"/>
            </f:metadata>


            <ui:define name="title">
                Register Staff
            </ui:define>

            <ui:define name="page-title">
                Register Staff
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <div class="ui form col-lg-5">
                        <div class="clearfix">
                            <h:link outcome="boUsers" class="btn btn-sm btn-default">Staff List</h:link>
                            <br/><br/>
                            <h:messages />
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Register Business Staff</div>
                            <div class="panel-body">
                                <div class="two fields">
                                    <div class="field">
                                        <h:outputLabel value="FirstName" for="firstName" />
                                        <h:inputText id="firstName" value="#{businessUserController.staff.firstName}" required="true" requiredMessage="Please Input First Name" >
                                            <f:passThroughAttribute name="placeholder" value="First Name"/>
                                        </h:inputText>
                                    </div>
                                    <div class="field">
                                        <h:outputLabel value="Surname" for="surname" />
                                        <h:inputText id="surname" value="#{businessUserController.staff.surname}" required="true" requiredMessage="Please Input Surname">
                                            <f:passThroughAttribute name="placeholder" value="Surname"/>
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="field">
                                    <h:outputLabel value="EmailAddress" for="emailAddress" />
                                    <h:inputText id="emailAddress" value="#{businessUserController.staff.emailAddress}" validatorMessage="Email address is not valid." required="true" requiredMessage="The EmailAddress field is required.">
                                        <f:passThroughAttribute name="placeholder" value="Email Address"/>
                                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
                                    </h:inputText>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <h:outputLabel value="Password" for="password" />
                                        <h:inputSecret value="#{businessUserController.staff.password}" id="password" 
                                                       required="true" requiredMessage="Password is Required">
                                            <f:passThroughAttribute name="placeholder" value="Password"/>
                                        </h:inputSecret>
                                    </div>
                                    <div class="field">
                                        <h:outputLabel value="Confirm" for="confirm" />
                                        <h:inputSecret id="confirm" required="true" requiredMessage="Confirm password field is required.">
                                            <f:passThroughAttribute name="placeholder" value="Confirm"/>
                                        </h:inputSecret>
                                    </div>
                                    <o:validateEqual id="equal" components="password confirm" message="Your password does not match"  />
                                </div>
                                <div class="field">
                                    <h:outputLabel value="PhoneNumber" for="phoneNumber" />
                                    <h:inputText id="phoneNumber" value="#{businessUserController.staff.phoneNumber}" required="true" requiredMessage="Phone Number is Required.">
                                        <f:passThroughAttribute name="placeholder" value="Phone Number"/>
<!--                                        <f:validateRegex pattern="(^\+[0-9]{2}|^\+[0-9]{2}\(0\)|^\(\+[0-9]{2}\)\(0\)|^00[0-9]{2}|^0)([0-9]{9}$|[0-9\-\s]{10}$)"/>-->
                                    </h:inputText>
                                </div>
                                <div class="field">
                                    <h:outputLabel value="MailingAddress" for="mailingAddress" />
                                    <h:inputTextarea value="#{businessUserController.staff.mailingAddress}" cols="35" id="mailingAddress">
                                        <f:passThroughAttribute name="placeholder" value="Mailing Address"/>
                                    </h:inputTextarea>
                                </div>
                                <h:commandButton action="#{businessUserController.registerStaff()}" value="Register Staff" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
