<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewAction action="#{businessUserController.init()}" />
            </f:metadata>

            <ui:define name="title">
                Manage Staff
            </ui:define>

            <ui:define name="page-title">
                Manage Staff
            </ui:define>

            <ui:define name="content">
                <o:form id="my_form_user" includeRequestParams="true" includeViewParams="true">
                    <div class="col-lg-9 col-md-12">
                        <div class="clearfix">
                            <h:link outcome="boRegisterUser" class="btn btn-sm btn-default">Register Staff</h:link>
                            <br/><br/>
                        </div>
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Active Users">
                                <h:dataTable value="#{businessUserController.staffs}" var="o" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header"> Staff Name </f:facet>
                                            #{o.staff.firstName} #{o.staff.surname}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Staff Email Address </f:facet>
                                            #{o.staff.emailAddress}
                                    </h:column>
                                    <!--                                    <h:column>
                                                                            <f:facet name="header"> Designation </f:facet>
                                                                            <h:commandLink action="#{businessUserController.fetchUserRoles(o)}" value="#{o.staff.designation.designation}">
                                                                                <p:ajax oncomplete="PF('rolesModal').show()"  update="my_form_user:j_idt38:rolesModalPanel"/>
                                                                            </h:commandLink>
                                                                        </h:column>-->
                                    <h:column>
                                        <f:facet name="header"> Date Created </f:facet>
                                            #{o.dateCreated}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> </f:facet>
                                        <h:commandLink action="#{businessUserController.fetchUserRoles(o)}" value="View Roles">
                                            <p:ajax oncomplete="PF('rolesModal').show()"  update="my_form_user:rolesModalPanel"/>
                                        </h:commandLink>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> </f:facet>
                                        <h:commandLink value="Detail" action="#{businessUserController.viewStaffDetail(o.staff)}"></h:commandLink>
                                    </h:column>
                                </h:dataTable>

                            </p:tab>
                        </p:tabView>
                    </div>
                    <p:dialog header="Roles" widgetVar="rolesModal" minHeight="100" id="rolesModalPanel">
                        <div class="modal-body">
                            <h:dataTable value="#{businessUserController.displayStaffRoles}" var="r" class="table table-hover table-bordered">
                                <h:column>
                                    <f:facet name="header">Role Name</f:facet>
                                        #{r.userGroup.userGroupName}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Kiosk</f:facet>
                                        #{r.kiosk.name}
                                </h:column>
                            </h:dataTable>
                        </div>
                    </p:dialog>
                </o:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
