<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">

    <body>

        <ui:composition template="./WEB-INF/template/signin.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{userController.userFromSession()}" />
            </f:metadata>

            <ui:define name="title">
                Login
            </ui:define>

            <ui:define name="content">
                <h:form class="col-lg-3 col-md-5 col-sm-7 col-xs-10 signin-container">
                    <h:panelGroup rendered="#{!userController.resetDone}">
                        <div class="center aligned column">
                            <h:messages class="ui message" id="messages"></h:messages>
                            <div class="panel panel-info">
                                <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i>Provide New Password</div>
                                
                                <div class="panel-body">
                                    <h:panelGroup class="form-group col-sm-6">
                                        <label>Password</label>
                                        <h:inputSecret value="#{userController.user.password}" class="form-control" id="password" 
                                                       required="true" requiredMessage="Password is Required">
                                            <f:passThroughAttribute name="placeholder" value="Password"/>
                                        </h:inputSecret>
                                    </h:panelGroup>
                                    <h:panelGroup class="form-group col-sm-6">
                                        <label>Confirm</label>
                                        <h:inputSecret class="form-control" id="confirm" required="true" requiredMessage="Please confirm your password.">
                                            <f:passThroughAttribute name="placeholder" value="Confirm"/>
                                        </h:inputSecret>
                                    </h:panelGroup>
                                    <o:validateEqual id="equal" components="password confirm" message="Your password does not match"  />
                                    <div class="form-group btn-group col-sm-12">
                                        <h:commandButton action="#{userController.changePassword()}" value="Change Password" class="ui primary button"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{userController.resetDone}">
                        <div class="center aligned column">
                            <h:messages class="ui message"></h:messages>
                        </div>
                        <div class="ui message">
                            <h:link outcome="signin" value="Login Here" />
                        </div>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
