<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="./WEB-INF/template/signin.xhtml">
            <ui:define name="title">
                Login
            </ui:define>

            <ui:define name="content">
                <h:form class="col-lg-3 col-md-5 col-sm-7 col-xs-10 signin-container">
                    <h:panelGroup rendered="#{!userController.resetDone}">
                        <div class="center aligned column">
                            <h:messages class="ui message"></h:messages>
                            <div class="panel panel-info">
                                <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i>Please enter your email here...</div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        <h:inputText value="#{userController.user.emailAddress}" class="form-control" required="true" requiredMessage="Email Address is required." id="emailaddress" validatorMessage="Email Address is not valid.">
                                            <f:passThroughAttribute name="placeholder" value="Email Address"/>
                                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
<!--                                            <ui:remove><f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></ui:remove>-->
                                        </h:inputText>
                                    </div>
                                    <div class="form-group btn-group col-sm-12">
                                        <h:commandButton action="#{userController.checkEmailForPasswordReset()}" value="Continue" class="ui primary button"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui message">
                            <h:link outcome="signin" value="Login Here" />
                        </div>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
