<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./WEB-INF/template/signin.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{userController.emptyDetailPageRedirect()}" />
            </f:metadata>
            
            <ui:define name="title">
                Login
            </ui:define>

            <ui:define name="content">
                <h:form class="col-lg-3 col-md-5 col-sm-7 col-xs-10 signin-container">
                    <div class="center aligned column">
                        <h:messages class="ui message" id="messages"></h:messages>
                        <div class="panel panel-info">
                            <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i>Sign Up</div>

                            <ui:include src="WEB-INF/snippet/user_info.xhtml" />

                        </div>
                    </div>
                    <div class="ui message">
                        Have an Account? <h:link outcome="signin" value="Login Here" />
                    </div>


                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
