<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./WEB-INF/template/signin.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{userRequestController.displayAuthResponse()}" />
            </f:metadata>
            <ui:define name="title">
                sign in
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-3 col-md-5 col-sm-7 col-xs-10 signin-container">
                    <h:form class="ui form" id="signinform">

                        <div class="center aligned column">

                            <h:messages class="ui message" id="messages"></h:messages>
                            <div class="panel panel-info">
                                <div class="panel-heading"> <i class="fa fa-bar-chart-o fa-fw"></i> Sign In</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <h:inputText required="true" value="#{userController.user.emailAddress}" class="ui input" requiredMessage="Please input your username">
                                            <f:passThroughAttribute name="placeholder" value="username" />
                                        </h:inputText>
                                    </div>
                                    <div class="form-group">
                                        <h:inputSecret required="true" value="#{userController.user.password}" class="ui input" requiredMessage="Please input your password">
                                            <f:passThroughAttribute name="placeholder" value="password" />
                                        </h:inputSecret>
                                    </div>
                                    <h:commandButton id="loginCommandButton" action="#{userController.login()}" value="Login" class="ui fluid teal submit button"/>
                                </div>
                            </div>
                        </div>

                        <div class="ui message">
                            No Account Yet? <h:link outcome="signup" value="Register a new Account" id="signuplink"></h:link>
                            <br></br>
                            <h:link outcome="email" value="Forgot Password?" id="resestPasswordlink"></h:link>
                        </div>
                    </h:form>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
