<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/template/error.xhtml">

            <ui:define name="title">
                Page Error
            </ui:define>

            <ui:define name="content">
                <div class="col-sm-4">

                    <div class="error-404 text-center">
                        <i class="fa fa-frown-o"></i>
                        <h1>Whooops!</h1>
                        <h4>We couldn't find the page you are looking for...</h4>
                        <p> 
                            <h:commandLink onclick="history.go(-1);return false;" class="back-button"><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Back</h:commandLink>
                        </p>
                    </div>

                    <ui:remove>
                        <ul>

                            <li>User agent: #{header['user-agent']}</li>
                            <li>User IP: #{request.remoteAddr}</li>
                            <li>Request URI: #{requestScope['javax.servlet.error.request_uri']}</li>
                            <li>Ajax request: #{facesContext.partialViewContext.ajaxRequest ? 'Yes' : 'No'}</li>
                            <li>Status code: #{requestScope['javax.servlet.error.status_code']}</li>
                            <li>Exception type: #{requestScope['javax.servlet.error.exception_type']}</li>
                            <li>Exception message: #{requestScope['javax.servlet.error.message']}</li>
                        </ul>
                    </ui:remove>


                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
