<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup class="col-sm-11">
        <div class="form-group">
            <label>Kiosk Name</label>
            <h:inputText value="#{kioskController.kiosk.name}" class="form-control" required="true" requiredMessage="Please Input a Kiosk Name" validatorMessage="Kiosk name does not meet the required minimum of 3">
                <!--                <f:validateLength minimum="3" />-->
            </h:inputText>
        </div>
        <div class="form-group">
            <label>Business Name</label>
            <h:selectOneMenu value="#{kioskController.business}" converter="omnifaces.SelectItemsConverter" class="form-control ui dropdown" required="true" requiredMessage="Please Select a Business">
                <f:selectItem noSelectionOption="true" itemLabel="-------" />
                <f:selectItems value="#{businessController.activeBusinesses}" var="business" itemLabel="#{business.name}"/>
            </h:selectOneMenu>
        </div>

        <div class="form-group">
            <label>Kiosk Geo-Location</label>
            <h:inputText value="#{kioskController.kiosk.geolocation}" id="geoLocation" class="form-control" required="true" requiredMessage="Please Input a Location" >
            </h:inputText>
        </div>

        <div class="form-group">
            <label>Kiosk Address</label>
            <h:inputTextarea cols="45" value="#{kioskController.kiosk.address}" class="form-control" rows="4" validatorMessage="Address does not meet the minimun requirement of 5 character">
                <!--                <f:validateLength minimum="5" />-->
            </h:inputTextarea>
        </div>
        
        <div class="form-group">
            Closed? <h:selectBooleanCheckbox value="#{kioskController.kiosk.closed}" style="margin-right:20px;"/>
            Schedule Delivery? <h:selectBooleanCheckbox value="#{kioskController.kiosk.allowSchedule}">
                <f:ajax render="minScheduleTime" event="change" listener="#{kioskController.showScheduleTime}"/>
            </h:selectBooleanCheckbox>
        </div>

        <h:panelGroup id="minScheduleTime">
            <h:panelGroup rendered="#{kioskController.showScheduleDelivery or kioskController.kiosk.allowSchedule}" class="form-group">
                <label>Minimum Delivery Time (hours)</label>
                <h:inputText value="#{kioskController.kiosk.minDeliveryTime}" class="form-control" converterMessage="Please Input a Number">
                    <f:convertNumber integerOnly="true" type="number"/>
                </h:inputText>
            </h:panelGroup>
        </h:panelGroup>

        <div class="jsf-radio clearfix">
            <h:selectOneRadio value="#{kioskController.kiosk.type}" converter="omnifaces.SelectItemsConverter" required="true" requiredMessage="Please Select a Kiosk Type" class="ui radio checkbox form">
                <f:selectItems value="#{kioskController.kioskTypeList}" var="option" itemLabel="#{option.type}" itemValue="#{option}"/>
            </h:selectOneRadio>
        </div>


        <div class="form-group btn-group">
            <h:commandButton action="#{kioskController.registerKiosk()}" value="Register Kiosk" class="btn btn-primary" 
                             rendered="#{kioskController.kiosk.id == null}"/>

            <h:panelGroup rendered="#{kioskController.kiosk.id != null}">

                <h:commandButton action="#{kioskController.updateKiosk()}" value="Update Kiosk" class="btn btn-primary" />

                <h:commandButton action="#{kioskController.disableKiosk()}" value="Disable Kiosk" class="btn btn-danger pull-right" onclick="return confirm('Are you sure?');"
                                 rendered="#{kioskController.kiosk.status == true}"/>

                <h:commandButton action="#{kioskController.enableKiosk()}" value="Enable Kiosk" class="btn btn-secondary pull-right" 
                                 rendered="#{kioskController.kiosk.status != true}"/>
            </h:panelGroup>

        </div>

        <h:inputHidden required="true" requiredMessage="kindly select a valid location" value="#{kioskController.kiosk.latitude}" id="txtLatitude"/>
        <h:inputHidden required="true" requiredMessage="kindly select a valid location" value="#{kioskController.kiosk.longitude}" id="txtLongitude" />
    </h:panelGroup>
</ui:composition>
