<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewAction action="#{portalUserController.emptyDetailPageRedirect()}" />
            </f:metadata>

            <ui:define name="title">
                User Detail
            </ui:define>

            <ui:define name="page-title">
                User Detail
            </ui:define>

            <ui:define name="content">
                <h:form id="userDetailForm">
                    <h:panelGroup class="col-md-5 col-sm-10 clearfix">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-user fa-fw"></i>Kiosk User</div>
                            <div class="panel-body">
                                <ui:include src="snippet/user_info.xhtml" />
                            </div>
                            <div class="panel-footer">
                                User Group : 
                               <h:commandLink rendered="#{portalUserController.group_User.id != null}" action="#{portalUserController.viewUserPermissions()}"
                                              value="#{portalUserController.group_User.userGroup.userGroupName}" class="teal text-capitalize">
                                   <p:ajax  oncomplete="PF('userPermissionsModal').show();return false;" update="userDetailForm:userPermissionsModalPanel" />
                               </h:commandLink>

                                &nbsp;&nbsp;
                                <h:commandLink value="update group" class="btn btn-xs btn-warning" onclick="PF('userGroupModal').show();return false;">
                                    <f:ajax render="userDetailForm:userGroupModalPanel" />
                                </h:commandLink>
                                
                                &nbsp;&nbsp;
                                <div class="btn-group-xs">
                                    <h:commandLink action="sysPortalUsers" value="Back to List" class="btn btn-secondary btn-sm" />
                                </div>
                            </div>

                        </div>
                    </h:panelGroup>


                    <p:dialog header="Portal User Groups" widgetVar="userGroupModal" minHeight="150" id="userGroupModalPanel">
                        <h:selectOneMenu value="#{portalUserController.userGroup}" converter="omnifaces.SelectItemsConverter" class="ui dropdown">
                            <f:selectItem noSelectionOption="true" itemLabel="select user group" />
                            <f:selectItems value="#{portalPermissionController.userGroups}" var="g" itemLabel="#{g.userGroupName}" />
                        </h:selectOneMenu>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <h:commandButton value="submit" action="#{portalUserController.updateManageUserUserGroup}" class="ui button btn btn-default teal"/>
                    </p:dialog>


                    <p:dialog header="Permissions" widgetVar="userPermissionsModal" minHeight="150" maximizable="true" id="userPermissionsModalPanel">
                        <h:selectManyListbox  class="form-group-sm" rendered="#{not empty portalUserController.permissions}" converter="omnifaces.SelectItemsConverter">
                            <f:selectItems value="#{portalPermissionController.portalPermissions}" var="p" itemLabel="#{p.permissionName}" />
                        </h:selectManyListbox>
                    </p:dialog>

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
