<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                Business Requests
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <div class="col-lg-9 col-md-12">
                        <p:tabView dynamic="true" cache="true">
                            <p:tab title="Activated Users">
                                <h:dataTable value="#{portalUserController.activateKioskUsers}" var="o" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header"> First Name </f:facet>
                                            #{o.firstName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Surname </f:facet>
                                            #{o.surname}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Email Address </f:facet>
                                            #{o.emailAddress}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Phone Number </f:facet>
                                            #{o.phoneNumber}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> View Detail </f:facet>
                                        <h:commandLink action="#{portalUserController.viewDetail(o)}" value="Detail" class="text-info text-justify">
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </p:tab>
                            <p:tab title="Deactivated Users">
                                <h:dataTable value="#{portalUserController.deactivateKioskUsers}" var="o" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header"> First Name </f:facet>
                                            #{o.firstName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Surname </f:facet>
                                            #{o.surname}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Email Address </f:facet>
                                            #{o.emailAddress}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Phone Number </f:facet>
                                            #{o.phoneNumber}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Option </f:facet>
                                        <h:link outcome="sysKioskUserDetail" includeViewParams="true" value="view detail">
                                            <f:param name="uquery" value="#{o.id}" />
                                        </h:link>
                                    </h:column>
                                </h:dataTable>
                            </p:tab>

                            <p:tab title="Business Portal Users">
                                <h:dataTable value="#{portalUserController.activateBusinessPortalUsers}" var="o" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header"> First Name </f:facet>
                                            #{o.user.firstName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Surname </f:facet>
                                            #{o.user.surname}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Email Address </f:facet>
                                            #{o.user.emailAddress}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Designation </f:facet>
                                           
                                    </h:column>
                                    
                                </h:dataTable>
                            </p:tab>

                            <p:tab title="Revoked">
                                <h:dataTable value="#{portalUserController.deactivateBusinessPortalUsers}" var="o" class="table table-striped table-bordered">
                                    <h:column>
                                        <f:facet name="header"> First Name </f:facet>
                                            #{o.user.firstName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Surname </f:facet>
                                            #{o.user.surname}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Email Address </f:facet>
                                            #{o.user.emailAddress}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"> Designation </f:facet>
                                           
                                    </h:column>
                                    
                                </h:dataTable>
                            </p:tab>


                        </p:tabView>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
