<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="form-group">
        <label>Kiosk Name</label>
        <h:inputText value="#{portalKioskController.kiosk.name}" class="form-control" required="true"/>
    </div>

    <div class="form-group">
        <label>Business Name</label>
        <h:outputLabel value="#{portalKioskController.kiosk.business.name}" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Kiosk Description</label>
        <h:inputTextarea cols="15" value="#{portalKioskController.kiosk.description}" class="form-control" rows="4"/>
    </div>


    <div class="form-group btn-group">  
        <h:panelGroup rendered="#{portalKioskController.kiosk.id != null}">

            <h:commandButton action="#{portalKioskController.updateKiosk()}" value="Update Kiosk" class="btn btn-default" />

            <h:commandButton action="#{portalKioskController.disableKiosk()}" value="Disable Kiosk" class="btn btn-danger" onclick="return confirm('Are you sure?');"
                             rendered="#{portalKioskController.kiosk.status == true}"/>

            <h:commandButton action="#{portalKioskController.enableKiosk()}" value="Enable Kiosk" class="btn btn-primary" 
                             rendered="#{portalKioskController.kiosk.status != true}"/>
        </h:panelGroup>
    </div>
</ui:composition>
