<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Manage Kiosk Transactions
            </ui:define>

            <ui:define name="page-title">
                Manage Kiosk Transactions
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <div class="column_6">
                        <h4 class="ui top attached block header">
                            Top Block Header
                        </h4>
                        <div class="ui bottom attached segment">
                            <h:dataTable value="#{kioskController.kiosks}" var="kiosk" class="ui table">
                                <h:column>
                                    <f:facet name="header">Kiosk Name</f:facet>
                                        #{kiosk.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Business Name</f:facet>
                                        #{kiosk.business.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Kitchen</f:facet>
                                        #{kiosk.type}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Minimum Order</f:facet>
                                        #{kiosk.minOrderAmount}
                                </h:column>

                            </h:dataTable>
                        </div>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
