<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">


    <h:panelGroup class="col-sm-11">

        <div class="form-group">
            <label>Business Name</label>
            <h:inputText value="#{businessController.business.name}" class="form-control" required="true" requiredMessage="Please Input a Business Name">
<!--                <f:validateLength minimum="5" />-->
            </h:inputText>
        </div>

        <div class="form-group">
            <label>Business Description</label>
            <h:inputTextarea cols="45" value="#{businessController.business.description}" class="form-control"/>
        </div>
        <br/>
        <div class="form-group btn-group">
            <h:commandButton action="#{businessController.registerBusiness()}" value="Register Business" class="btn btn-primary" 
                             rendered="#{businessController.business.id == null}" disabled="#{portalPermissionUtil.canCreate()}"/>

            <h:panelGroup rendered="#{businessController.business.id != null}">
                <h:commandButton action="#{businessController.updateBusiness()}" value="Update Business" class="btn btn-primary"/>

                <h:commandButton action="#{businessController.disableBusiness()}" value="Disable Business" class="btn btn-danger pull-right" onclick="return confirm('Are you sure?');"
                                 rendered="#{businessController.business.status == true}"/>

                <h:commandButton action="#{businessController.enableBusiness()}" value="Enable Business" class="btn btn-secondary pull-right" 
                                 rendered="#{businessController.business.status != true}"/>
            </h:panelGroup>
        </div>

    </h:panelGroup>
    

    <script>
        var fileSelect = document.getElementById("fileSelect");
        var fileElem = document.getElementById("registerBusinessForm:fileElem");

        console.log(fileElem, fileSelect);

        fileSelect.addEventListener("click", function (e) {
            if (fileElem) {
                fileElem.click();
            }
            e.preventDefault(); // prevent navigation to "#"
        }, false);


        //
    </script>


</ui:composition>

