<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="col-sm-6">
        <div class="form-group col-sm-8">
            <label>First Name : </label>
            <h:inputText value="#{portalAppUserController.user.user.firstName}" class="form-control col-sm-6">
                <f:passThroughAttribute name="placeholder" value="First Name"/>
            </h:inputText>
        </div>
        <div class="form-group col-sm-4">
            <label>Middle Name : </label>
            <h:inputText value="#{portalAppUserController.user.user.middleName}" class="form-control">
                <f:passThroughAttribute name="placeholder" value="Middle Name"/>
            </h:inputText>
        </div>
        <div class="form-group col-sm-12">
            <label>Surname : </label>
            <h:inputText value="#{portalAppUserController.user.user.surname}" class="form-control">
                <f:passThroughAttribute name="placeholder" value="Surname"/>
            </h:inputText>
        </div>
        <div class="form-group col-sm-6">
            <label>Email Address : </label>
            <h:inputText value="#{portalAppUserController.user.user.emailAddress}" class="form-control">
                <f:passThroughAttribute name="placeholder" value="Email Address"/>
            </h:inputText>
        </div>
        <div class="form-group col-sm-6">
            <label>Phone Number : </label>
            <h:inputText value="#{portalAppUserController.user.user.phoneNumber}" class="form-control">
                <f:passThroughAttribute name="placeholder" value="Phone Number"/>
            </h:inputText>
        </div>

        <div class="form-group col-sm-12">
            <label>Mailing Contact : </label>
            <h:inputTextarea value="#{portalAppUserController.user.user.mailingAddress}" class="form-control" cols="20" >
                <f:passThroughAttribute name="placeholder" value="Mailing Contact "/>
            </h:inputTextarea>
        </div>
        <div class="form-group btn-group col-sm-12">


            <div class="form-group btn-group">
                <ui:remove>
                    <h:commandButton action="#{ownerKioskController.registerKiosk()}" value="Register Kiosk" class="btn btn-primary" 
                                     rendered="#{portalUserSession.displayComponent(msg.pageRegisterKiosk) == true and ownerKioskController.kiosk.id == null}"/>

                </ui:remove>

                <h:panelGroup rendered="#{portalAppUserController.user.id != null}">

                    

                    <h:commandButton action="#{portalAppUserController.disablePortalUser()}" value="Disable Account" class="btn btn-danger" onclick="return confirm('Are you sure?');"
                                     rendered="#{portalUserSession.displayComponent(msg.pageAccountDetail) == true and portalAppUserController.user.active == true}"/>

                    <h:commandButton action="#{portalAppUserController.enablePortalUser()}" value="Enable Account" class="btn btn-primary" 
                                     rendered="#{portalUserSession.displayComponent(msg.pageAccountDetail) == true and portalAppUserController.user.active != true}"/>


                </h:panelGroup>


            </div>


        </div>
    </div>
</ui:composition>