<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">


    <div class="form-group col-sm-8">
        <label>First Name : </label>
        <h:inputText value="#{portalUserController.managedUser.firstName}" class="form-control col-sm-6" required="true">
        </h:inputText>
    </div>
    <div class="form-group col-sm-12">
        <label>Surname : </label>
        <h:inputText value="#{portalUserController.managedUser.surname}" class="form-control" required="true">
        </h:inputText>
    </div>


    <div class="form-group col-sm-6">
        <label>Email Address : </label>
        <h:inputText value="#{portalUserController.managedUser.emailAddress}" class="form-control" required="true">
            <f:passThroughAttribute name="placeholder" value="Email Address"/>
        </h:inputText>
    </div>
    <div class="form-group col-sm-6">
        <label>Phone Number : </label>
        <h:inputText value="#{portalUserController.managedUser.phoneNumber}" class="form-control" required="true">
            <f:passThroughAttribute name="placeholder" value="Phone Number"/>
            <f:convertNumber integerOnly="true" type="number" minIntegerDigits="8"/>
        </h:inputText>
    </div>

    <div class="form-group col-sm-12">
        <label>Mailing Contact : </label>
        <h:inputTextarea value="#{portalUserController.managedUser.mailingAddress}" class="form-control" cols="20" required="true">
        </h:inputTextarea>
    </div>


    <div class="form-group btn-group col-sm-12">


        <div class="form-group btn-group">

            <h:panelGroup rendered="#{portalUserController.managedUser.id != null}">

                <h:commandButton action="#{portalUserController.updateManagedUser()}" value="Update Account" class="btn btn-default" />

                <h:commandButton action="#{portalUserController.disableManagedUser()}" value="Disable Account" class="btn btn-danger" onclick="return confirm('Are you sure?');"
                                 rendered="#{portalUserController.managedUser.active == true}"/>

                <h:commandButton action="#{portalUserController.enableManagedUser()}" value="Enable Account" class="btn btn-primary" 
                                 rendered="#{portalUserController.managedUser.active != true}"/>


            </h:panelGroup>
        </div>
    </div>


</ui:composition>