<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{transactionController.populateKiosk('')}"/>
                <f:event type="preRenderView" listener="#{transactionController.loadDeliveryOption()}"/>
                <f:event type="preRenderView" listener="#{transactionController.loadPaymentMode()}"/>
                <f:event type="preRenderView" listener="#{transactionController.filterOrderTable('DELIVERED')}"/>
            </f:metadata>

            <ui:define name="title">
                Delivered Order
            </ui:define>

            <ui:define name="page-title">
                Delivered Order
            </ui:define>

            <ui:define name="content">
                <h:form id="orders">
                    <ui:include src="snippet/navigation.xhtml" />
                    <div class="panel-body">
                        <h:panelGroup class="col-sm-11">
                            <ui:include src="snippet/filter_box.xhtml" />
                            <div class="clearfix col-md-12" style="margin-left: 11px;">
                                <label>Delivered Date</label>
                            </div>
                            <div class="clearfix col-md-12">
                                <div class="form-group col-md-3">
                                    <p:outputLabel for="tranxDate1" value="From" />
                                    <p:calendar id="tranxDate1" value="#{transactionController.tranxDate1}"/>
                                </div>
                                <div class="form-group col-md-3">
                                    <p:outputLabel for="tranxDate2" value="To" />
                                    <p:calendar id="tranxDate2" value="#{transactionController.tranxDate2}"/>
                                </div>
                            </div>
                            <div class="clearfix col-md-12" style="margin-left: 11px;">
                                <div class="form-group btn-group">
                                    <h:commandButton action="#{transactionController.filterOrderTable('DELIVERED')}" value="Filter" class="btn btn-primary" />
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <div class="clearfix" style="margin-bottom: 15px; margin-left: 11px;">
                            <div class="form-group-sm btn-group">
                                <h:commandButton value="Print" class="btn btn-sm">
                                    <p:printer target="orderGroup" />
                                </h:commandButton>
                                <h:commandButton value="Export PDF" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="pdf" target="Delivered-Order" fileName="#{transactionController.generateFileName('Delivered Order')}" pageOnly="false" preProcessor="#{transactionController.processPDF}" />
                                </h:commandButton>
                                <h:commandButton value="Export Excel" style="margin-left: 5px;" class="btn btn-sm">
                                    <p:dataExporter type="xls" target="Delivered-Order" fileName="#{transactionController.generateFileName('Delivered Order')}" pageOnly="false" postProcessor="#{transactionController.postProcessXLS}"  />
                                </h:commandButton>
                            </div>
                        </div>
                        <h:panelGroup id="orderGroup"  class="col-sm-11">
                            <p:dataTable id="Delivered-Order" var="order" value="#{transactionController.orderedItems}" rows="10" rowIndexVar="index"
                                         paginator="true" currentPageReportTemplate="Total Records: {totalRecords}"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,30" emptyMessage="No Item or You don't have the permission to view these Items">
                                <p:column width="10%" style="text-align: left" headerText="S/No">
                                    <h:outputText value="#{index + 1}" />
                                </p:column>

                                <p:column width="20%" style="text-align: left" headerText="Order ID">
                                    <h:outputText value="#{order.batchId}" />
                                </p:column>

                                <p:column style="text-align: left" headerText="Delivered Date">
                                    <h:outputText value="#{order.lastModifiedDate}" />
                                </p:column>

                                <p:column width="10%" style="text-align: left" exportable="false">
                                    <p:commandButton update="orders:orderDetail" oncomplete="PF('orderDialog').show()" value="Detail" title="Detail">
                                        <f:setPropertyActionListener value="#{order}" target="#{transactionController.orderedItem}" />
                                    </p:commandButton>
                                </p:column>
                                <p:column width="10%" style="text-align: left" exportable="false">
                                    <p:commandButton update="orders:orderLog" oncomplete="PF('orderLogDialog').show()" value="Log" title="Log">
                                        <f:setPropertyActionListener value="#{order}" target="#{transactionController.orderedItem}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                        <ui:include src="snippet/order_detail.xhtml" />
                        <ui:include src="snippet/order_log.xhtml" />
                    </div>
                    <p:poll interval="#{transactionController.reloadTime}" listener="#{transactionController.filterOrderTable('DELIVERED')}" update="Delivered-Order" />
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
