<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
            </f:metadata>
            <ui:define name="title">
                Account
            </ui:define>

            <ui:define name="page-title">
                Account
            </ui:define>

            <ui:define name="content">
                <h:form id="account">
                    <h:messages class="ui message" />
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="settlementHistory" class="btn btn-sm btn-default">Settlement History</h:link>
                        </div>
                    </div>
                    <br></br><br></br>
                    <h:panelGroup class="col-md-12 ox-tab-holder">
                        <h:dataTable value="#{portalPaymentController.activeBusinesses}" var="biz" class="table table-striped table-bordered">
                            <h:column>
                                <f:facet name="header">Business Name </f:facet>
                                    #{biz.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Business Owner</f:facet>
                                    #{biz.owner.firstName} #{biz.owner.surname}
                            </h:column>
                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:link outcome="pendingSettlement" includeViewParams="true" value="View Account">
                                    <f:param name="iquery" value="#{biz.id}"/>
                                </h:link>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
