<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadBankAccounts()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadBanks()}"/>
            </f:metadata>
            <ui:define name="title">
                Business Account
            </ui:define>

            <ui:define name="page-title">
                Business Account
            </ui:define>

            <ui:define name="content">

                <h:messages class="ui message" />
                <ui:include src="navigation.xhtml" />
                <h:panelGroup class="col-md-12">
                    <ui:include src="dashboard.xhtml" />
                    <h:form id="bankAccount">
                        <div class="col-lg-6 col-md-7 col-lg-push-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Register Bank Account
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label>Bank</label>
                                        <h:selectOneMenu value="#{portalPaymentController.bank}" converter="omnifaces.SelectItemsConverter" class="form-control" required="true" requiredMessage="Please Select a Bank">
                                            <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                            <f:selectItems value="#{portalPaymentController.banks}" var="b" itemLabel="#{b.name}"/>
                                        </h:selectOneMenu>
                                    </div>

                                    <div class="form-group">
                                        <label>Bank Account Number</label>
                                        <h:inputText value="#{portalPaymentController.businessAccount.bankAccountNumber}" class="form-control" validatorMessage="Account Number shoudl be 10 digits" required="true" requiredMessage="Please Provide your Account Number">
                                            <f:validateRegex pattern="^\d{10}$"/>
                                        </h:inputText>
                                    </div>

                                    <div class="form-group btn-group">
                                        <h:commandButton action="#{portalPaymentController.registerBusinessAccount()}" value="Create Business Account" class="btn btn-primary" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </h:form>

                    <h:form id="bankAcct">
                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Bank Accounts
                                </div>
                                <div class="panel-body">
                                    <h:dataTable  value="#{portalPaymentController.businessAccounts}" var="acct" class="table table-responsive table-bordered">
                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Bank Name</f:facet>
                                                #{acct.bank.name}
                                        </h:column>
                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Bank Code</f:facet>
                                                #{acct.bank.shortCode}
                                        </h:column>
                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Account Number</f:facet>
                                                #{acct.bankAccountNumber}
                                        </h:column>
<!--                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Created Date</f:facet>
                                                #{acct.createdDate}
                                        </h:column>-->
                                        <h:column class="thead-inverse">
                                            <f:facet name="header">Status</f:facet>
                                                #{acct.active ? 'ACTIVE' : 'INACTIVE'}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"></f:facet>
                                            
                                            <h:commandButton action="#{portalPaymentController.enableBankAccount(acct)}" value="Enable" class="btn btn-secondary" onclick="return confirm('Are you sure?');"
                                                             rendered="#{acct.active != true}"/>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </h:panelGroup>

            </ui:define>
        </ui:composition>
    </body>
</html>
