<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
            </f:metadata>
            <ui:define name="title">
                Business Payment Provider
            </ui:define>

            <ui:define name="page-title">
                Business Payment Provider
            </ui:define>

            <ui:define name="content">
                <h:form id="paymentProvider">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="registerProvider" class="btn btn-sm btn-default">Register Payment Provider</h:link>
                            <h:link outcome="sysPaymentProvider" style="margin-left: 15px;" class="btn btn-sm btn-default">Payment Provider List</h:link>
                        </div>
                    </div>
                    <br></br>
                    <h:messages class="ui message" />
                    <h:panelGroup class="col-md-12 ox-tab-holder">
                        <h:dataTable value="#{portalPaymentController.activeBusinesses}" var="biz" class="table table-striped table-bordered">
                            <h:column>
                                <f:facet name="header">Business Name </f:facet>
                                    #{biz.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Business Owner</f:facet>
                                    #{biz.owner.firstName} #{biz.owner.surname}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Payment Provider</f:facet>
                                    #{portalPaymentController.businessPaymentProvider(biz)}
                            </h:column>
                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:commandLink action="#{portalPaymentController.prepareForProviderModal(biz)}" value="Configure Provider">
                                    <p:ajax oncomplete="PF('providerModal').show()" update="paymentProvider:providerModalPanel"/>
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>

                        <p:dialog header="Configure Business Payment Provider" widgetVar="providerModal" id="providerModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Payment Provider</label>
                                    <h:selectOneMenu id="paymentProviderDropDownModal" value="#{portalPaymentController.paymentProvider}"  converter="omnifaces.SelectItemsConverter" class="form-control">
                                        <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                        <f:selectItems value="#{portalPaymentController.paymentProviders}"  var="pp" itemLabel="#{pp.name}"/>
                                    </h:selectOneMenu>
                                </div>
                                <h:commandLink action="#{portalPaymentController.configureBusinessProvider()}" value="Configure Provider">
                                </h:commandLink>
                                <div class="form-group btn-group">
                                    <h:commandButton action="#{portalPaymentController.configureBusinessProvider()}" value="Configure" class="btn btn-primary" />
                                </div>
                            </div>
                        </p:dialog>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
