<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <h:panelGrid columns="1" style="margin-bottom: 25px; margin-top: 15px">
        <h1>#{portalPaymentController.business.name}</h1>
    </h:panelGrid>
    <h:panelGrid style="text-align:center;" columns="5">
        <h:panelGrid style="margin-right: 50px">
            <h1>&#8358;#{portalPaymentController.todayIncome()}</h1>
            <h4>Today's Income</h4>
        </h:panelGrid>

        <h:panelGrid style="margin-right: 50px">
            <h1>#{portalPaymentController.todaySettlement()}</h1>
            <h4>Today's Settlement</h4>
        </h:panelGrid>

        <h:panelGrid style="margin-right: 50px">
            <h1>#{portalPaymentController.pendingSettlement()}</h1>
            <h4>Unpaid Settlement</h4>
        </h:panelGrid>

        <h:panelGrid style="margin-right: 50px">
            <h1>&#8358;#{portalPaymentController.pendingPayment()}</h1>
            <h4>Pending Payment</h4>
        </h:panelGrid>

        <h:panelGrid>
            <h1>&#8358;#{portalPaymentController.paidToday()}</h1>
            <h4>Paid Out Today</h4>
        </h:panelGrid>
    </h:panelGrid>

    <br></br>
    <br></br>

</ui:composition>