<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="clearfix">
        <div class="form-group-sm btn-group">
            <c:choose>
                <c:when test="#{view.viewId eq '/payment/accountSummary.xhtml'}">
                    <h:link outcome="accountSummary" class="btn btn-sm btn-success">Business List</h:link>
                </c:when>
                <c:otherwise>
                    <h:link outcome="accountSummary" class="btn btn-sm btn-default">Business List</h:link>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/payment/pendingSettlement.xhtml'}">
                    <h:link outcome="pendingSettlement" includeViewParams="true" value="Pending Settlement" style="margin-left: 15px" class="btn btn-sm btn-success">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:when>
                <c:otherwise>
                    <h:link outcome="pendingSettlement" includeViewParams="true" value="Pending Settlement" style="margin-left: 15px" class="btn btn-sm btn-default">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/payment/pendingPayment.xhtml'}">
                    <h:link outcome="pendingPayment" includeViewParams="true" value="Pending Payment" style="margin-left: 15px" class="btn btn-sm btn-success">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:when>
                <c:otherwise>
                    <h:link outcome="pendingPayment" includeViewParams="true" value="Pending Payment" style="margin-left: 15px" class="btn btn-sm btn-default">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/payment/bankAccount.xhtml'}">
                    <h:link outcome="bankAccount" includeViewParams="true" value="Bank Account" style="margin-left: 15px" class="btn btn-sm btn-success">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:when>
                <c:otherwise>
                    <h:link outcome="bankAccount" includeViewParams="true" value="Bank Account" style="margin-left: 15px" class="btn btn-sm btn-default">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/payment/refund.xhtml'}">
                    <h:link outcome="refund" includeViewParams="true" value="Refund" style="margin-left: 15px" class="btn btn-sm btn-success">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:when>
                <c:otherwise>
                    <h:link outcome="refund" includeViewParams="true" value="Refund" style="margin-left: 15px" class="btn btn-sm btn-default">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:otherwise>
            </c:choose>
            <c:choose>
                <c:when test="#{view.viewId eq '/payment/transactions.xhtml'}">
                    <h:link outcome="transactions" includeViewParams="true" value="Transactions" style="margin-left: 15px" class="btn btn-sm btn-success">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:when>
                <c:otherwise>
                    <h:link outcome="transactions" includeViewParams="true" value="Transactions" style="margin-left: 15px" class="btn btn-sm btn-default">
                        <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                    </h:link>
                </c:otherwise>
            </c:choose>
        </div>
    </div>
</ui:composition>