<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadPaymentProvider()}"/>
            </f:metadata>
            <ui:define name="title">
                Payment Provider
            </ui:define>

            <ui:define name="page-title">
                Payment Provider
            </ui:define>

            <ui:define name="content">
                <h:form id="paymentProvider">
                    <!--                    <div class="clearfix">
                                            <div class="form-group-sm btn-group">
                                                <h:link outcome="registerProvider" class="btn btn-sm btn-default">Register Payment Provider</h:link>
                                                <h:link outcome="bizProviderMgmt" style="margin-left: 15px;" class="btn btn-sm btn-default">Manage Business Provider</h:link>
                                            </div>
                                        </div>
                                        <br></br>-->
                    <h:messages class="ui message" />
                    <h:panelGroup class="col-md-12 ox-tab-holder">
                        <h:dataTable  value="#{portalPaymentController.paymentProviders}" var="provider" class="table table-responsive table-bordered">
                            <h:column class="thead-inverse">
                                <f:facet name="header">Name</f:facet>
                                    #{provider.name}
                            </h:column>
                            <h:column class="thead-inverse">
                                <f:facet name="header">Channel Type</f:facet>
                                    #{provider.className}
                            </h:column>
                            <h:column class="thead-inverse">
                                <f:facet name="header">Description</f:facet>
                                    #{provider.description}
                            </h:column>
                            <h:column class="thead-inverse">
                                <f:facet name="header">Active</f:facet>
                                    #{provider.status ? 'TRUE' : 'FALSE'}
                            </h:column>
                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:commandLink action="#{portalPaymentController.enablePaymentProvider(provider)}" value="Enable" class="btn btn-link" onclick="return confirm('Are you sure?');"
                                                 rendered="#{provider.status != true}"/>
                            </h:column>
<!--                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:link outcome="updateProvider" includeViewParams="true" value="Detail">
                                    <f:param name="iquery" value="#{provider.id}"/>
                                </h:link> 
                            </h:column>
                            <h:commandButton action="#{portalPaymentController.setPaymentProvider(paymentProvider)}" value="Detail">
                                <p:ajax oncomplete="PF('paymentProviderModal').show()" update="paymentProvider:paymentProviderModalPanel"/>
                            </h:commandButton>-->
                        </h:dataTable>
                    </h:panelGroup>
<!--                    <p:dialog header="Payment Provider" widgetVar="paymentProviderModal" minHeight="100" id="paymentProviderModalPanel">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Email Address</label>
                                <h:inputText id="emailAddress" class="form-control" value="#{portalPaymentController.paystack.ownerEmailAddress}" validatorMessage="Email address is not valid." required="true" requiredMessage="The EmailAddress field is required.">
                                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.(com|net|org|edu)"/>
                                    <ui:remove><f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></ui:remove>
                                </h:inputText>
                            </div>

                            <div class="form-group">
                                <label>Public Key</label>
                                <h:inputText value="#{portalPaymentController.paystack.publicKey}" class="form-control" required="true" requiredMessage="Please Provide a Public Key"/>
                            </div>

                            <div class="form-group">
                                <label>Secret Key</label>
                                <h:inputText value="#{portalPaymentController.paystack.secretKey}" class="form-control" required="true" requiredMessage="Please Provide a Secret Key"/>
                            </div>
                        </div>
                    </p:dialog>-->
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
