<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadTransaction()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadSplits()}"/>
            </f:metadata>
            <ui:define name="title">
                Pending Settlement
            </ui:define>

            <ui:define name="page-title">
                Pending Settlement
            </ui:define>

            <ui:define name="content">
                <h:form id="online">
                    <h:messages class="ui message" />
                    <ui:include src="navigation.xhtml" />
                    <h:panelGroup class="col-md-12">
                        <ui:include src="dashboard.xhtml" />

                        <div class="col-lg-10 col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">Pending Settlement</div>
                                <div class="panel-body">
                                    <h:commandButton id="settleButton" style="margin-bottom: 5px;" disabled="#{portalPaymentController.enableSettleButton == false}" value="Settle" class="btn btn-secondary">
                                        <p:ajax oncomplete="PF('SplitModal').show()" update="SplitModalPanel"/>
                                    </h:commandButton>

                                    <h:dataTable id="onlinetranx" value="#{portalPaymentController.onlineTranx}" var="online" class="table table-hover table-bordered">
                                        <h:column>
                                            <h:selectBooleanCheckbox value="#{portalPaymentController.selectedTranx[online.id]}">
                                                <f:ajax render="online:settleButton" listener="#{portalPaymentController.checkForSellectedTranx}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Transaction Ref </f:facet>
                                            <h:outputText value="#{online.transactionRef}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Date</f:facet>
                                            <h:outputText value="#{online.tranxDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Item Cost (&#8358;)</f:facet>
                                            <h:outputText value="#{online.amountBeforeCharge}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Card Charge (&#8358;)</f:facet>
                                            <h:outputText value="#{online.paymentPlatformCharge}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Amount After Charge (&#8358;)</f:facet>
                                            <h:outputText value="#{online.amount}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                    <p:dialog header="Split Settlement" widgetVar="SplitModal" modal="true" minHeight="100" id="SplitModalPanel">
                        <div class="modal-body">
                            <h:selectManyCheckbox layout="pageDirection" value="#{portalPaymentController.selectedSplits}">
                                <f:selectItems value="#{portalPaymentController.splits}" var="n" itemLabel="#{n.name} (#{n.splitRate}%)" itemValue="#{n.id}"/>
                                <f:ajax event="click" render="online:applySettlementButton" listener="#{portalPaymentController.checkForApplySettlement}"/>
                            </h:selectManyCheckbox>
                        </div>
                        <h:commandButton disabled="#{portalPaymentController.enableApplySettlementButton == false}" id="applySettlementButton" style="margin-top: 10px;" value="Apply Settlement" action="#{portalPaymentController.applySplit()}" class="btn btn-secondary"/>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
