<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadTransaction()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadBusinessPendingPayment()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadActiveBankAccounts()}"/>
            </f:metadata>
            <ui:define name="title">
                Pending Payment
            </ui:define>

            <ui:define name="page-title">
                Pending Payment
            </ui:define>

            <ui:define name="content">
                <h:form id="online">
                    <h:messages class="ui message" />
                    <ui:include src="navigation.xhtml" />
                    <h:panelGroup class="col-md-12">
                        <ui:include src="dashboard.xhtml" />
                        <div class="col-lg-10 col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">Pending Payment</div>
                                <div class="panel-body">
                                    <span style="font-weight: bolder">Bank: </span>#{portalPaymentController.businessAccount.bank.name} &nbsp;&nbsp;
                                    <span style="font-weight: bolder">Account No.: </span>#{portalPaymentController.businessAccount.bankAccountNumber}
                                    <br></br>
                                    <h:commandButton id="payButton" disabled="#{portalPaymentController.enablePayButton == false}" style="margin-top: 10px; margin-bottom: 10px;" value="Pay" onclick="return confirm('Are you sure?');" action="#{portalPaymentController.applyPayment()}" class="btn btn-secondary"/>
                                    <h:dataTable id="payment" value="#{portalPaymentController.settlements}" var="pay" class="table table-hover table-bordered">
                                        <h:column>
                                            <h:selectBooleanCheckbox value="#{portalPaymentController.selectedSettlement[pay.id]}">
                                                <f:ajax render="online:payButton" listener="#{portalPaymentController.checkForSellectedSettlement}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Settlement Date</f:facet>
                                            <h:outputText value="#{pay.createdDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Amount (&#8358;) </f:facet>
                                            <h:commandLink action="#{portalPaymentController.prepareForSettlement(pay)}" value="#{portalPaymentController.formatCurrency(pay.amountAfterSplit)}">
                                                <p:ajax oncomplete="PF('settlementModal').show()" update="online:settlementModalPanel"/>
                                            </h:commandLink>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>

                    <p:dialog header="Settlement Detail" widgetVar="settlementModal" id="settlementModalPanel">
                        <div class="modal-body">
                            <h:panelGrid columns="2">
                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Settled Date" />
                                <h:outputText value="#{portalPaymentController.settlement.createdDate}" >
                                    <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                </h:outputText>

                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount Before Split" />
                                <h:outputText value="#{portalPaymentController.settlement.amountBeforeSplit}" >
                                    <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                </h:outputText>

                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount After Split" />
                                <h:outputText value="#{portalPaymentController.settlement.amountAfterSplit}" >
                                    <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                </h:outputText>
                            </h:panelGrid>
                            <br></br>
                            <h:panelGrid columns="1">
                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Splits" />
                                <ui:repeat var="log" value="#{portalPaymentController.splitLogs}">
                                    <h:panelGrid columns="2">
                                        <h:outputText style="font-weight: bold; margin-right: 15px;" value="Name" />
                                        <h:outputText value="#{log.split.name}" />

                                        <h:outputText style="font-weight: bold; margin-right: 15px;" value="Rate" />
                                        <h:outputText value="#{log.split.splitRate}%" />

                                        <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount" />
                                        <h:outputText value="#{log.splitAmount}">
                                            <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                        </h:outputText>

                                    </h:panelGrid>
                                    <br></br>
                                </ui:repeat>
                                <h:outputText style="font-weight: bold;" value="Total Split Amount: &#8358;#{portalPaymentController.formatCurrency(portalPaymentController.settlement.totalSplitAmount)}" />
                            </h:panelGrid>
                        </div>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
