<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadEligibleForRefund()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadRefundHistory()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadBanks()}"/>
            </f:metadata>
            <ui:define name="title">
                Refund
            </ui:define>

            <ui:define name="page-title">
                Refund
            </ui:define>

            <ui:define name="content">
                <h:messages class="ui message" />
                <ui:include src="navigation.xhtml" />
                <h:panelGroup class="col-md-12">
                    <ui:include src="dashboard.xhtml" />
                    <h:form id="refundForm">
                        <div class="col-lg-6 col-md-7 col-lg-push-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Refund Customer Account
                                </div>
                                <div class="panel-body">
                                    <p:dataTable id="refund" var="refund" value="#{portalPaymentController.refunds}" class="table table-responsive table-bordered">
                                        <p:column width="12%" headerText="Order ID">
                                            <h:outputText value="#{refund.orderedItem.batchId}" />
                                        </p:column>
                                        <p:column style="text-align: left" headerText="Created Date">
                                            <h:outputText value="#{refund.createdDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column width="20%" style="text-align: right" headerText="Amount (&#8358;)">
                                            <h:outputText value="#{refund.amount}">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column width="25%" style="text-align: center">
                                            <h:commandButton action="#{portalPaymentController.setRefund(refund)}" value="Refund"  class="btn btn-sm">
                                                <p:ajax oncomplete="PF('refundModal').show()" update="refundForm:refundModalPanel"/>
                                            </h:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                        <p:dialog header="Customer Account Refund" widgetVar="refundModal" modal="true" minHeight="100" id="refundModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Bank</label>
                                    <h:selectOneMenu value="#{portalPaymentController.refund.bank}" converter="omnifaces.SelectItemsConverter" class="form-control" required="true" requiredMessage="Please Select a Bank">
                                        <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                        <f:selectItems value="#{portalPaymentController.banks}" var="b" itemLabel="#{b.name}"/>
                                    </h:selectOneMenu>
                                </div>

                                <div class="form-group">
                                    <label>Bank Account Number</label>
                                    <h:inputText value="#{portalPaymentController.refund.bankAccountNumber}" class="form-control" validatorMessage="Account Number shoudl be 10 digits" required="true" requiredMessage="Please Provide your Account Number">
                                        <f:validateRegex pattern="^\d{10}$"/>
                                    </h:inputText>
                                </div>
                            </div>
                            <h:commandButton style="margin-top: 10px;" value="Make Refund" onclick="return confirm('Are you sure?');" action="#{portalPaymentController.applyRefund()}" class="btn btn-sm"/>
                        </p:dialog>
                    </h:form>

                    <h:form id="refundHistory">
                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Refund History
                                </div>
                                <div class="panel-body">

                                    <label>Refunded Date</label><br/>

                                    <p:outputLabel for="tranxDate1" value="From" />
                                    <p:calendar style="margin-right: 5px;" id="tranxDate1" value="#{portalPaymentController.tranxDate1}"/>

                                    <p:outputLabel for="tranxDate2" value="To" />
                                    <p:calendar id="tranxDate2" value="#{portalPaymentController.tranxDate2}"/>

                                    <h:commandButton style="margin-bottom: 15px; margin-top: 5px;" action="#{portalPaymentController.loadRefundHistory()}" value="Filter" class="btn btn-primary" />

                                    <p:dataTable id="refundHistory" var="refund" value="#{portalPaymentController.refundHistory}" class="table table-responsive table-bordered">
                                        <p:column width="12%" headerText="Order ID">
                                            <h:outputText value="#{refund.orderedItem.batchId}" />
                                        </p:column>
                                        <p:column style="text-align: left" headerText="Refunded Date">
                                            <h:outputText value="#{refund.refundedDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column width="20%" style="text-align: right" headerText="Amount (&#8358;)">
                                            <h:outputText value="#{refund.amount}">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column width="25%" style="text-align: center">
                                            <p:commandButton update="refundHistory:refundDetailModalPanel" oncomplete="PF('refundDetailModal').show()" value="Detail">
                                                <f:setPropertyActionListener value="#{refund}" target="#{portalPaymentController.refund}" />
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>

                                </div>
                            </div>
                        </div>
                        <p:dialog header="Refund Detail" widgetVar="refundDetailModal" modal="true" minHeight="100" id="refundDetailModalPanel">
                            <div class="modal-body">
                                <h:panelGrid columns="2">
                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Refunded Date" />
                                    <h:outputText value="#{portalPaymentController.refund.refundedDate}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                    </h:outputText>

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount" />
                                    <h:outputText value="#{portalPaymentController.refund.amount}" >
                                        <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                    </h:outputText>

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Paid By" />
                                    <h:outputText value="#{portalPaymentController.refund.paidBy.surname} #{portalPaymentController.refund.paidBy.firstName}" />

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Bank" />
                                    <h:outputText value="#{portalPaymentController.refund.bank.name}"/> 

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Account Number" />
                                    <h:outputText value="#{portalPaymentController.refund.bankAccountNumber}"/> 

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Payment Code" />
                                    <h:outputText value="#{portalPaymentController.refund.paymentCode}"/> 

                                </h:panelGrid>
                            </div>
                        </p:dialog>
                    </h:form>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>
