<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadSplitDetail()}"/>
            </f:metadata>
            <ui:define name="title">
                Split
            </ui:define>
            
            <ui:define name="page-title">
                Split
            </ui:define>
            
            <ui:define name="content">
                <h:form id="split">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="splitConfig" class="btn btn-sm btn-default">Split List</h:link>
                            <h:link outcome="registerSplit"  class="btn btn-sm btn-default" rendered="#{portalPaymentController.split.id ne null}" style="margin-left: 15px;" includeViewParams="true" value="Register Split">
                                <f:param name="iquery" value=""/>
                            </h:link>
                        </div>
                    </div>
                    <br></br>
                    <div class="col-lg-3 col-md-5">
                        <div class="modal-dialog panel panel-default">
                            <h:messages class="ui message" />
                            <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>Split</div>
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <h:inputText value="#{portalPaymentController.split.name}" class="form-control" required="true" requiredMessage="Please Provide a Split Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <h:inputTextarea cols="45" value="#{portalPaymentController.split.description}" class="form-control" rows="4"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Split Rate(%)</label>
                                        <h:inputText value="#{portalPaymentController.split.splitRate}" class="form-control" required="true" requiredMessage="Please Provide a Split Rate"/>
                                    </div>

                                    <div class="form-group btn-group">
                                        <h:commandButton action="#{portalPaymentController.registerSplit()}" value="Create Split" class="btn btn-primary" rendered="#{portalPaymentController.split.id eq null}"/>
                                    </div>
                                    <div class="form-group btn-group">
                                        <h:panelGroup rendered="#{portalPaymentController.split.id ne null}">
                                            <h:commandButton action="#{portalPaymentController.updateSplit()}" value="Update Split" class="btn btn-primary" />
                                            <h:commandButton action="#{portalPaymentController.disableSplit()}" value="Disable Split" class="btn btn-danger pull-right" onclick="return confirm('Are you sure?');"
                                                             rendered="#{portalPaymentController.split.status == true}"/>
                                            <h:commandButton action="#{portalPaymentController.enableSplit()}" value="Enable Split" class="btn btn-secondary pull-right" onclick="return confirm('Are you sure?');"
                                                             rendered="#{portalPaymentController.split.status != true}"/>
                                        </h:panelGroup>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
