<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadTransaction()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadSplits()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadBusinessPendingPayment()}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadActiveBankAccounts()}"/>
            </f:metadata>
            <ui:define name="title">
                Account Settlement
            </ui:define>

            <ui:define name="page-title">
                Account Settlement
            </ui:define>

            <ui:define name="content">
                <h:form id="online">
                    <h:messages class="ui message" />
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="accountSummary" class="btn btn-sm btn-default">Business List</h:link>
                            <h:link outcome="bankAccount" includeViewParams="true" value="Bank Account" style="margin-left: 15px" class="btn btn-sm btn-default">
                                <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                            </h:link>
                            <h:link outcome="refund" includeViewParams="true"  style="margin-left: 15px" class="btn btn-sm btn-default" value="Refund">
                                <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                            </h:link>
                            <h:link outcome="transactions" includeViewParams="true"  style="margin-left: 15px" class="btn btn-sm btn-default" value="Transactions">
                                <f:param name="iquery" value="#{portalPaymentController.business.id}"/>
                            </h:link>
                        </div>
                    </div>
                    <h:panelGroup class="col-md-12 ox-tab-holder">
                        <ui:include src="dashboard.xhtml" />

                        <div class="col-lg-6 col-md-7 col-lg-push-0">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>
                                    Pending Settlement
                                </div>
                                <div class="panel-body">
                                    <p:commandButton id="settleButton" process="onlinetranx" disabled="#{portalPaymentController.enableSettleButton}" style="margin-bottom: 20px;" update="online:SplitModalPanel" value="Settle" oncomplete="PF('SplitModal').show()" />

                                    <h:dataTable id="onlinetranx" value="#{portalPaymentController.onlineTranx}" var="online" class="table table-hover table-bordered">
                                        <h:column>
                                            <h:selectBooleanCheckbox value="#{portalPaymentController.selectedTranx[online.id]}">
                                                <f:ajax render="settleButton" listener="#{portalPaymentController.checkForSellectedTranx}"/>
                                            </h:selectBooleanCheckbox>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Transaction Ref </f:facet>
                                            <h:outputText value="#{online.transactionRef}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Date</f:facet>
                                            <h:outputText value="#{online.tranxDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Item Cost (&#8358;)</f:facet>
                                            <h:outputText value="#{online.amountBeforeCharge}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Card Charge (&#8358;)</f:facet>
                                            <h:outputText value="#{online.paymentPlatformCharge}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Amount After Charge (&#8358;)</f:facet>
                                            <h:outputText value="#{online.amount}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </h:column>
                                    </h:dataTable>

<!--                                    <p:dataTable id="onlinetranx" var="online" value="#{portalPaymentController.onlineTranx}" selection="#{portalPaymentController.selectedOnlineTranx}" rowKey="#{online.id}" style="margin-bottom:0">
                                        <p:column selectionMode="multiple" style="width:36px;text-align:center"/>
                                        <p:column style="text-align: left" headerText="Transaction Ref">
                                            <h:outputText value="#{online.transactionRef}" />
                                        </p:column>
                                        <p:column style="text-align: left" headerText="Date">
                                            <h:outputText value="#{online.tranxDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column style="text-align: right" headerText="Item Cost (&#8358;)">
                                            <h:outputText value="#{online.amountBeforeCharge}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column style="text-align: right" headerText="Card Charge (&#8358;)">
                                            <h:outputText value="#{online.paymentPlatformCharge}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column style="text-align: right" headerText="Amount After Charge (&#8358;)">
                                            <h:outputText value="#{online.amount}" style="font-weight: bold">
                                                <f:convertNumber type="currency" currencySymbol=""/>
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>
                                    Pending Payment
                                </div>
                                <div class="panel-body">
                                    <p:commandButton process="payment" update="online:BizAccountModalPanel" oncomplete="PF('BizAccountModal').show()" style="margin-bottom: 20px;" value="Pay" />
                                    <p:dataTable id="payment" var="pay" value="#{portalPaymentController.settlements}" selection="#{portalPaymentController.selectedSettlements}" rowKey="#{pay.id}" style="margin-bottom:0">
                                        <p:column selectionMode="multiple" style="width:36px;text-align:center"/>
                                        <p:column style="text-align: left" headerText="Settlement Date">
                                            <h:outputText value="#{pay.createdDate}" >
                                                <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                            </h:outputText>
                                        </p:column>
                                        <p:column style="text-align: right" headerText="Amount (&#8358;)">
                                            <h:commandLink action="#{portalPaymentController.prepareForSettlement(pay)}" value="#{portalPaymentController.formatCurrency(pay.amountAfterSplit)}">
                                                <p:ajax oncomplete="PF('settlementModal').show()" update="online:settlementModalPanel"/>
                                            </h:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>

                    </h:panelGroup>
                    <p:dialog header="Split Settlement" widgetVar="SplitModal" modal="true" minHeight="100" id="SplitModalPanel">
                        <div class="modal-body">
                            <h:selectManyCheckbox layout="pageDirection" value="#{portalPaymentController.selectedSplits}">
                                <f:selectItems value="#{portalPaymentController.splits}" var="n" itemLabel="#{n.name} (#{n.splitRate}%)" itemValue="#{n.id}" />
                            </h:selectManyCheckbox>
                        </div>
                        <h:commandButton style="margin-top: 10px;" value="Apply Settlement" action="#{portalPaymentController.applySplit()}" class="btn btn-sm"/>
                    </p:dialog>

                    <p:dialog header="Business Account" widgetVar="BizAccountModal" modal="true" minHeight="100" id="BizAccountModalPanel">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Bank Account</label>
                                <h:selectOneMenu value="#{portalPaymentController.businessAccount}" converter="omnifaces.SelectItemsConverter" class="form-control" >
                                    <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                    <f:selectItems value="#{portalPaymentController.businessAccounts}" var="b" itemLabel="#{b.bank.name} - #{b.bankAccountNumber}"/>
                                </h:selectOneMenu>
                            </div>
                        </div>
                        <h:commandButton style="margin-top: 10px;" value="Make Payment" onclick="return confirm('Are you sure?');" action="#{portalPaymentController.applyPayment()}" class="btn btn-sm"/>
                    </p:dialog>

                    <p:dialog header="Settlement Detail" widgetVar="settlementModal" id="settlementModalPanel">
                        <div class="modal-body">
                            <h:panelGrid columns="2">
                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Settled Date" />
                                <h:outputText value="#{portalPaymentController.settlement.createdDate}" >
                                    <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                </h:outputText>

                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount Before Split" />
                                <h:outputText value="#{portalPaymentController.settlement.amountBeforeSplit}" >
                                    <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                </h:outputText>

                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount After Split" />
                                <h:outputText value="#{portalPaymentController.settlement.amountAfterSplit}" >
                                    <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                </h:outputText>
                            </h:panelGrid>
                            <br></br>
                            <h:panelGrid columns="1">
                                <h:outputText style="font-weight: bold; margin-right: 15px;" value="Splits" />
                                <ui:repeat var="log" value="#{portalPaymentController.splitLogs}">
                                    <h:panelGrid columns="2">
                                        <h:outputText style="font-weight: bold; margin-right: 15px;" value="Name" />
                                        <h:outputText value="#{log.split.name}" />

                                        <h:outputText style="font-weight: bold; margin-right: 15px;" value="Rate" />
                                        <h:outputText value="#{log.split.splitRate}%" />

                                        <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount" />
                                        <h:outputText value="#{log.splitAmount}">
                                            <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                        </h:outputText>

                                    </h:panelGrid>
                                    <br></br>
                                </ui:repeat>
                                <h:outputText style="font-weight: bold;" value="Total Split Amount: &#8358;#{portalPaymentController.formatCurrency(portalPaymentController.settlement.totalSplitAmount)}" />
                            </h:panelGrid>
                        </div>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
