<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{portalPaymentController.filterSettlement()}"/>
            </f:metadata>

            <ui:define name="title">
                Settlement History
            </ui:define>

            <ui:define name="page-title">
                Settlement History
            </ui:define>

            <ui:define name="content">
                <h:form id="settlementHistory">
                    <h:messages class="ui message" />
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="accountSummary" class="btn btn-sm btn-default">Back</h:link>
                        </div>
                    </div>
                    <br></br>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Filter Box</div>
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <div class="clearfix col-md-12">
                                        <div class="form-group col-md-3">
                                            <label>Business</label>
                                            <h:selectOneMenu value="#{portalPaymentController.business}" converter="omnifaces.SelectItemsConverter" class="form-control">
                                                <f:selectItem noSelectionOption="true" itemLabel="All" />
                                                <f:selectItems value="#{portalPaymentController.getActiveBusinesses()}" var="business" itemLabel="#{business.name}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Paid</label>
                                            <h:selectOneMenu value="#{portalPaymentController.paid}" converter="omnifaces.SelectItemsConverter" class="form-control">
                                                <f:selectItem noSelectionOption="true" itemLabel="All" />
                                                <f:selectItem itemLabel="Paid" itemValue="True"/>
                                                <f:selectItem itemLabel="Not Paid" itemValue="False"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="clearfix col-md-12">
                                            <label>Settlement Date</label>
                                        </div>
                                        <div class="clearfix col-md-12">
                                            <div class="form-group col-md-3">
                                                <p:outputLabel for="tranxDate1" value="From" />
                                                <p:calendar id="tranxDate1" value="#{portalPaymentController.tranxDate1}"/>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <p:outputLabel for="tranxDate2" value="To" />
                                                <p:calendar id="tranxDate2" value="#{portalPaymentController.tranxDate2}"/>
                                            </div>
                                        </div>
                                        <div class="clearfix col-md-12">
                                            <div class="form-group btn-group">
                                                <h:commandButton action="#{portalPaymentController.filterSettlementTable()}" value="Filter" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <p:dataTable id="settlementTable" var="s" value="#{portalPaymentController.settlements}" rows="10" rowIndexVar="index"
                                     paginator="true" currentPageReportTemplate="Total Records: {totalRecords}"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,30">
                            <p:column width="5%" style="text-align: left" headerText="S/No">
                                <h:outputText value="#{index + 1}" />
                            </p:column>

                            <p:column style="text-align: left" headerText="Business">
                                <h:outputText value="#{s.business.name}" />
                            </p:column>

                            <p:column width="10%" style="text-align: left" headerText="Status">
                                <h:outputText value="#{s.paid ? 'PAID' : 'NOT PAID'}" />
                            </p:column>

                            <p:column style="text-align: left" headerText="Date">
                                <h:outputText value="#{s.settledDate}" >
                                    <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                </h:outputText>
                            </p:column>

                            <p:column width="12%" style="text-align: right" headerText="Before Split (&#8358;)">
                                <h:outputText value="#{s.amountBeforeSplit}">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>

                            <p:column width="10%" style="text-align: right" headerText="Split (&#8358;)">
                                <h:commandLink action="#{portalPaymentController.fetchSplitLog(s)}" value="#{portalPaymentController.formatCurrency(s.totalSplitAmount)}.00">
                                    <p:ajax oncomplete="PF('splitLogModal').show()" update="settlementHistory:splitLogModalPanel"/>
                                </h:commandLink>
                            </p:column>

                            <p:column width="12%" style="text-align: right" headerText="After Split (&#8358;)">
                                <h:outputText value="#{s.amountAfterSplit}">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>

                        </p:dataTable>
                        <p:dialog header="Split Log" widgetVar="splitLogModal" minHeight="100" id="splitLogModalPanel">
                            <div class="modal-body">
                                <h:dataTable value="#{portalPaymentController.splitLogs}" var="siig" class="table table-hover table-bordered">
                                    <h:column>
                                        <f:facet name="header">Name</f:facet>
                                            #{siig.split.name}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Rate (%)</f:facet>
                                            #{siig.split.splitRate}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Amount (&#8358;)</f:facet>
                                        <h:outputText style="text-align: right" value="#{siig.splitAmount}">
                                            <f:convertNumber type="currency" currencySymbol=""/>
                                        </h:outputText>
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </p:dialog>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
