<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadSplits()}"/>
            </f:metadata>
            <ui:define name="title">
                Split Config
            </ui:define>

            <ui:define name="page-title">
                Split Configuration
            </ui:define>

            <ui:define name="content">
                <h:form id="splitConfig">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="registerSplit" class="btn btn-sm btn-default">Register Split</h:link>
                        </div>
                    </div>
                    <br></br>
                    <h:messages class="ui message" />
                    <h:panelGroup class="col-md-12 ox-tab-holder">
                        <h:dataTable  value="#{portalPaymentController.splits}" var="split" class="table table-responsive table-bordered">
                            <h:column class="thead-inverse">
                                <f:facet name="header">Name</f:facet>
                                    #{split.name}
                            </h:column>
                            <h:column class="thead-inverse">
                                <f:facet name="header">Rate (%)</f:facet>
                                    #{split.splitRate}
                            </h:column>
                            <h:column class="thead-inverse">
                                <f:facet name="header">Modified Date</f:facet>
                                    #{split.modifiedDate}
                            </h:column>
                            <h:column class="thead-inverse">
                                <f:facet name="header">Status</f:facet>
                                    #{split.status ? 'ACTIVE' : 'INACTIVE'}
                            </h:column>
                            <h:column>
                                <f:facet name="header"></f:facet>
                                <h:link outcome="registerSplit" includeViewParams="true" value="Detail">
                                    <f:param name="iquery" value="#{split.id}"/>
                                </h:link> 
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
