<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadTransactionHistory()}"/>
            </f:metadata>
            <ui:define name="title">
                Transaction History
            </ui:define>

            <ui:define name="page-title">
                Transaction History
            </ui:define>

            <ui:define name="content">
                <h:form id="transactionHistory">
                    <h:messages class="ui message" />
                    <ui:include src="navigation.xhtml" />
                    <br></br>
                    <h:panelGroup class="col-sm-11">
                        <div class="clearfix col-md-12">
                            <div class="clearfix col-md-12">
                                <label>Transaction Date</label>
                            </div>
                            <div class="clearfix col-md-12">
                                <div class="form-group col-md-3">
                                    <p:outputLabel for="tranxDate1" value="From" />
                                    <p:calendar id="tranxDate1" value="#{portalPaymentController.tranxDate1}"/>
                                </div>
                                <div class="form-group col-md-3">
                                    <p:outputLabel for="tranxDate2" value="To" />
                                    <p:calendar id="tranxDate2" value="#{portalPaymentController.tranxDate2}"/>
                                </div>
                            </div>
                            <div class="clearfix col-md-12">
                                <div class="form-group btn-group">
                                    <h:commandButton action="#{portalPaymentController.loadTransactionHistory()}" value="Filter" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                    <div class="col-md-8 col-sm-10 col-lg-12">
                        <p:dataTable id="tranxTable" var="s" value="#{portalPaymentController.paymentTransactions}" rows="10" rowIndexVar="index"
                                     paginator="true" currentPageReportTemplate="Total Records: {totalRecords}"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,30">
                            <p:column width="5%" style="text-align: left" headerText="S/No">
                                <h:outputText value="#{index + 1}" />
                            </p:column>

                            <p:column style="text-align: left" headerText="Transaction Ref">
                                <h:outputText value="#{s.transactionRef}" />
                            </p:column>

                            <p:column style="text-align: left" headerText="Date">
                                <h:outputText value="#{s.tranxDate}" >
                                    <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                </h:outputText>
                            </p:column>

                            <p:column width="12%" style="text-align: right" headerText="Amount (&#8358;)">
                                <h:outputText value="#{s.amount}">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </p:column>

                            <p:column width="10%" style="text-align: right" headerText="Order ID">
                                <h:commandLink action="#{portalPaymentController.setOrderedItem(s.orderItem)}" value="#{s.orderItem.id}">
                                    <p:ajax oncomplete="PF('orderDialog').show()" update="transactionHistory:orderDialogPanel"/>
                                </h:commandLink>
                            </p:column>

                            <p:column width="15%" style="text-align: right" headerText="Settlement ID">
                                <h:commandLink action="#{portalPaymentController.prepareForSettlement(s.settlement)}" value="#{s.settlement.id}">
                                    <p:ajax oncomplete="PF('settlementModal').show()" update="transactionHistory:settlementModalPanel"/>
                                </h:commandLink>
                            </p:column>

                        </p:dataTable>
                        <p:dialog header="Order Detail" widgetVar="orderDialog" id="orderDialogPanel" modal="true" height="500px" width="675px" showEffect="fade" hideEffect="fade" closeOnEscape="true">
                            <h:commandButton style="margin-bottom: 10px;" value="Print" class="btn btn-sm">
                                <p:printer target="orderDetail" />
                            </h:commandButton>

                            <p:outputPanel id="orderDetail">
                                <div class="modal-header">
                                    <h:panelGrid columns="2">
                                        <h:panelGrid columns="1" style="margin-right: 90px; text-align:left;">
                                            <h1>#{portalPaymentController.orderedItem.kiosk.name}</h1>
                                        </h:panelGrid>
                                        <h:panelGrid columns="1" style="text-align:right;">
                                            <a href="order_detail.xhtml"></a>
                                            <h1>Order ##{portalPaymentController.orderedItem.batchId} - #{portalPaymentController.orderedItem.orderStatus.status}</h1>
                                            <h3><h:outputText value="#{portalPaymentController.orderedItem.checkedOutDate}">
                                                    <f:convertDateTime pattern="MMMM dd, yyyy" />
                                                </h:outputText></h3>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </div>
                                <div class="modal-body">
                                    <p>Ordered By <strong>#{portalPaymentController.orderedItem.orderedBy.firstName} #{portalPaymentController.orderedItem.orderedBy.surname}</strong></p>

                                    <h:panelGrid columns="2" style="margin-bottom: 30px;">
                                        <h:panelGrid columns="1" style="margin-right: 100px;">
                                            <h:outputText style="font-weight: bold;" value="Delivery Address" />

                                            <h:outputText value="#{portalPaymentController.orderedItem.deliveryAddress.person}" />

                                            <h:outputText value="#{portalPaymentController.orderedItem.deliveryAddress.description}"/>

                                            <h:outputText value="#{portalPaymentController.orderedItem.deliveryAddress.emailAddress}" />

                                            <h:outputText value="#{portalPaymentController.orderedItem.deliveryAddress.phoneNo}" />
                                        </h:panelGrid>    
                                        <h:panelGrid columns="2">
                                            <h:outputText style="font-weight: bold;" value="Delivery Method:" />
                                            <h:outputText value="#{portalPaymentController.orderedItem.deliveryOption.deliveryOption}"/>

                                            <h:outputText style="font-weight: bold;" value="Payment Method: " />
                                            <h:outputText value="#{portalPaymentController.orderedItem.paymentMethod.option}"/>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </div>

                                <h3>Items Ordered</h3>
                                <p:dataTable id="detailTable" var="oDetail" value="#{portalPaymentController.getCarts()}" rowIndexVar="index">
                                    <p:column width="10%" style="text-align: left" headerText="S/No">
                                        <h:outputText value="#{index + 1}" style="font-weight: bold"/>
                                    </p:column>

                                    <p:column style="text-align: left" headerText="Item">
                                        <h:outputText rendered="#{oDetail.item != null}" value="#{oDetail.item.name}" style="font-weight: bold" />
                                        <h:outputText rendered="#{oDetail.itemVariation != null}" style="font-weight: bold" value="#{oDetail.itemVariation.item.name} (#{oDetail.itemVariation.description})" />
                                    </p:column>

                                    <p:column width="13%" style="text-align: left" headerText="Quantity">
                                        <h:outputText value="#{oDetail.quantity}" style="font-weight: bold"/>
                                    </p:column>

                                    <p:column style="text-align: right" headerText="Unit Price (&#8358;)">
                                        <h:outputText value="#{oDetail.amount/oDetail.quantity}" style="font-weight: bold">
                                            <f:convertNumber type="currency" currencySymbol=""/>
                                        </h:outputText>
                                    </p:column>

                                    <p:column style="text-align: right" headerText="Subtotal (&#8358;)">
                                        <h:outputText value="#{oDetail.amount}" style="font-weight: bold">
                                            <f:convertNumber type="currency" currencySymbol=""/>
                                        </h:outputText>
                                    </p:column>

                                    <p:column style="border: none !important; display: none;" rendered="#{not empty portalPaymentController.populateSubItemCart(oDetail)}">
                                        <p:subTable var="subCat" value="#{portalPaymentController.populateSubItemCart(oDetail)}">
                                            <p:column />
                                            <p:column style="text-align: left">
                                                <h:outputText value="#{subCat.subItem.name}" />
                                            </p:column>
                                            <p:column/>
                                            <p:column style="text-align: right">
                                                <h:outputText value="#{subCat.price}">
                                                    <f:convertNumber type="currency" currencySymbol=""/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column style="text-align: right">
                                                <h:outputText value="#{subCat.price * oDetail.quantity}">
                                                    <f:convertNumber type="currency" currencySymbol=""/>
                                                </h:outputText>
                                            </p:column>
                                        </p:subTable>
                                    </p:column>

                                    <p:columnGroup type="footer">
                                        <p:row>
                                            <p:column colspan="4" footerText="Subtotal" style="text-align:right; border: none" />
                                            <p:column footerText="#{portalPaymentController.formatCurrency(portalPaymentController.orderedItem.totalAmount - (portalPaymentController.orderedItem.deliveryFee + portalPaymentController.orderedItem.tax))}.00" style="text-align:right"/>
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="4" footerText="Shipping and Handling" style="text-align:right; border: none" />
                                            <p:column footerText="#{portalPaymentController.formatCurrency(portalPaymentController.orderedItem.deliveryFee)}.00" style="text-align:right"/>
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="4" footerText="Tax" style="text-align:right ; border: none" />
                                            <p:column footerText="#{portalPaymentController.formatCurrency(portalPaymentController.orderedItem.tax)}.00" style="text-align:right"/>
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="4" footerText="Grand Total" style="text-align:right ; border: none;font-weight: bold;"/>
                                            <p:column footerText="#{portalPaymentController.formatCurrency(portalPaymentController.orderedItem.totalAmount)}.00" style="text-align:right; font-weight: bold"/>
                                        </p:row>
                                    </p:columnGroup>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>
                        <p:dialog header="Settlement Detail" widgetVar="settlementModal" id="settlementModalPanel">
                            <div class="modal-body">
                                <h:panelGrid columns="2">
                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Settled Date" />
                                    <h:outputText value="#{portalPaymentController.settlement.createdDate}" >
                                        <f:convertDateTime pattern="MMMM dd, yyyy : HH:mm" />
                                    </h:outputText>

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount Before Split" />
                                    <h:outputText value="#{portalPaymentController.settlement.amountBeforeSplit}" >
                                        <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                    </h:outputText>

                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount After Split" />
                                    <h:outputText value="#{portalPaymentController.settlement.amountAfterSplit}" >
                                        <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                    </h:outputText>
                                </h:panelGrid>
                                <br></br>
                                <h:panelGrid columns="1">
                                    <h:outputText style="font-weight: bold; margin-right: 15px;" value="Splits" />
                                    <ui:repeat var="log" value="#{portalPaymentController.splitLogs}">
                                        <h:panelGrid columns="2">
                                            <h:outputText style="font-weight: bold; margin-right: 15px;" value="Name" />
                                            <h:outputText value="#{log.split.name}" />

                                            <h:outputText style="font-weight: bold; margin-right: 15px;" value="Rate" />
                                            <h:outputText value="#{log.split.splitRate}%" />

                                            <h:outputText style="font-weight: bold; margin-right: 15px;" value="Amount" />
                                            <h:outputText value="#{log.splitAmount}">
                                                <f:convertNumber type="currency" currencySymbol="&#8358;"/>
                                            </h:outputText>

                                        </h:panelGrid>
                                        <br></br>
                                    </ui:repeat>
                                    <h:outputText style="font-weight: bold;" value="Total Split Amount: &#8358;#{portalPaymentController.formatCurrency(portalPaymentController.settlement.totalSplitAmount)}" />
                                </h:panelGrid>
                            </div>
                        </p:dialog>
                    </div>

                </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>
