<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">
            <f:metadata>
                <f:viewParam name="iquery" value="#{portalPaymentController.iquery}"/>
                <f:event type="preRenderView" listener="#{portalPaymentController.loadProviderDetail()}"/>
            </f:metadata>
            <ui:define name="title">
                Update Payment Provider
            </ui:define>

            <ui:define name="page-title">
                Update Payment Provider
            </ui:define>

            <ui:define name="content">
                <h:form id="paymentProvider">
                    <div class="clearfix">
                        <div class="form-group-sm btn-group">
                            <h:link outcome="registerProvider" class="btn btn-sm btn-default">Register Provider</h:link>
                            <h:link outcome="sysPaymentProvider" style="margin-left: 15px;" class="btn btn-sm btn-default">Payment Provider List</h:link>
                            <h:link outcome="bizProviderMgmt" style="margin-left: 15px;" class="btn btn-sm btn-default">Manage Business Provider</h:link>
                        </div>
                    </div>
                    <br></br>
                    <div class="col-lg-3 col-md-5">
                        <div class="modal-dialog panel panel-default">
                            <h:messages class="ui message" />
                            <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i>Update Payment Provider</div>
                            <div class="panel-body">
                                <h:panelGroup class="col-sm-11">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <h:inputText value="#{portalPaymentController.paymentProvider.name}" class="form-control" required="true" requiredMessage="Please Provide a Provider Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Provider Type</label>
                                        <h:inputText value="#{portalPaymentController.paymentProvider.className}" class="form-control" disabled="true" />
                                    </div>

                                    <h:panelGroup id="registerBox" >
                                        <h:panelGroup rendered="#{portalPaymentController.isPaystack == true}">
                                            <div class="form-group">
                                                <label>Admin Email Address</label>
                                                <h:inputText id="emailAddress" class="form-control" value="#{portalPaymentController.paystack.ownerEmailAddress}" validatorMessage="Email address is not valid." required="true" requiredMessage="The EmailAddress field is required.">
                                                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.(com|net|org|edu)"/>
                                                    <ui:remove><f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></ui:remove>
                                                </h:inputText>
                                            </div>

                                            <div class="form-group">
                                                <label>Public Key</label>
                                                <h:inputText value="#{portalPaymentController.paystack.publicKey}" class="form-control" required="true" requiredMessage="Please Provide a Public Key"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Secret Key</label>
                                                <h:inputText value="#{portalPaymentController.paystack.secretKey}" class="form-control" required="true" requiredMessage="Please Provide a Secret Key"/>
                                            </div>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <div class="form-group btn-group">
                                        <h:commandButton action="#{portalPaymentController.updateProvider()}" value="Update Provider" class="btn btn-primary"/>
                                    </div>
                                </h:panelGroup>
                            </div>

                        </div>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
