/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 11:18:17 AM
    Author     : Tobi-Morph-PC
*/

/**{
    box-sizing: initial;
}*/

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#layout {
    position: relative;
    padding-left: 0;
}
#layout.active #menu {
    left: 250px;
    width: 250px;
}

#layout.active .menu-link {
    left: 250px;
}
.content {
    padding: 0.5em 1em;
    /*max-width: max-content;*/
    margin-bottom: 50px;
    line-height: 1.6em;
}
#menu {
    margin-left: -250px; /* "#menu" width */
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #283744;


    background: #0b536f;
    background: #14465D;
    /*    background: -moz-radial-gradient(center, ellipse cover, #0b536f 0%, #041c25 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #0b536f 0%, #041c25 100%);
        background: radial-gradient(ellipse at center, #0b536f 0%,#041c25 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b536f', endColorstr='#041c25',GradientType=1 );*/

}
/*

Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

#menu .pure-menu-heading {
    font-size: 25px;
    color: #fff;
    margin: 0;
    font-weight: 700;
    border-bottom: 1px solid #425164;
    display: block;
    position: relative;
}
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

.menu-link{
    box-sizing: initial;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
/*        padding-left: 2em;
        padding-right: 2em;*/
    }

    #layout {
        padding-left: 250px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 250px;
    }

    .menu-link {
        position: fixed;
        left: 250px;
        display: none;
    }

    #layout.active .menu-link {
        left: 250px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 250px;
    }
}


.ox-heading{
    display: block;
    position: relative;
    text-align: left;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 18px 5px;
    color: #fff;
}



/*vertical Menu*/
#vertical-menu{
    /*background: #004050;*/
    margin: 20px auto 0 auto;
    color: white;
}
#vertical-menu a{
    color: white;
}
/*heading styles*/
#vertical-menu .item-header{
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/*heading hover effect*/
#vertical-menu .item-header:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.1);
}
/*iconfont styles*/
#vertical-menu .item-header i {
    font-size: 16px;
    margin-right: 10px;
}


#vertical-menu .item-header b:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    color: white;
}
#vertical-menu .item-header:hover b:before{
    content: "\f107";
}



/*list items*/
#vertical-menu li {
    list-style-type: none;
}
/*links*/
#vertical-menu ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    display: block;
    padding: 0 20px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
#vertical-menu ul ul li a:hover {
    color: white;
    background: #002636;
    border-left: 1px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#vertical-menu ul ul {
    display: none;
}
#vertical-menu li.active ul {
    display: block;
}

#vertical-menu .activeSpan{
    display: block;
    color: white;
    background: #002636;
    border-left: 1px solid lightgreen;
}




::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* Let's get this party started */ ::-webkit-scrollbar { width: 12px; } 
/* Track */ 
::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px; border-radius: 10px; 
} /* Handle */ 
::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 10px; border-radius: 10px; background: rgba(255,0,0,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} ::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }











.panel-default > .panel-heading {
    background-image: none !important;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}
.panel-info > .panel-heading{
    background-image: none !important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #ddd;
    background: none !important;
    font-weight: bold;
    color: #4f4f4f;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}

.ui-widget-header {
    background: #ddd none !important;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
    border: 0px solid #a8a8a8;
    font-weight: bold;
    background-image: none;
    background-color: rgb(196, 196, 196);
    background-color: #C3C3C3;

}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
    border-color: #ddd;
    background: #85b2cb none !important;
    font-weight:bold;
    color:#313131;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}
.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
}
.ui-datatable tbody.ui-datatable-data {
    text-align: center;
}


@media (min-width: 992px) {
    .table-full-width {
        margin-left: -15px;
        margin-right: -15px;
    }

    .table-responsive {
        overflow: visible;
    }
}
@media (max-width: 991px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}


.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    color: white;
}

.right.item a{
    /*color: white;*/
}

.ui-widget {
    font-family: inherit !important;
    font-size: inherit !important;
}







/*Tab Panel*/

.ox-tab-holder section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.ox-tab-holder input {
    display: none;
}

.ox-tab-holder label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.ox-tab-holder label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.ox-tab-holder label[for*='1']:before { content: '\f1cb'; }
.ox-tab-holder label[for*='2']:before { content: '\f17d'; }
.ox-tab-holder label[for*='3']:before { content: '\f16b'; }
.ox-tab-holder label[for*='4']:before { content: '\f1a9'; }

.ox-tab-holder label:hover {
    color: #888;
    cursor: pointer;
}

.ox-tab-holder input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

.ox-tab-holder #pendingRequestTab:checked ~ #pendingRequestContent,
.ox-tab-holder #activeRequestTab:checked ~ #activeRequestContent,
.ox-tab-holder #inactiveSubItemTab:checked ~ #inactiveSubItemContent,
.ox-tab-holder #activeSubItemTab:checked ~ #activeSubItemContent,
.ox-tab-holder #activeBusinessTab:checked ~ #activeBusinessContent,
.ox-tab-holder #processingRequestTab:checked ~ #processingRequestContent,
.ox-tab-holder #disactivatedBusinessTab:checked ~ #disactivatedBusinessContent{
    display: block;
}


@media screen and (max-width: 650px) {
    .ox-tab-holder label {
        font-size: 0;
    }
    .ox-tab-holder label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .ox-tab-holder label {
        padding: 15px;
    }
}



.ui-widget-content{
    border-color: #ddd;
}














.tabs {
    position: relative;
    margin: 0;
    padding: 15px;
    font-size: 0;
}

.tabs li {
    display: inline-block;
    margin-right: 1px;
    list-style-type: none;
    font-size: 14px;
}

.tabs li:last-child { margin-right: 0; }

.tabs li a {
    display: block;
    padding: 10px 15px;
    background: rgba(219,219,219,1);
    text-decoration: none;
    color: #4B5056;
    transition: background 0.5s ease;
}

.tabs a + div {
    position: absolute;
    left: 0;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
}

.tabs :target a { background: rgba(219,219,219,0); }

.tabs :target a + div {
    height: 100%;
    overflow: visible;
}

@media (max-width: 768px) {

    .tabs a { width: 100%; }

    .tabs a + div {
        position: static;
        float: left;
    }

    .tabs li {
        display: block;
        overflow: hidden;
        margin: 0 0 1px 0;
    }
}


.ui-datatable-footer{
    background-color: #f2f5f9;
}

.ui-corner-bottom{
    border-radius: 0px;
}




#main .header-holder{
    height: 50px;
    background-color: #0b536f;
    width: 100%;   
}

#main .ui.menu{
    border-width: 0px;
    border-bottom-width: 1px;
    height: 50px;
    background: #0b536f;
}

.page-title{
    color: white;
}

.right-submenu, .right-submenu a{
    color: white;
}

/*.ui-icon{
    
}

.ui-state-default .ui-icon, .ui-state-hover .ui-icon{

}
.ui-state-default .ui-icon-search{
    background-image: none !important;
}*/


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}