/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2016, 3:42:06 PM
    Author     : Tobi-Morph-PC
*/

.jsf-radio > table{
    
}
.jsf-radio > table tr{
    margin: 0em 0em 1em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /*margin: 0em -0.5em 1em;*/
}

.jsf-radio > table tr td{
    clear: both;
    margin: 0em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    /*padding: 0em 1em 0em 0em;*/
}
.jsf-radio > table tr td:first-child{
    border-left: none;
    box-shadow: none;
}