<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Ordered Items
            </ui:define>

            <ui:define name="page-title">
                Ordered Items
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-10">
                    <h:form id="ordered_item_form">

                        <p:dataTable value="#{portalTransactionController.lazyDataModelOrderedItem}" var="oi" paginator="true" rows="10"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15"  lazy="true" emptyMessage="No Order Record">

                            <p:column headerText="Transaction No">
                                <p:commandLink id="view_order_status" update="ordered_item_form:orderDetailModalPanel" class="text-info"
                                               value="#{oi.batchId}" action="#{portalTransactionController.editOrderStatus(oi)}" oncomplete="PF('orderDetailModal').show()"></p:commandLink>
                            </p:column>
                            <p:column headerText="Time Ordered" sortBy="#{oi.createdDate}">
                                #{oi.createdDate}
                            </p:column>
                            <p:column headerText="Total Amount" sortBy="#{oi.totalAmount}">
                                #{oi.totalAmount}
                            </p:column>
                            <p:column headerText="Delivery Option" sortBy="#{oi.deliveryOption.deliveryOption.option}">
                                #{oi.deliveryOption.deliveryOption.option}
                            </p:column>
                            <p:column headerText="Customer">
                                #{oi.orderedBy.firstName} &nbsp; #{oi.orderedBy.surname}
                            </p:column>
                            <p:column headerText="Delivery Status"  sortBy="#{oi.orderStatus.status}">
                                <h:outputLabel value="#{oi.orderStatus.status}" />
                            </p:column>

                            <p:column headerText="Order Status Mgt"  sortBy="#{oi.orderStatus.status}">
                                <div class="btn-group">
                                    <p:commandLink id="update_order_status" update="ordered_item_form:orderStatusModalPanel" class="btn btn-default"
                                                   value="Update Status" action="#{portalTransactionController.editOrderStatus(oi)}" oncomplete="PF('orderStatusModal').show()"></p:commandLink>

                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <p:commandLink id="order_status_log" update="ordered_item_form:orderStatusLogModalPanel" class="btn btn-xs btn-default"
                                                           value="View Log" action="#{portalTransactionController.editOrderStatus(oi)}" oncomplete="PF('orderStatusLogModal').show()"></p:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </p:column>
                        </p:dataTable>




                        <p:dialog header="Update Order Status" widgetVar="orderStatusModal" minHeight="100" id="orderStatusModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="modal-header">
                                        <p>Update Order #{portalTransactionController.orderedItem.batchId}</p>
                                    </div>
                                    <label>Order Status</label>
                                    <h:selectOneMenu value="#{portalTransactionController.status}" converter="omnifaces.SelectItemsConverter" class="form-control ui dropdown">
                                        <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                        <f:selectItems value="#{portalTransactionController.orderedItemOption}" var="option" itemLabel="#{option.status}"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <h:panelGroup layout="block" styleClass="modal-footer">
                                <h:commandButton class="btn-block btn btn-sm btn-default" value="update status" action="#{portalTransactionController.saveOrderStatusUpdate()}"/>
                            </h:panelGroup>
                        </p:dialog>


                        <p:dialog header="Order Status Log" widgetVar="orderStatusLogModal" minHeight="100" id="orderStatusLogModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="modal-header">
                                        <p>Order #{portalTransactionController.orderedItem.batchId} &nbsp; Log</p>
                                    </div>

                                    <div class="modal-body">
                                        <h:dataTable value="#{portalTransactionController.getOrderedItemStatusLog(portalTransactionController.orderedItem.id)}" var="log"
                                                     class="table table-bordered">
                                            <h:column>
                                                <f:facet name="header">Status</f:facet>
                                                    #{log.orderStatus}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Modified By</f:facet>
                                                    #{log.updatedby.firstName}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Date Modified</f:facet>
                                                    #{log.createdDate}
                                            </h:column>
                                        </h:dataTable>
                                    </div>

                                </div>
                            </div>
                        </p:dialog>



                        <p:dialog header="Order Detail" widgetVar="orderDetailModal" minHeight="100" id="orderDetailModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="modal-header">
                                        <p>Order #{portalTransactionController.orderedItem.batchId} &nbsp; Log</p>
                                    </div>

                                    <div class="modal-body">
                                        <h:panelGroup rendered="#{not empty portalTransactionController.carts}">
                                            <h:dataTable value="#{portalTransactionController.carts}" var="log"
                                                         class="table table-bordered">
                                                <h:column>
                                                    <f:facet name="header">Item</f:facet>
                                                        #{log.kioskItem.item.name}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Quantity</f:facet>
                                                        #{log.quantity}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Total Amount</f:facet>
                                                        #{log.amount}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Unit Price</f:facet>
                                                        #{log.unitPrice}
                                                </h:column>
                                            </h:dataTable>
                                        </h:panelGroup>
                                    </div>

                                </div>
                            </div>
                        </p:dialog>

                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
