<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Financial Transactions
            </ui:define>

            <ui:define name="page-title">
                Financial Transactions
            </ui:define>

            <ui:define name="content">
                <div class="col-lg-10">
                    <h:form id="payment_transaction_form">

                        <p:dataTable value="#{portalPaymentController.lazyDataModelPaymentTransaction}" var="oi" paginator="true" rows="10"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15"  lazy="true" emptyMessage="Empty Record">

                            
                            <p:column headerText="Order Item" filterBy="#{oi.orderItem.batchId}">
                                #{oi.orderItem.batchId}
                            </p:column>
                            <p:column headerText="Total Amount" sortBy="#{oi.amount}">
                                #{oi.amount}
                            </p:column>
                            <p:column headerText="Provider">
                                #{oi.paymentProvider.name}
                            </p:column>
                            
                            <p:column headerText="Transaction Status"  sortBy="#{oi.status}">
                                <h:outputLabel value="#{oi.status}" />
                            </p:column>

                            <p:column headerText="Transaction Date"  sortBy="#{oi.transactionDate}">
                                <h:outputLabel value="#{oi.transactionDate}" />
                            </p:column>

                            <p:column headerText="Reference Number"  sortBy="#{oi.transactionRef}">
                                <h:outputLabel value="#{oi.transactionRef}" />
                            </p:column>

                        </p:dataTable>




                        <p:dialog header="Update Order Status" widgetVar="orderStatusModal" minHeight="100" id="orderStatusModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="modal-header">
                                        <p>Update Order #{portalTransactionController.orderedItem.batchId}</p>
                                    </div>
                                    <label>Order Status</label>
                                    <h:selectOneMenu value="#{portalTransactionController.status}" converter="omnifaces.SelectItemsConverter" class="form-control ui dropdown">
                                        <f:selectItem noSelectionOption="true" itemLabel="-------" />
                                        <f:selectItems value="#{portalTransactionController.orderedItemOption}" var="option" itemLabel="#{option.status}"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <h:panelGroup layout="block" styleClass="modal-footer">
                                <h:commandButton class="btn-block btn btn-sm btn-default" value="update status" action="#{portalTransactionController.saveOrderStatusUpdate()}"/>
                            </h:panelGroup>
                        </p:dialog>


                        <p:dialog header="Order Status Log" widgetVar="orderStatusLogModal" minHeight="100" id="orderStatusLogModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="modal-header">
                                        <p>Order #{portalTransactionController.orderedItem.batchId} &nbsp; Log</p>
                                    </div>

                                    <div class="modal-body">
                                        <h:dataTable value="#{portalTransactionController.getOrderedItemStatusLog(portalTransactionController.orderedItem.id)}" var="log"
                                                     class="table table-bordered">
                                            <h:column>
                                                <f:facet name="header">Status</f:facet>
                                                    #{log.orderStatus}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Modified By</f:facet>
                                                    #{log.updatedby.firstName}
                                            </h:column>
                                            <h:column>
                                                <f:facet name="header">Date Modified</f:facet>
                                                    #{log.createdDate}
                                            </h:column>
                                        </h:dataTable>
                                    </div>

                                </div>
                            </div>
                        </p:dialog>



                        <p:dialog header="Order Detail" widgetVar="orderDetailModal" minHeight="100" id="orderDetailModalPanel">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="modal-header">
                                        <p>Order #{portalTransactionController.orderedItem.batchId} &nbsp; Log</p>
                                    </div>

                                    <div class="modal-body">
                                        <h:panelGroup rendered="#{not empty portalTransactionController.carts}">
                                            <h:dataTable value="#{portalTransactionController.carts}" var="log"
                                                         class="table table-bordered">
                                                <h:column>
                                                    <f:facet name="header">Item</f:facet>
                                                        #{log.kioskItem.item.name}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Quantity</f:facet>
                                                        #{log.quantity}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Total Amount</f:facet>
                                                        #{log.amount}
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Unit Price</f:facet>
                                                        #{log.unitPrice}
                                                </h:column>
                                            </h:dataTable>
                                        </h:panelGroup>
                                    </div>

                                </div>
                            </div>
                        </p:dialog>

                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
