<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{portalPermissionController.reset()}"/>
            </f:metadata>
            
            <ui:define name="title">
                Portal Access Groups
            </ui:define>

            <ui:define name="page-title">
                Portal Access Groups
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <div class="col-lg-5 col-md-8">
                        <div class="clearfix">
                            <h:link outcome="sysRegisterAccessGroup" class="btn btn-sm btn-default pull-left">Create Access Group</h:link>
                        </div>
                        <br></br>                        
                        <h:dataTable value="#{portalPermissionController.accessGroups}" var="u" class="table table-striped table-bordered">
                            <h:column>
                                <f:facet name="header">Access Group</f:facet>
                                <h:commandLink value="#{u.name}" action="#{portalPermissionController.viewAccessGroupDetail(u)}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Description</f:facet>
                                #{u.description}
                            </h:column>
                            
                        </h:dataTable>
                      </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
