<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <ui:remove><f:event type="preRenderView" listener="#{portalPermissionController.emptyDetailPageRedirect()}"/></ui:remove>
                <f:viewAction action="#{portalPermissionController.emptyDetailPageRedirect()}" />
            </f:metadata>

            <ui:define name="title">
                Portal User Group
            </ui:define>

            <ui:define name="page-title">
                Portal User Group
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data" id="accessGroupDetailForm">
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        <div class="clearfix">
                            <h:link outcome="sysAccessGroups" class="btn btn-sm btn-default pull-left">Access Groups</h:link>
                        </div>
                        <br></br>
                        <h:messages />
                        <div class="panel panel-default">
                            <div class="panel-heading">Access Group</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <h:inputText value="#{portalPermissionController.accessGroup.name}" class="form-control" required="true"/>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <h:inputTextarea rows="5" value="#{portalPermissionController.accessGroup.description}" class="form-control"/>
                                </div>
                                <div class="form-group-sm btn-group-sm">
                                    <h:commandButton action="#{portalPermissionController.registerAccessGroup()}" value="Submit" class="btn btn-sm btn-primary"
                                                     rendered="#{portalPermissionController.accessGroup.id == null}"/>
                                    <h:commandButton action="#{portalPermissionController.updateAccessGroup()}" value="Update" class="btn btn-sm btn-info"
                                                     rendered="#{portalPermissionController.accessGroup.id != null}"/>
                                </div>
                            </div>

                            <div class="panel-heading">
                                <span class="panel-title">Access User Groups</span>
                            </div>
                            <h:panelGroup class="panel-body col-sm-12">
                                <h:dataTable value="#{portalPermissionController.accessGroup_UserGroups}" var="u" class="table table-bordered">
                                    <h:column>
                                        <f:facet name="header">Name</f:facet>
                                            #{u.userGroup.userGroupName}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Description</f:facet>
                                            #{u.userGroup.userGroupDescription}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Remove</f:facet>
                                        <h:commandLink action="#{portalPermissionController.removeUserGroupFromAccessGroup(u)}" value="Remove" onclick="return confirm('Are you sure?');"/>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                            <div class="modal-footer">

                                <h:commandLink value="Assign User Group" class="btn btn-xs btn-warning">
                                    <p:ajax oncomplete="PF('userGroupModal').show();return false;" update="accessGroupDetailForm:userGroupModalPanel" />
                                </h:commandLink>
                               

                            </div>

                        </div>

                    </div>


                    <div class="col-md-6 col-sm-12 col-lg-8">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <h:panelGroup id="userGroupPermissionPanel" class="form-group col-xs-6">
                                    <label> Access Group </label>
                                    <h:selectManyListbox value="#{portalPermissionController.selectedAccessGroupPermissions}" class="form-control" converter="omnifaces.SelectItemsConverter"  >
                                        <f:selectItems value="#{portalPermissionController.accessGroupPermissions}" var="urole" itemLabel="#{urole.permissionName}"/>
                                    </h:selectManyListbox>
                                    <span class="clearfix"><br/></span>
                                    <h:commandButton value="Remove" action="#{portalPermissionController.removeSelectedPermissionFromAccessGroup()}" class="btn btn-danger">
                                        <f:ajax event="click" execute="accessGroupDetailForm:userGroupPermissionPanel" render="@form"/>
                                    </h:commandButton>
                                </h:panelGroup>
                                <h:panelGroup class="form-group col-xs-6" id="portalPermissionPanel">
                                    <label>Available Role</label>
                                    <h:selectManyListbox value="#{portalPermissionController.selectedPortalPermissions}" class="form-control" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{portalPermissionController.portalPermissions}" var="role" itemLabel="#{role.permissionName}"/>
                                    </h:selectManyListbox>
                                    <span class="clearfix"><br/></span>
                                    <h:commandButton value="Add" action="#{portalPermissionController.addSelectedPermissionToAccessGroup()}" class="btn btn-primary">
                                        <f:ajax execute="portalPermissionPanel" render="accessGroupDetailForm:userGroupPermissionPanel portalPermissionPanel"/>
                                    </h:commandButton>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>


                    <p:dialog header="Portal User Groups" widgetVar="userGroupModal" minHeight="100" id="userGroupModalPanel">
                        <div>
                            <p:dataTable rendered="#{not empty portalPermissionController.availableUserGroups()}" 
                                         id="userGroupModalDT" var="o" value="#{portalPermissionController.availableUserGroups()}" 
                                         selection="#{portalPermissionController.selectedUserGroups}" rowKey="#{o}" class="table-bordered">

                                <p:column selectionMode="multiple" style="width:36px; text-align:center"/>
                                <p:column headerText="Group Name">
                                    <h:outputText value="#{o.userGroupName}" />
                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton process="userGroupModalDT" update="accessGroupDetailForm" actionListener="#{portalPermissionController.assignSelectedUserGroups}"  value="Process Group"/>
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </p:dialog>


                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
