<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:viewAction action="#{portalPermissionController.emptyUserGroupDetailPageRedirect()}" />
            </f:metadata>

            <ui:define name="title">
                Portal User Group
            </ui:define>

            <ui:define name="page-title">
                Portal User Group
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data" id="userGroupDetailForm">
                    <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="clearfix">
                            <div class="col-lg-12">
                                <h:link outcome="sysUserGroups" class="btn btn-sm btn-default pull-left">User Groups</h:link>
                            </div>
                        </div>
                        <br></br>
                        <h:messages />
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">User Group</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <h:inputText value="#{portalPermissionController.userGroup.userGroupName}" class="form-control" required="true"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <h:inputText value="#{portalPermissionController.userGroup.userGroupDescription}" class="form-control"/>
                                    </div>
                                    <div class="pull-left">
                                        <span data-toggle="buttons-radio">
                                            <h:selectBooleanCheckbox id="staffGroup"  converter="omnifaces.SelectItemsConverter" value="#{portalPermissionController.userGroup.staffGroup}" />
                                            <h:outputLabel for="staffGroup" value="Staff Group? " />
                                        </span>
                                    </div>
                                    <div class="form-group-sm">
                                        <h:commandButton action="#{portalPermissionController.updateUserGroup()}" value="Submit" class="btn btn-sm btn-primary pull-right"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">User Group Access Groups</span>
                                </div>
                                <h:dataTable value="#{portalPermissionController.userGroup_AccessGroups}" var="u" class="table table-bordered">
                                    <h:column>
                                        <f:facet name="header">Description</f:facet>
                                            #{u.accessGroup.description}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Permission</f:facet>

                                        <h:commandLink value="View" class="text text-info" action="#{portalPermissionController.viewAccessGroupPermission(u.accessGroup)}">
                                            <p:ajax oncomplete="PF('accessGroupPermissionsModal').show();return false;" update="userGroupDetailForm:accessGroupPermissionsModalPanel" />
                                        </h:commandLink>
                                    </h:column>
                                </h:dataTable>
                            </div>
                        </div>

                    </div>




                    <div class="clearfix"></div>

                    <div class="col-sm-10 col-lg-8">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-title">
                                    Group Users
                                </div>
                                <div class="panel-body">
                                    <h:dataTable value="#{portalPermissionController.userGroup_Users}" var="userg" class="table table-striped">
                                        <h:column>
                                            <f:facet name="header">First Name</f:facet>
                                            <h:outputText value="#{userg.user.firstName}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Last Name</f:facet>
                                            <h:outputText value="#{userg.user.surname}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Email</f:facet>
                                            <h:outputText value="#{userg.user.emailAddress}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Phone Number</f:facet>
                                            <h:outputText value="#{userg.user.phoneNumber}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">Account Status</f:facet>
                                            <h:outputText value="#{userg.user.active}" />
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>




                    <p:dialog header="Access Group Permissions" widgetVar="accessGroupPermissionsModal" minHeight="100" id="accessGroupPermissionsModalPanel">

                        <p:dataTable rendered="#{not empty portalPermissionController.accessGroupPermissions}" 
                                     id="accessGroupPermissionsModalDT" var="o" value="#{portalPermissionController.accessGroupPermissions}" class="table-bordered">

                            <p:column headerText="Group Name">
                                <h:outputText value="#{o.permissionName}" />
                            </p:column>

                        </p:dataTable>

                    </p:dialog>



                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
