<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <ui:define name="title">
                Portal Request
            </ui:define>

            <ui:define name="page-title">
                User Business Request
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <div class="col-md-8 col-sm-10 col-lg-6">
                        <div class="clearfix">
                            <h:link outcome="sysUserGroups" class="btn btn-sm btn-default pull-left">User Groups</h:link>
                        </div>
                        <br></br>
                        <h:messages />
                        <div class="panel panel-default">
                            <div class="panel-heading">Create User Group</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <h:inputText value="#{portalPermissionController.userGroup.userGroupName}" class="form-control" required="true"/>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <h:inputTextarea cols="40" value="#{portalPermissionController.userGroup.userGroupDescription}" class="form-control"/>
                                </div>
                                <div class="pull-left">
                                    <span data-toggle="buttons-radio"  >
                                        <h:selectBooleanCheckbox id="staffGroup"  converter="omnifaces.SelectItemsConverter" value="#{portalPermissionController.userGroup.staffGroup}" class="checkbox pull-right"/>
                                        <h:outputLabel for="staffGroup" value="Staff Group? " />
                                    </span>
                                </div>
                                <div class="form-group-sm">
                                    <h:commandButton action="#{portalPermissionController.registerUserGroup()}" value="Submit" class="btn btn-sm btn-primary pull-right"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
