<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template/portaluser.xhtml">

            <f:metadata>
                <f:event type="preRenderView" listener="#{portalPermissionController.reset()}"/>
            </f:metadata>

            <ui:define name="title">
                Portal User Groups
            </ui:define>

            <ui:define name="page-title">
                Portal User Groups
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <div class="col-lg-5 col-md-7">
                        <div class="clearfix">
                            <h:link outcome="sysRegisterUserGroup" class="btn btn-sm btn-default pull-left">Create User Group</h:link>
                        </div>
                        <br></br>
                        <h:dataTable value="#{portalPermissionController.userGroups}" var="u" class="table table-striped table-bordered">
                            <h:column>
                                <f:facet name="header">User Group</f:facet>
                                <h:commandLink value="#{u.userGroupName}" action="#{portalPermissionController.viewUserGroupDetail(u)}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">User Group Description</f:facet>
                                    #{u.userGroupDescription}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Staff Group</f:facet>
                                    #{u.staffGroup}
                            </h:column>
                        </h:dataTable>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
