<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css" id="bootstrapcss" />
        <h:outputStylesheet library="kiosk-ui" name="css/reset.css" />
        <h:outputStylesheet library="tuktuk-1.0.0" name="tuktuk-1.0.0-custom.css"/>
        <h:outputStylesheet library="semantic-ui" name="css/semantic.css"/>
        <h:outputStylesheet library="kiosk-ui" name="css/portaluser.css" />
        
        
        <title><ui:insert name="title"></ui:insert></title>
    </h:head>


    <h:body>
        <div id="layout">
            <!-- Mobile Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link"><span></span></a>

            <div id="menu">
                <h:form>
                    <a class="ox-heading" href="#"> <i class="fa fa-lemon-o fa-fw"></i>Manager</a>
                    <div id="vertical-menu">
                        <ul>
                            <li>
                                <h:link outcome="maDashboard" class="item-header #{fn:startsWith(view.viewId, 'index') ? 'activeSpan' : ''}"><i class="fa fa-tachometer fa-fw"></i>Dashboard</h:link>
                            </li>
                            <li>
                                <h:link outcome="maKiosks" class="item-header #{fn:startsWith(view.viewId, '/kiosk/') ? 'activeSpan' : ''}">
                                    <i class="fa fa-tachometer fa-fw"></i>
                                    My Kiosk
                                </h:link>
                            </li>
                            <li>
                                <h:link outcome="boOrderPending" class="item-header #{fn:startsWith(view.viewId, '/order/') ? 'activeSpan' : ''}"><i class="fa fa-tachometer fa-fw"></i>Manage Order</h:link>
                            </li>
                        </ul>
                    </div>
                </h:form>

            </div>

            <div id="main">
                <div class="ox-header ui menu">
                    <div class="header item page-title">
                        <ui:insert name="page-title"/>
                    </div>

                    <div class="right menu right-submenu">
                        <div class="item">
                            <h:form>
                                <h:commandLink rendered="#{businessController.user.id != null}" style="margin-right: 35px;" action="passwordChange">Change Password</h:commandLink>
                                <h:commandLink rendered="#{transactionController.user.id != null}" action="#{userController.logout()}"><span class="fa fa-sign-out"></span> Logout</h:commandLink>
                            </h:form> 
                        </div>
<!--                        <a class="item">Help</a>-->
                    </div>
                </div>

                <div class="content">
                    <ui:insert name="content"></ui:insert>
                    <div class="clearfix clear"></div>
                    <h:form>
                        <br/>
<!--                        <div class="col-md-3 column_3">
                            <h:commandLink onclick="history.go(-1);return false;" class="back-button"><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Back</h:commandLink>
                        </div>-->
                    </h:form>
                </div>
            </div>


        </div>


        <!--<h:outputScript library="kiosk-ui" name="js/jquery.min.js" target="head" />-->
        <h:outputScript library="javax.faces" name="jsf.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
        <!--<h:outputScript library="bootstrap" name="js/bootstrap.js" target="head" />-->
        <h:outputScript library="kiosk-ui" name="js/ui.js"/>
        <h:outputScript library="semantic-ui" name="js/semantic.js"/>
        <h:outputScript library="kiosk-ui" name="js/ui.js"/>
        <script>
            /*jQuery time*/
            jQuery(document).ready(function () {
                jQuery("#vertical-menu span").click(function () {
                    //slide up all the link lists
                    jQuery("#vertical-menu ul ul").removeClass("activeSpan").slideUp();
                    //slide down the link list below the h3 clicked - only if its closed
                    if (!jQuery(this).next().is(":visible")) {
                        jQuery(this).next().addClass("activeSpan").slideDown();
                    }
                });
            });
        </script>

    </h:body>

</html>
